[2018-09-09 07:10] mcg-web commented on #374
In your schema extension you should wrap all objects graphql resolver and use ResolveInfo to get the field query and if query fields are deprecated add them in a variable (an array on Dreprecated Schema Extension itself or using context?). I'm not sure if this is the best way but this can be done like that. A combination of different Events can maybe do the same thing in a cleaner way.

[2018-09-10 15:40] mauriau opened #379 "Log graphql Errors from results"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11

somethings like this
I will make the PR

[code]

[2018-09-11 19:28] AdelBachene opened #380 "We cannot Use PHP Magic calls due to the way `PropertyAccessor` is created in Resolver class"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? |no
| RFC?             | no
| Version/Branch   | 0.11

Hi Guys,

I was trying to implement translation in my Doctrine entities using this bundle [KnpLabs/DoctrineBehaviors](https://github.com/KnpLabs/DoctrineBehaviors#proxy-translations) and I had to use PHP magic function __call

[2018-09-12 05:39] mcg-web commented on #380
Hi,
thank you, for reporting this! Making default `Resolver` is a very good idea but this is a feature not a bug in our context. This will be implement in new version. You can easily fix your issue right now by changing the default resolver using parameters:

[code]

[2018-09-12 06:36] mcg-web commented on #374
#378 Should make this easier to implement

[2018-09-12 06:56] Kocal commented on #374
Mmmh maybe, I will take a look because I'm stuck at the moment :rofl:

[2018-09-12 09:00] pascaldevink opened #381 "Passing integer to GlobalId causes "Malformed UTF-8 characters" error"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.5

TLDR; When passing an integer to an `ID` field, an `InvalidArgumentException` is triggered with the message "Malformed UTF-8 characters, possibly incorrectly encoded".

With a schema like this:
[code]
It can be seen that the

[2018-09-12 09:05] mcg-web commented on #381
GlobalId should be use only for global id entry `base64_encode('Blog:15')` for example.

[2018-09-12 09:06] pascaldevink commented on #381
yes, obviously, but we don't always control the input from our clients, and this actually just happened to us 😄

[2018-09-12 11:38] mcg-web commented on #381
You should maybe use a custom method to check if GlobalId is a string before trying to decode it.

[2018-09-12 14:51] mcg-web commented on #381
I'm closing this, if needed don't hesitate to continue to ask questions here.

[2018-09-12 14:51] #381 closed

[2018-09-13 10:50] nckenn opened #382 "Asking Question"
Hi is it possible to use pagerfanta pagination on Relay Pagination helper?

[2018-09-13 12:10] mcg-web commented on #382
The [doc example](https://github.com/overblog/GraphQLBundle/blob/master/docs/helpers/relay-paginator.md#example) does not help? What do you exactly missing?

[2018-09-14 00:56] nckenn commented on #382
in pagerfanta you need page number and limit, paginator helper callback function has offset and limit when i try to dump limit  it automatically increment, for example when i put argument "first: 10" then on callback it become 11, hope you can help me. below is my sample code:

`query {
  provinces(first: 10){
    edges{
      node{
        proNo
        proName
      }
      cursor
    }
    page

[2018-09-14 12:59] Nyalab commented on #382
Are Yoh Kenn?

[2018-09-16 15:41] mcg-web commented on #382
@nckenn the relay paginator works a way difference from a normal paginator. This was created by Facebook for it own use in a first place. This paginator is more like an infinite scroll...

[2018-09-17 02:56] nckenn commented on #382
thanks ;)

[2018-09-17 05:17] mcg-web commented on #382
I'm closing this, don't hesitate to continue discussion if needed :+1:

[2018-09-17 05:17] #382 closed

[2018-09-18 03:26] nckenn commented on #349
This will be a good feature ;)

[2018-09-19 04:37] nckenn opened #383 "(QUESTION ) : GraphQL schema language type inheritance"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | x.y.z

Hi type inheritance is supported on your .yaml, but how about on .graphql?

[2018-09-19 04:44] mcg-web commented on #383
Hi, this is not implement right now. But you can use decorator (yaml) combine with graphql schema language.

[2018-09-19 11:43] #383 closed

[2018-09-19 11:44] mcg-web commented on #383
Closed this but you can continue the discussion here :+1:

[2018-09-19 14:31] carere opened #384 "Need more informations for using custom scalar type :)"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.5

Hello :)

First of all, a big thanks for that beautiful bundle :)

I choose this one over Yoshido because it's easier to create the schema based on entity's annotations than on Yoshido :)

Anyway, i got a problem to understan

[2018-09-19 14:48] mcg-web commented on #384
Hi thank you for using this bundle! Your issue is a normal behavior since DateTime type is never used in your Schema so it is never loaded, if you want to make it public anyway add it to `types` entry
[code]
[see for more details](https://github.com/overblog/GraphQLBundle/blob/master/UPGRADE-0.11.md#explicitly-declare-non-detected-types)

[2018-09-19 16:59] carere commented on #384
Hey :)

Thx for the quick answer :)

I manage to get this work with your advice :)

so Here is the finished DateTimeType object for other who need this answer:

[code]

I think it would be great to replace the DateTime example in the doc with this one :)
And maybe explain in further detail the auto_mapping and auto_discover option :)

Again, thx a lot for this bundle, it's very nice to work with i

[2018-09-19 16:59] #384 closed

[2018-09-19 20:19] sylfabre opened #385 "Symfony cache is compiled too many times"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.5

I don't know how files from `/var/cache/[dev|test|prod]/overblog/graphql-bundle/__definitions__` are loaded but if one of them is not created at the same time as `/var/cache/[dev|test|prod]/src[Dev|Test|Prod]DebugProjectCont

[2018-09-20 05:26] mcg-web commented on #385
Thank for your feedback and the minimal code to reproduce this :+1:. This is very good description of the issue!

[2018-09-20 13:20] akomm opened #387 "field access seemingly random behavior, data leaked to unauthorized users!"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12-dev

[code]

On Query fields, I have currently seemingly random behavior, when user is NOT fully authenticated:

Possible outcomes, when I query those fields:
1. error, can not return null on non nullable field
2. proper error

[2018-09-20 13:49] akomm commented on #387
I think this is the reason for the data leakage:

https://github.com/overblog/GraphQLBundle/blob/c1c6341534c87c2a2a9b3df6622ac27b47c9c80c/src/Resolver/AccessResolver.php#L62-L68

It assumes all fields of the results are non-virtual properties and available ahead of time. But that is not how the resolve works.

[2018-09-20 13:59] mcg-web commented on #385
Thanks again for feedback! Fixed in [v0.11.6](https://github.com/overblog/GraphQLBundle/releases/tag/v0.11.6).

[2018-09-20 13:59] #385 closed

[2018-09-20 14:39] mcg-web commented on #387
@akomm I don't really get the issue can you provide a minimal example. If this is a security issue we will BC if needed.

[2018-09-20 14:56] mcg-web commented on #387
I think I get it:

It's a normal behaviors that:
- field value is [replaced by null](https://github.com/overblog/GraphQLBundle/blob/master/docs/security/fields-access-control.md#fields-access-control) if `access: '@=isFullyAuthenticated()'` so you field should be null.
- If `access: false` with replace field `resolve` by  [an closure that throw an exception](https://github.com/overblog/GraphQLBund

[2018-09-20 15:16] akomm commented on #387
@mcg-web I know it is replaced with null, but it should not trigger internal error.

Instead it should provide graphql error.

It does provide graphql error when I configure `access: false`, why should it not behave the same way with `access: "@=isFullyAuthenticated()"` on the same field?

Maybe you think the expression is still the fieldsDefaultAccess. I was in the narrative context, when I told

[2018-09-20 15:29] akomm commented on #387
Config:
[code]
Query:
[code]

Result:
[code]

Change config (access: false):
[code]
Result (correct, non 500 code http response with graphql error):
[code]

[2018-09-20 16:47] akomm commented on #387
So I have a fix, that does not break any other tests and seem to be BC. It should prevent access checks to be applied on an array resolve value, if the type is not actually a ListOfType . What do you think? It prevents leaking of data.

[2018-09-21 05:27] mcg-web commented on #387
Thank you @akomm for the minimal reproduction, I'm going to give it a try

[2018-09-21 10:14] akomm commented on #387
Note: the variance between null internal error and graphql error "access denied" is fixed with this merge too! :+1:

[2018-09-21 15:10] akomm commented on #364
@danaki try `composer update overblog/graphql-bundle`

If your repository returns the transaction as array, you might have been affected by this: #387

It has been fixed up from version 0.9

[2018-09-21 15:19] akomm commented on #362
"Sumitted data" is kind of a huge context to pick from you gave. What is submitted data?

The whole request? You can try json_decode the body, after injecting it via request_stack.

Or in a mutation the arguments? arguments into your resolver. `args`

Query information/ast? check resolveInfo. `info`

see in the variable [descriptions table](https://github.com/overblog/GraphQLBundle/blob/61bba98267

[2018-09-24 12:54] akomm commented on #322
@Kocal does something like this work for you:

[code]

This would not create access denied error message though.

My humble opinion on this:

The way I work this is actually not an issue at all. Graphql errors are in my opinion anyway often used the wrong way.

For me there is an `application / implementation` error and `user feedback`. Graphql errors should be used for the first case. If you have

[2018-09-27 11:28] enumag opened #393 "Error when using GraphQL schema language"
I'd like to simplify my application by defining types using the [GraphQL schema language](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/graphql-schema-language.md) and implementing a [ResolverMap](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/resolver-map.md). Unfortunately I'm getting an error `Unknown type with alias "Query" (verified service tag

[2018-09-27 12:04] mcg-web commented on #393
Try replacing thess [line in the bundle](https://github.com/overblog/GraphQLBundle/blob/master/src/Resolver/TypeResolver.php#L69-L73) by `$type = $this->getSolution($alias);` then retry, can you provide the error please?

[2018-09-27 12:32] mcg-web commented on #393
seems like you missing this in your config
[code]

[2018-09-27 12:42] enumag commented on #393
Indeed that's it. I'll send a PR to add this to the [GraphQL schema language](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/graphql-schema-language.md) page.

Thank you!

[2018-09-27 13:09] #393 closed

[2018-09-28 14:42] spyl94 opened #395 "Name configuration should not override aliases"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | maybe
| RFC?             | no
| Version/Branch   | 11

I have 2 types `InternalQuery` and `PublicQuery` that I want to use in 2 different schemas but I want to keep the name `Query` on each schema.

The problem is that the bundle generates an `Overblog\GraphQLBundle\__DEFINITIONS

[2018-10-05 18:56] Vincz commented on #349
This feature looks great ! :)
I tried the annotations branch, but I have a problem (that I don't have with the original from @CocoJr  repo). I think it's related to the changes made on the AnnotationParser.
I'm trying to use my doctrine entities as graphql type.
If I target the same folder for entities & graphql type mapping with annotation, like this:

[code]

I get an error telling me that my "D

[2018-10-06 20:15] Vincz commented on #349
Ok, it has to do with the way you create an new ClassLoader instead of using the default one in the method `getAnnotationReader` of the AnnotationParser.

This doesn't work:
[code]

This works:
[code]

It seems that when using your way, the annotation registry is only able to resolve Graphql annotations and not the others ones from ORM for example (so it fails).

Also, `AnnotationRegistry::registe

[2018-10-06 21:08] Vincz commented on #349
I really like the annotations approach but currently, the behavior is a bit weird.
The annotation parser will map any class in the mapping folder, as long as it has at least one of his property has a `@ORM\Column` or `@Graphql\Column`.
I think that:
- The annotation @GQL\GraphQLType should be mandatory in order to expose a class as Graphql Type.
- Not sure that the ORM annotations should also be u

[2018-10-08 05:45] mcg-web commented on #349
Thank you @Vincz and @CocoJr for feedback. To be totally honest, my team and I prefer external config files over annotations. Since this is an open source project we trying to make this the easier to use for the larger number of person. @Vincz annotations is still under development for this bundle, we can maybe start by implementing only some `gql` annotations totally independent to doctrine ORM a

[2018-10-08 07:17] Vincz commented on #349
Hi guys! Thank you for your feedbacks. I already started to work on it from the annotations branch.
I'll let you know how it goes. Just for information, what is it you don't like about annotations ? @mcg-web ?

[2018-10-08 07:29] mcg-web commented on #349
We don't use annotations not because we don't like it but we just prefer the abstraction that comes with externals config files.

[2018-10-08 07:38] CocoJr commented on #349
Thx @Vincz for your work.
I don't have any time to continue this features, because graphQL without Subscription is not really what i need (i can use simple RESTfull with react-apollo-rest for the same result, and continue my REST API in the same way), but i'm sure implementing this solution can be very helpfull for a lot of people.
If you need any help, you can contact me, it's just a begining of

[2018-10-09 12:34] enumag opened #399 "Wrong type of defaultValue"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.7

I've changed my setup to declare most of my schema using [GraphQL schema language](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/graphql-schema-language.md) and I implement a few customized ResolverM

[2018-10-09 12:50] enumag commented on #399
Or maybe we should use `AST::valueFromASTUntyped()` instead?

https://github.com/webonyx/graphql-php/blob/master/src/Utils/AST.php#L507

[2018-10-09 12:56] mcg-web commented on #399
Hi @enumag thanks for bringing this up, this effectively a bug. Using native AST method is maybe the best way to go. This should be fix from 0.11 branch. Do you want to submit a PR to fix it please?

[2018-10-10 07:07] mcg-web commented on #399
Thank you again

[2018-10-10 07:07] #399 closed

[2018-10-14 11:20] Vincz commented on #349
Hi @mcg-web & @CocoJr !
So I rewrote the annotations system. I added some tests and updated the documentation.
You can have a look here : https://github.com/Vincz/GraphQLBundle/tree/annotations
At the moment, it's quite simple and it isn't related to Doctrine ORM.
I also added an expression resolver `@=resolver_value` that use a method on the value object itself as a resolver (You can check the us

[2018-10-14 14:46] mcg-web commented on #349
Hi @Vincz,

Thanks for this first part! It seem that this makes the annotation implementation a little closer to the others GraphQL config parsers (yaml, xml, GSL). Don't hesitate to open PR on annotations branch if first part is ready to merge, this will help you to don't have to deal with conflicts.

Yes I agree, annotations will add a next and easier way to implement a GraphQL in an existing pr

[2018-10-16 05:25] mcg-web opened #406 "Introduce compile default resolver"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.12

To improve performance the default external field resolver should be replace by a resolver on compile time.
This idea came from [this discussion](https://github.com/overblog/GraphQLPhpGenerator/issues/25).

[2018-10-16 05:34] mcg-web commented on #380
The external default field resolver will be replaced by generated code on compile time, config will leave more hand on how to manage all these #406

[2018-10-16 05:34] #380 closed

[2018-10-19 07:58] mcg-web commented on #331
Here [the commit](https://github.com/overblog/GraphQLBundle/commit/7d2e44971548957398351d8ad695d18c28e7bd2c) that fixed this, thanks again for feedback :+1:

[2018-10-19 07:58] #331 closed

[2018-10-19 08:02] mcg-web commented on #323
For some reasons of time and of compatibility it is not possible to fix that without introducing BC. Sorry but the only solution is to upgrade to 0.11. Feel free to continue discussion if needed.

[2018-10-19 08:02] #323 closed

[2018-10-19 08:03] #367 closed

[2018-10-19 08:05] mcg-web commented on #303
Closing this because of inactivity, feel free to continue discussion if this is still needed.

[2018-10-19 08:05] #303 closed

[2018-10-19 08:08] mcg-web commented on #305
This will be implemented in separated project since this is only a dev requirement.

[2018-10-19 08:08] #305 closed

[2018-10-19 09:35] hjanuschka opened #408 "nested resolver"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | master

i am trying to do some nested resolver.

schema:

[code]

post:
[code]

running query:

[code]

return:

[code]

in the `something` field, the resolver has access to `args` - but is there a  way to access the parent's  value

[2018-10-19 09:50] mcg-web commented on #408
Hi it seems that your resolver arguments is not properly ordered:

[code]
try `@=resolver('Post', [args, value])"`

[2018-10-19 11:03] hjanuschka commented on #408
@mcg-web ohhh wow, thx, i feel dumb now! many thx, it works, sorry for wasting your time.

[2018-10-19 11:06] #408 closed

[2018-10-20 18:36] SebastienTainon opened #409 "[Question] Decoupling root mutation file into separate DDD YAML files"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11/0.12

Hello,
This is at first a question but maybe also a feature request. From the documentation, we have to declare in the configuration the name of the root mutation file:

[code]

However, with a big application containing,

[2018-10-20 19:06] mcg-web commented on #409
Hi, you can use decorator to split your RootMutation in multiple files, see type inheritance doc section for more details.

[2018-10-20 19:48] SebastienTainon commented on #409
Oh great I didn't know about this, thanks @mcg-web!

For people interested in this, here is the way to do it: you have to create as many GraphQL types as you want, and declare them as decorators. Then, in your RootMutation, you just have to inherit from them so that your RootMutation get their fields in it:

[code]

[2018-10-20 19:48] #409 closed

[2018-10-22 13:40] AdelBachene commented on #380
@mcg-web Thank you

[2018-10-24 10:19] tlenclos opened #410 "Can't set a scalar parameter into GraphQL classes"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Version  | 0.11.9

Hi and thanks for your work !

I think I have encountered a bug in the compiler pass. I can't manage to use named parameter for my GraphQL services, they are reset somehow by the bundle.

## Reproduction
in `services.yaml`
[code]

in `App\GraphQL\Mutation\UploadMutation`
[code]

I always end up with the

[2018-10-24 12:34] mcg-web commented on #410
Hi! thanks for reporting this issue and the reproduction. We'll try to give this a fix quickly.

[2018-10-24 14:00] mcg-web commented on #410
Ok I get it, your service is missing the mutation tag
[code]
Also if you register your service using DI no need to implement MutationInterface

[2018-10-24 14:20] tlenclos commented on #410
I'm having the same issue with the tag sadly.

[2018-10-24 14:30] mcg-web commented on #410
Cna you try to remove `MutationInterface`

[2018-10-24 14:39] tlenclos commented on #410
I'm having a weird exception now with

[code]

[code]
![image](https://user-images.githubusercontent.com/686101/47438708-4a41b600-d7ab-11e8-8783-f5a0e1ff4df1.png)

[2018-10-24 21:02] Jan1torEarl opened #411 "Test"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Version/Branch   | x.y.z

[2018-10-24 21:02] #411 closed

[2018-10-29 16:38] Vincz opened #412 "Relay Connection, Paginator & Connection builder"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no

Hey guys,
I have a question regarding the relay connections implementation.
As describe in the docs, we are able to define connections & edges with additional fields using the `relay-connection` type.
But, tell me if I'm wrong, but the Paginator doesn't handle this custom fie

[2018-10-29 21:03] calvera commented on #412
:+1:

[2018-10-30 06:44] mcg-web commented on #412
Hi @Vincz, I'm totally OK with this enhancement? Do you want to implement it?

[2018-10-30 06:57] Vincz commented on #412
Hi @mcg-web !
No problem, I'll take care of it in the coming days :)

[2018-10-30 07:04] mcg-web commented on #412
Thank you @Vincz :+1:

[2018-10-30 12:18] Vincz commented on #412
Ok, see #413 for the implementation :)

[2018-11-01 17:56] carere opened #414 "Pass additional data for type defined in schema.yml"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11

Hello :) Thx a lot for this amazing bundle.

I have a question, i would like to add some additional info in my yaml schema:

Exemple:

[code]
So is there any options which allow us to pass custom data ?

I'll explain :) I would

[2018-11-05 11:17] tejadong opened #415 "Pagination, response modification..."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11

Hello, I do not know how to implement a paging with this bundle, I have read something about relay in the help but I do not get anything clear, the help is very bad I have had thousands of problems to be able to operate this bu

[2018-11-05 17:29] yoannrenard commented on #322
Hi guys,

I'm enduring the same issue but weirdly enough when I type `access: false` I do get my `Access denied to this field.` error but when I type  `access: "false"` I don't.

It looks like `access` needs a boolean to work.

[2018-11-05 17:35] mcg-web commented on #322
Hi, access must be boolean for your example that the normal behavior (bool) "false" === true. Maybe we should throw an exception if not a boolean?

[2018-11-05 18:13] Kocal commented on #322
That would be a nice improvement! 🙂

[2018-11-05 19:06] yoannrenard commented on #322
@mcg-web Exactly! This is how yaml works and, I think, should work.

The thing here is that when you use `access: "@=hasRole('ROLE_SUPER_ADMIN')"` it takes it as a string not as a boolean therefore the check is always true.

FYI I'm working on an old project with a deprecated version of this bundle (0.9.x) and sf 2.8. I know shame on me :see_no_evil:

I'll dig into it deeper tomorrow.

[2018-11-06 06:33] mcg-web commented on #322
`@=` is a trigger to say that the string we dealing with is an expression language string. `hasRole('ROLE_SUPER_ADMIN')` will be compiled into [this php code](https://github.com/overblog/GraphQLBundle/blob/master/src/ExpressionLanguage/ExpressionFunction/Security/HasRole.php#L16 ) `$globalVariable->get('container')->get('security.authorization_checker')->isGranted('ROLE_SUPER_ADMIN');`...  This is

[2018-11-06 07:12] mcg-web commented on #415
Hello,

Relay is not a concept of this bundle, we just give a way to implement it here. For more [details see the official documentation](https://facebook.github.io/relay/docs/en/graphql-server-specification.html), also I agree that the bundle documentation need a lot of improvements... You can find an [example using relay connection](https://github.com/mcg-web/graphql-symfony-doctrine-sandbox).

[2018-11-06 09:14] tejadong commented on #415
Thank you a lot :+1:

[2018-11-06 11:00] mcg-web commented on #415
Closing this, feel free to continue discussion if needed :+1:

[2018-11-06 11:00] #415 closed

[2018-11-12 15:41] carere commented on #414
Hello @mcg-web

Thx for your answer, first of all, my goal is to see that custom field when im introspecting my GraphQL API :)

I'll try to give you some context:

On my admin (made with Vue & Apollo), i introspect my graphql api in order to auto-generate the form for my entites. (I only have one Form.vue which take a string, representing the entity: `User` or `Role`, as parameter to create the fo

[2018-11-15 10:31] arnaud-lb opened #418 "Undefined variable: globalVariables"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Version/Branch   | 0.11.9

When using a custom global variable, the following error appears:

[code]

In the generate type, we can see this code:

[code]

The generated code uses `$globalVariables` instead of `$globalVariable`

[2018-11-17 08:32] mcg-web commented on #418
This part of the bundle is not yet documented, seems you using some hidden features :laughing:, thanks again for the fix!

[2018-11-17 09:15] #418 closed

[2018-11-17 09:17] arnaud-lb commented on #418
Thanks for the quick merge :)

[2018-11-20 14:12] bastos71 opened #421 "Cache Permissions issue when clearing"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | unknown
| RFC?             | no
| Version/Branch   | v0.11.8

It seems that cache files created by the bundle are not well handled when the application try to refresh them, due to rights problems

The problem occurs on a Vagrant local environment and on a AWS EC2 prodution enviro

[2018-11-20 15:52] mcg-web commented on #421
That a known error see https://github.com/overblog/GraphQLPhpGenerator/issues/24 for more details. You can [commit generated files](https://github.com/overblog/GraphQLBundle/blob/master/docs/index.md#composer-autoloader-configuration-optional) to don't have to generate them in production environment while waiting for a better fix.

[2018-11-20 15:59] bastos71 commented on #421
oh thx for link !
I'll take a look about configuring the cache dir and comiting it, but we agree that's not a good thing
Thanks again

[2018-11-29 08:53] JuanWilde opened #424 "Syntax error while fetching data"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.11.9

I'm implementing this library in a project and for the moment I only have the User and Group entities. The User works fine, but the Group gives me a syntax error. A `group` is owned by an `user` and I think the problem could

[2018-11-29 08:57] enumag commented on #424
`group` is a keyword in mysql. If you use it as table name you need to quote it.

[2018-11-29 09:02] JuanWilde commented on #424
The `user_group` is actually the join table for both
![image](https://user-images.githubusercontent.com/6040385/49210566-b375a400-f3bd-11e8-88cd-930429f46935.png)

Maybe is because the join table is missing the ID (it doesn't have it because I'm migrating a project from another Framework...)

[2018-11-29 09:06] #424 closed

[2018-11-29 09:15] enumag commented on #424
@JuanWilde Personally I don't like plural in table names so I'd recommend `user`, `user_group` and `user_group_user`.

[2018-11-29 09:16] JuanWilde commented on #424
Makes sense. Actually I always use singular for table names. But I though this could be an exception. I'll refactor this thing and keep migrating :)

[2018-12-03 15:16] bastos71 commented on #344
@mcg-web could you please update `GraphQLBundle/docs/definitions/type-system/interface.md` to introduce a basic usage example of an interface please ?

[2018-12-03 15:23] mcg-web commented on #344
@bastos71 we have in plan to rewrite totally the documentation introducing some examples but we missing time right now, you can find a complete example here https://github.com/mcg-web/graphql-symfony-doctrine-sandbox/tree/master/src/AppBundle/Resources/config/graphql

[2018-12-12 15:54] Fivedark opened #430 "Missing deprecation option for input-object"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.0

The input-option type should also allow to deprecate some fields like enum and object.

[2018-12-13 13:06] mcg-web commented on #430
The [official specs](https://facebook.github.io/graphql/June2018/) don't seems to talk about that. Anyway this should be first implement in [webonyx/graphql-php](https://github.com/webonyx/graphql-php). This bundle is just the Symfony bundle of this lib.

[2018-12-19 06:41] mcg-web commented on #430
I'm closing this right now, feel free to continue discussion if needed.

[2018-12-19 06:41] #430 closed

[2018-12-19 11:36] apoberez opened #431 "webonyx version to 0.13"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11

Hello, can we update webonyx/graphql-php version. There is bug in current version https://github.com/webonyx/graphql-php/issues/420

[2018-12-19 12:41] mcg-web commented on #431
Hello, we can try but since 0.13 introduce php 7.1 typehint it is not compatible with the bundle 0.11 version. The bump will be certainly done on 0.12-dev (master).

[2018-12-20 22:21] benjamindulau opened #433 "[Documentation] How to organize resolvers with resolver map"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.10

I really struggle with the Resolver map and how I should organize things.

I'd like to abstract some of the work to reduce verbosity.

My goal is to obtain something as straightforward as the following:

[code]

[code]

[cod

[2018-12-21 08:47] mcg-web commented on #433
Can you try using callable resolver with `__invoke` method?

[2018-12-21 09:00] benjamindulau opened #434 "[Documentation] Reuse custom scalar type in ResolverMap"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.10

I'm trying to define custom scalar types  in my ResolverMap, but I get the following error:

[code]

Here is my code:

[code]

[code]

And I correctly configured Symfony so it auto-magically adds the `overblog_graphql.type`

[2018-12-21 09:05] benjamindulau commented on #434
Also, when I declare it this way:

[code]

I get the following error:

[code]

Should I add somewhat in my `schema.graphql` file?

[2018-12-21 09:09] mcg-web commented on #434
Do you add `scalar DateTime` in schema.graphql file?

[2018-12-21 09:37] benjamindulau commented on #433
@mcg-web You mean using tagged resolver services instead of the ResolverMap? Like the following?

[code]

[2018-12-27 10:35] benjamindulau commented on #434
@mcg-web Good call. That was the issue. Closing this, thanks!

[2018-12-27 10:35] #434 closed

[2019-01-03 12:18] Vincz opened #437 "Dynamic types / fields generation"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12

I was wondering if we could come up with some dynamically generated queries and/or mutations.
With the new annotation system, it's really easy to map Doctrine Entities with GraphQL types.
Now, I'd need to be able to generate,

[2019-01-03 17:18] Vincz commented on #437
So, I gave a shot to the solution 1. It's quite simple and working great. It's just about delegating fields configuration generation to an other class. It's the exact same thing as the "Field Builder" except it generate multiple fields instead of just one. I'll clean the code a make a PR.
Doing so, I was wondering if it would be possible to replace the builder classes by services. I'm not sure wha

[2019-01-04 07:02] mcg-web commented on #437
Hi @Vincz Solution 1 look good to me but fields builder should also implements [MappingInterface](https://github.com/overblog/GraphQLBundle/blob/master/src/Definition/Builder/MappingInterface.php). Builders as services would be great but this mean that we wouldn't always have a complete schema on Symfony DI compile time. Maybe using a later PassConfig type (afterRemoving ?) would do the job but I'

[2019-01-09 15:06] ruudk opened #439 "Register `ResolverInterface` and `MutationInterface` for auto configuration"
| Q                | A
| ---------------- | -----
| Bug report?      |no
| Feature request? | yes

We are in the process of upgrading our codebase from Symfony 3.3 to Symfony 4 and want to use autowire. We were quite surprised to find out that OverBlogGraphQLBundle has it's own "auto wire" (auto mapping). We disabled that option (`overblog_graphql:    definitions:        auto_mapping: false`) but

[2019-01-10 06:33] mcg-web commented on #439
This could not be added to 0.11 releases since this feature was introduce in Symfony +3.3 and we supports +3.1. For 0.11 we recommends using config file to do the work:

[code]

 PR are welcome for 0.12-dev (master) version since auto_mapping config was totally removed.

[2019-01-11 10:03] #437 closed

[2019-01-11 10:51] akomm commented on #290
I try to find time to revisit this guys. Currently on too many fronts and can only do this in free time.

[2019-01-15 10:52] mcg-web commented on #421
will be soon released

[2019-01-15 10:52] #421 closed

[2019-01-25 11:54] god1dog opened #444 "pthreads from the box"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | x.y.z

Good afternoon, how is it possible to implement multi-threaded **pthreads**?

[2019-01-25 15:59] ElGovanni commented on #433
Did you solve this?

[2019-01-28 13:52] god1dog commented on #444
Opened the question  maybe someone will be interested

[2019-01-30 21:26] apoberez opened #446 "Define schema types using GraphQL schema language relay example"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12

I'm going to try define schema types using GraphQL schema language. Are there any examples for relay?

[2019-01-31 17:00] riroxumigu commented on #433
@mcg-web Same issue for me, could someone show better example how resolver und map?

[2019-02-01 06:46] mcg-web commented on #446
Hi @apoberez, the bundle don't have any helper for relay when using GraphQL schema language. You can combine yaml (for relay) and GraphQL schema language or define your relay directly using GraphQL schema language.
here an example of how this can be done with GraphQL schema language for Relay connection:

[code]

**Tips:**

You can use yaml then dump the graphql equivalent using command:

[code]

[2019-02-01 06:50] mcg-web commented on #433
@riroxumigu [this could maybe help you](https://github.com/overblog/GraphQLBundleDemo). I'll try to work on a resolver map using tagged "classic resolver" in the coming days.

[2019-02-01 10:04] SebastienTainon commented on #128
The link was not available anymore, here is the updated link of the documentation: https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/upload-files.md

[2019-02-01 12:59] apoberez commented on #446
Hi @mcg-web! Thanks!

Few tips from what I learned:
1. `config/graphql/types/schema.types.graphql` isn't full api schema. For example when using `bin/console graphql:dump-schema --file=php://stdout --format=graphql` `PageInfo` type will be added automatically.

2. `Overblog\GraphQLBundle\Relay\Connection\Paginator` could be used same way as previously.

[2019-02-01 13:01] apoberez commented on #446
Closing this issue. In case I'll have some new information I will add it here.

[2019-02-01 13:01] apoberez commented on #446
Closing this issue. In case I'll have some new information I will add it here.

[2019-02-01 13:01] #446 closed

[2019-02-04 08:46] mcg-web opened #447 "Add a dockerfile to run tests"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12

[2019-02-18 15:54] maxtorchel opened #448 "Resolver autowiring not work if different folder structure"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.11, dev-master

i want to realize business logic folder structure (Core, Products etc), and for this i use following service config:

    _defaults:
        autowire: true
        autoconfigure: true
        public: false

[2019-02-18 16:07] mcg-web commented on #448
Can you try this command line:
[code]

[2019-02-18 16:16] maxtorchel commented on #448
[code]
If i use AliasedInterfase all works fine.

[2019-02-18 17:56] mcg-web commented on #448
if just implementing AliasedInterface returning an empty array for getAliases it works?

[2019-02-18 18:57] maxtorchel commented on #448
no

[2019-02-19 13:50] mcg-web commented on #448
This seems to be a bug must give it a try myself to fix it, thank you for feedback

[2019-02-19 22:55] murilozilli opened #449 "Improve exception message with request data"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? |yes
| BC Break report? |no
| RFC?             | no
| Version/Branch   | 0.11

I'm getting an exception on my server which I attached a screenshot.

![screenshot from 2019-02-20 09-53-06](https://user-images.githubusercontent.com/10093456/53053402-5e958580-34f5-11e9-98de-d7f59594231e.png)

I just can't kno

[2019-02-20 10:08] felek000 opened #450 "resolvers relations nested"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.1.2

I try to get nested data.
I have my Main query
[code]

Post type
[code]

and my tag

[code]

So now i want to resolve function for tag like so:
If there is parent Post get related tags
If there is an argument for tag get 1 tag

[2019-02-20 13:28] ossinkine opened #451 "Add support for schema definition in GraphQL schema language"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.11

GraphQL schema document requires `schema` section which describe root operations.
Right now these operations are specified as config parameter `overblog_graphql.definitions.schema.query`.
I suggest to add support to describ

[2019-02-21 12:01] felek000 commented on #450
Solved.

If anyone interested if you pass param you get Entity and if you not  value will be data from parent resolver.

[2019-02-21 12:01] #450 closed

[2019-02-23 12:53] nicodmf opened #453 "Use Symfony formtype as argument"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | all

As nelmio api rest doc has, this bundle could use Symfony FormType as argument. The advantages :

- less argument declaration
- automatic validation and error handling
- best integration in the framework

All basic FormType cou

[2019-02-27 06:37] mcg-web commented on #451
hi @ossinkine this could be a nice feature indeed.

[2019-02-27 06:39] mcg-web commented on #449
Hi @murilozilli feel free to submit a PR to improve this if you need some more information.

[2019-02-27 06:41] mcg-web commented on #453
hi @nicodmf, this could be a nice feature indeed, do you want to work on this?

[2019-03-01 13:14] sanan-tech opened #454 "Bundle can't see my configs"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.11

Hi guys! My GraphQLBundle configuration does not work now:(

`config/graphql/types/Mutation.types.yml` below:

[code]
Error below:

[code]
`App\GraphQL\Mutation\UserMutation`:
[code]
where did I make a mistake?

[2019-03-01 13:49] mcg-web commented on #454
Hi @sanan-tech, how did you declare the mutation UserMutation service? what the output of this cli?
[code]

[2019-03-01 13:53] sanan-tech commented on #454
output:
[code]

[2019-03-01 14:18] sanan-tech commented on #454
this problem is rosolved after i wrote type in method `deleteUser(string $email)`

[2019-03-01 14:26] mcg-web commented on #454
And this one?
[code]

[2019-03-01 14:28] sanan-tech commented on #454
This problem is solved after I wrote the type in the `deleteUser method (string $email)` :D

[2019-03-01 14:34] sanan-tech commented on #454
but, now I have other trouble and maybe its depends with this. So please don't close this issue now, give me more time for research and solving this... maybe I will find a solution myself. After I will comment here my results.

[2019-03-01 14:46] mcg-web commented on #454
this look like an opcache problem, try adding `opcache_reset()` in your bootstrap.

[2019-03-04 10:08] sanan-tech commented on #454
problem resolved::)

[2019-03-05 10:36] bastos71 opened #457 "Union as InputType"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | v0.11.11

Is there a way to use a Union as Input Object into a Mutation ?
Apparently it is currently into development : https://github.com/facebook/graphql/pull/395

Here is my case : I've got a union called `EntityUnion` that regro

[2019-03-05 10:48] mcg-web commented on #457
Hi, this is not possible, this is not part of the specs right now. Union can be use only on output type.  The only trick you can use right now is a custom scalar type.

[2019-03-05 10:49] #454 closed

[2019-03-05 11:09] bastos71 commented on #457
@mcg-web Thank you for your answer.
But if I use a custom scalar type, all automation taht matches inputs and type mapping would be lost, no ?

I was thinking about another tricky solution : having an InputType that would contain a field for each type contained in my original Union :

[code]

What do you think ?

[2019-03-05 13:14] mcg-web commented on #457
Using scalar we make you loose the benefit of automation indeed.
yes using optional input object fields is also a solution.

[2019-03-06 01:06] nicodmf commented on #453
Hi, i can, have you little informations on where to begin ?

[2019-03-06 13:06] Vincz commented on #453
Hi! I was thinking about it, and I don't really see what is possible to do about this. The Symfony Form provide a way to display and handle HTML forms with the "view" part, the "normalization part", etc... It displays widgets and normalize the data, etc...
With GraphQL, we don't have forms. We have mutations. And GraphQL already describes the way this mutations should work. We don't have the "clie

[2019-03-06 20:56] nicodmf commented on #453
I don't think about validation in the first time but more on args generation, like with the builder https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/builders/args.md. As the validation is included in form this could be surelly used in the second time.

Concerning the form component, even if it could be used as html generator, the base concept is biggest :

IMO, graphql don't

[2019-03-09 13:32] mcg-web commented on #431
Fixed in 0.11, will be soon released, thanks again for feedback!

[2019-03-09 13:32] #431 closed

[2019-03-09 13:33] mcg-web commented on #457
Feel free to continue discussion here if needed :+1:

[2019-03-09 13:33] #457 closed

[2019-03-09 14:23] mcg-web commented on #364
Fixed, thanks again for feedback!

[2019-03-09 14:23] #364 closed

[2019-03-09 18:45] nicodmf commented on #453
A POC which treat basic form is available in #461

The usage is by exemple :

[code]

This add args from form (for moment basic fields: text, number) and merge with args

The problems not resolve which demands yours advices :
- to add types discovered in the form to the schema (i don't find schema and manipulate it in the ConfigProcessor)
- a more efficiency method could be to change the generated

[2019-03-10 19:47] ddlzz opened #462 "custom accessor"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.9

hi there! is it possible to use some kind of custom accessors for entity fields?

I mean it would be great to have something like

[code]

and then
[code]
would give us the result of a custom getter.

[2019-03-12 06:19] mcg-web commented on #462
ping @Vincz this seem to already be include in annotations branch, I'm I right?

[2019-03-12 14:52] Vincz commented on #462
Hey ! Yes, with annotation, you can use the `@GQL\Field` annotation on properties or on methods.
See https://github.com/overblog/GraphQLBundle/blob/annotations/docs/annotations/annotations-reference.md#field

[2019-03-12 15:17] ddlzz commented on #462
thanks guys!

[2019-03-12 15:17] #462 closed

[2019-03-15 11:56] sanan-tech opened #464 "How to configure bundle for accepting only POST requests?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.11

Hi:) I need configure bundle for accepting only HTTP POST requests. How to make it?

[2019-03-15 12:23] osavchenko commented on #464
You can specify it in your routing file (just add `methods: POST` to the GraphQL endpoint)

[2019-03-15 12:26] sanan-tech commented on #464
thanks!

[2019-03-15 12:26] #464 closed

[2019-03-18 10:27] enumag opened #465 "Configuration BC break in 0.11.12"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.11.12

[code]

[code]

If this is intentional then the docs are outdated.

[2019-03-18 10:29] enumag commented on #465
Oh sorry it seems symfony/flex somehow deleted the bundle from `bundles.php`. No idea why.

[2019-03-18 17:17] osavchenko opened #466 "Error formatting"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.11.12

In [documentation Error formatting](https://github.com/overblog/GraphQLBundle/blob/0.11/docs/events/index.md#error-formatting) result looks like:
[code]

but in latest update it have different format:
[code]

Could you adv

[2019-03-18 17:24] mcg-web commented on #466
This change is coming from the latest graphQL specs, if you do not want to use it right now, just lock webonyx/graphql-php to 0.12.* version in your composer file

[2019-03-18 20:29] osavchenko commented on #466
Thank you for the information!

[2019-03-18 20:29] #466 closed

[2019-03-19 09:40] calvera commented on #465
flex deleted bundle config as well :(

[2019-03-19 10:44] mcg-web commented on #465
This is maybe due to the merge of the generator lib in the bundle since flex have to s

[2019-03-20 09:39] Sephirothus commented on #410
Hi, what's the status on this bug? I'm using your package and I need to pass entity manager with alternative connection. I'm doing this from services.yaml

        AppBundle\GraphQL\Mutation\UserMutation:
              tags: ['@overblog_graphql.mutation']
              arguments:
                  $em: '@doctrine.orm.user_entity_manager'

 And when I autowire argument in class __constuct, I get de

[2019-03-20 10:06] mcg-web commented on #410
This bug was not fixed since this could introduce BC, this come from AliasedInterface usage, removed it and defined [your aliases using tags](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/resolver.md#the-service-way).

[2019-03-20 11:08] Sephirothus commented on #410
Thanx for quick answer, but it did not help:(
I'll post my whole code, please look at it, maybe I've made a mistake somewhere.

mutation class:
[code]
services.yaml
[code]
Mutation.yaml
[code]

[2019-03-20 13:02] mcg-web commented on #410
if you want to use fqcn you must remove alias:

[code]

[2019-03-20 13:23] Sephirothus commented on #410
Did not helped, still default connection:(
Any thoughts?

[2019-03-20 14:10] mcg-web commented on #410
Do you have some wildcard rules in your dependency injection configuration?

[2019-03-20 14:25] Sephirothus commented on #410
I get a quick look at project and not found any wildcards

[2019-03-20 15:41] mcg-web commented on #410
Can you name your service
[code]

what is the output of this CLI?

[code]

[2019-03-21 11:30] Sephirothus commented on #410
------------------------------------------------------------- ---------
  solution id                                                   aliases
 ------------------------------------------------------------- ---------
  AppBundle\GraphQL\Mutation\UserMutation::createUser
 ------------------------------------------------------------- ---------

[2019-03-23 16:51] ruudk opened #467 "Interface X must be implemented by at least one Object type"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Version/Branch   | dev-master

I have the following configuration:
[code]

throws this exception:
[code]

If I register `blablabla: { type: 'StripePlatform!' }` somewhere, for example the viewer, it works.

Somehow, the validator is super strict. It does not understand that I only refer to the inte

[2019-03-23 22:35] mcg-web commented on #467
This is not a bug since 0.11 you must explicitly declare object types that can be auto discover by the schema. [See the change here](https://github.com/overblog/GraphQLBundle/blob/master/UPGRADE-0.11.md#explicitly-declare-non-detected-types)

[2019-03-24 06:51] ruudk commented on #467
Aha! Then the interface / inheritance docs are not updated yet. I will make a PR.

Thanks.

[2019-03-24 09:33] ruudk opened #469 "Resolve object to enum"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | maybe?
| BC Break report? |no
| Version/Branch   | dev-master

In our application, we create Enum's as objects:
[code]

Our entities and models can then return an instance of Action. For example `new Action(Action::ACTION_DELETE)`

What I would like is that whenever GraphQL stumbles upon an object of typ

[2019-03-24 09:37] ruudk commented on #469
Turns out it's possible to override the `serialize` like this:
[code]

[2019-03-27 09:44] hjanuschka opened #470 "use GraphQuery without HTTP"
is there a way that one can use a Query and get a json response without HTTP?

like  (pseudo)

[code]

so we could internally use the graph api a bit better?

[2019-03-27 10:11] mcg-web commented on #470
You can use service `overblog_graphql.request_executor` it is public.
`$requestExecutor->execute($schemaName, $requestParams, $rootValue);` where `$schemaName` can be null, `$requestParams = ['query' => '...', 'variables' => '...', 'operationName' => '...' ]`, `$rootValue` can also be null

[2019-03-27 10:37] hjanuschka commented on #470
@mcg-web  thats nice, going to give it a try, many thx!

[2019-03-29 09:36] hjanuschka opened #472 "alias fields"
having something like:

[code]

i get an error that its an illegal field because it starts with an integer.
but the underlying object has those properties, is there a lightwight way (without using custom resolver/transformer)  to alias a field like

[code]

thx for the great project. ❤️

[2019-03-29 10:22] mcg-web commented on #472
@hjanuschka this limitation come from the [GraphQL](https://graphql.github.io/graphql-spec/June2018/#sec-Names) itself. You can use expression language :

[code]

[2019-03-29 10:26] hjanuschka commented on #472
@mcg-web many many thx, exactly what i was looking for.

[2019-03-29 10:26] #472 closed

[2019-03-29 10:31] hjanuschka commented on #472
`Attempted to load class \"QueryType\" from namespace \"Overblog\\GraphQLBundle\\__DEFINITIONS__\".\nDid you forget a \"use\" statement for another namespace?",`

oops does not seem to work, trying to find a way to debug it

[2019-03-29 10:34] hjanuschka commented on #472
`Expected name around position 7 for expression `value.630x616_white_white`.`

[2019-03-29 10:38] hjanuschka commented on #472
seems to be not working when integeras at the front, sad, its  a "bad-decision" in the underlying dataobject anyway

[2019-03-29 10:48] hjanuschka commented on #472
ok - for the record, ended up like this:

[code]

Resolver:
[code]

[2019-03-29 18:02] akomm commented on #290
@coolmic @IgorSzymanski finally got my hands on this, WIP

[2019-04-02 03:40] vroad opened #474 "Setting boolean config value via enviornment variables is not supported"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.12

[code]

It's currently not possible to set config values that expects boolean value via env vars, as Symfony's config processor always think that the value is string, not boolean.
To make this work, the fix should be made

[2019-04-03 05:06] mcg-web commented on #470
Closing this, feel free to continue discussion here if needed.

[2019-04-03 05:06] #470 closed

[2019-04-03 23:14] akomm commented on #469
If you do not want the serialize method, you could maybe do something like this too:

[code]

[2019-04-04 11:53] #469 closed

[2019-04-04 13:22] akomm commented on #290
implemented with #473

[2019-04-04 13:22] #290 closed

[2019-04-05 10:46] akomm commented on #474
Is `%env(bool:GRAPHQL_AUTO_COMPILATION)%` not a thing the corresponding symfony loader (yaml/xml/...) should have already processed before it reaches the config processor?

In case it is so, that is either `symfony/config` bug or we simply have `symfony/config` version which does not yet support the type form: `%env([type]:[name])%`

[2019-04-05 12:49] #467 closed

[2019-04-05 14:42] akomm commented on #447
Can travis run docker?

[2019-04-05 14:46] akomm commented on #447
Maybe I can do this. I work a lot with docker. Only not so much with travis. Going to check [this](https://docs.travis-ci.com/user/docker/).

[2019-04-05 14:48] akomm commented on #447
Or do you want it for local test only, so you do not have to install all the on your platform?

[2019-04-05 15:13] akomm commented on #453
@nicodmf you are right about what symfony states about the component, though I agree with @Vincz that the Form component is in reality way to HTML-centric. Just check this out: https://github.com/symfony/form/blob/master/Form.php.

At some point I was deciding whether I will use it in API context based on the quoted official statement, but its simply is not really that generic. I would not recomme

[2019-04-05 16:00] mcg-web commented on #447
This is for local test in a first place.

[2019-04-05 16:06] akomm commented on #447
Do you want it run different php versions like on travis or a single one? (I usually run the most recent for local test, as the other is covered by travis and managing all the versions is time consuming).

[2019-04-05 16:33] mcg-web commented on #447
The most recent for local tests are sufficient

[2019-04-07 13:42] nicodmf commented on #453
submit, handleRequest are not only for html puposes. clickedButton yes, but why not used a good and many tested library when just a function doesn't usefull.

It's the fourth projet that i lead  with this bundle, and really the error handling is to implements. The 3 first projets i used a dedicated graphql type to be comprehensible by our developpers (back and front). The Form usage is the last im

[2019-04-08 10:50] akomm commented on #453
Big library, good library and a library that fits are distinct things to me. We should not argue how big something is, but how does it relate to this project and how does it fit into it.

Vincz has made some good points as to why exactly it does not fit. I agree with his opinion.

Also what you have posted here is simply done with resolver + builder and can be even a composer package if you want s

[2019-04-08 13:30] sylfabre opened #478 "Using phpdoc as language expression"
At AssoConnect, we use the PHPDoc content (class, method and property) as description for GraphQL as we do not want to duplicate code/content.

We have developed a custom language expression `@phpdoc(SomeClass::$someProperty)`.

Would you like a PR for this?

[2019-04-08 15:26] #447 closed

[2019-04-08 15:46] akomm commented on #321
@Kocal
What do you expect, when:
- an args builder emits arg which already defined in configs
- an successive args builder emits arg which already emitted by previous arg(s) builders?

[2019-04-08 18:04] ruudk opened #479 "Resolve input-object to PHP object"
It would be nice if I could map input-object's to real PHP objects like I can do with Scalars.

[code]

I want to map this input to `Money\Money` object.

[2019-04-08 18:32] Vincz commented on #479
Hey! You should checkout the `annotations` branch and the related documentation.
Like [creating input object with annotation](https://github.com/overblog/GraphQLBundle/blob/annotations/docs/definitions/type-system/input-object.md) and [the arguments transformer ](https://github.com/overblog/GraphQLBundle/blob/annotations/docs/annotations/arguments-transformer.md) to populate and validate automatic

[2019-04-08 18:46] ruudk commented on #479
@Vincz Thanks :) In this project we don't want to use annotations but just YAML for all configurations. Do you think it would be possible to create some kind of transformer between Input object to PHP code?

[2019-04-08 18:52] Vincz commented on #479
@ruudk Yes, you can still use the [Argument transformers](https://github.com/overblog/GraphQLBundle/blob/annotations/src/Transformer/ArgumentsTransformer.php) without annotations, but you will need to provide manually the PHP classes / GraphQL objects map. The rest should works just fine.

[2019-04-08 21:48] akomm commented on #448
@maxtorchel does adding `\\` fix it?

`@=resolver("\\App\\Core\\GraphQL\\Login\\LoginResolver::login", [args["login"]])`

[2019-04-09 06:54] Kocal commented on #321
Ah you're right, I didn't think about this.
I didn't touch GraphQL/ArgsBuilders for months, but I have 2 propositions:
  1. Do a simply `array_merge` with definitions arrays
  2. Modifiy the `toMappingDefinition` method to inject a new parameter that is the previous mapping definition, and let the user do what he wants:
[code]

[2019-04-09 07:32] akomm commented on #321
I would not yet touch the MappingInterface as it is used in too many different places.

Maybe I phrase the focus of the question differently: Do you think an arg builder replacing args from other arg builder is rather not an error and you want to allow it or rather error you want to know about at compile time after changing the config.

[2019-04-09 08:01] Kocal commented on #321
... I don't know, both solutions seems good to me ¯\\_(ツ)_/¯

[2019-04-10 08:32] ruudk opened #480 "Caching issues >`var/graphql` should be within the container folder"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | v0.11.12

We are actively using GraphQLBundle in 2 big projects. The first project is using it already using it since the beginning of this amazing bundle. The other project just recently started using it.

Both projects now have th

[2019-04-10 08:42] mcg-web commented on #480
We have the same issue when using it dev  env without cache with a js client. The bundle store the generated files in `var/cache/{env}/overblog/graphql-bundle` dir. We can move this in `var/cache/{env}/{ContainerId}/overblog/graphql-bundle` if this can solve this issue.

[2019-04-10 09:00] ruudk commented on #480
I think it makes a lot of sense to connect it to the compiled container id. When the container is rebuilt, it probably means that the configuration was changed. That should also trigger the GraphQL bundle to re-update.

Would it be hard to change its location to the containerId?

[2019-04-11 08:47] mcg-web commented on #480
I search to find how to locate cache in the same dir of the container build but this part don't seem to be documented.

[2019-04-15 07:58] nicodmf commented on #453
To much boilerplate i think.

[2019-04-15 09:58] ivoba commented on #465
This might be related:
when i want to upgrade from v0.11.11 to v0.11.12 composer says:

Which seems a bit weird: why updating overblog/graphql-php-generator to overblog/graphql-bundle ?

Also as the others stated flex deleted bundle config.

[2019-04-15 11:55] akomm commented on #453
1. You don`t simply take a structure for automatic types if it does not make sense, as Vincz explained why.
2. Linux kernel also has event system. How does linux kernel fit into this project?
3. Why should there be a direct link to doctrine?
4. We could have this with the validation component without all the html-centric widget- system of forms
5. How that? Just because you hard-code more from sym

[2019-04-15 12:59] mcg-web commented on #465
this change has been made for webonyx/graphql-php 0.13 support didn't know that flex would react like that. Anyway, that would be the same case when upgrading to 0.12 after the release.
This seem to be flex normal behavior.

With git you should be able to reverse your config changes.

[2019-04-23 14:22] maxtorchel commented on #448
no

[2019-04-24 15:42] Vincz commented on #478
Hi @sylfabre,
I don't really understand what you mean. Could you add more examples ?

[2019-04-24 16:27] Vincz commented on #453
It's what I implemented in the [Arguments Transformer](https://github.com/overblog/GraphQLBundle/blob/annotations/src/Transformer/ArgumentsTransformer.php) in the `annotations` branch. It just prepares arguments (turn submitted data into PHP objects), validate them and respond with errors if it fails. From this point, as we are mapping the data to PHP objects, you can do whatever you want with it

[2019-04-24 21:14] sylfabre commented on #478
Hi @Vincz
We use it for description mostly.

For instance with https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/type-system/object.md as an example:
- you probably need to describe the method `character_friends` with `The friends of the character.`
- you don't want to duplicate this description
=> we use `description: @phpdoc('SomeClass::character_friends()')` instead of `des

[2019-04-29 15:20] ruudk commented on #479
Do you think the Argument Transformer will be merged soon?

[2019-04-30 09:46] Vincz commented on #479
Hey @mcg-web, do you think we could merge the annotation branch into master now?

[2019-04-30 13:11] mcg-web commented on #479
Yes we can, master is still under development.

[2019-05-01 16:27] mcg-web commented on #479
done!

[2019-05-06 14:22] armetiz commented on #433
@mcg-web any news?

[2019-05-07 17:02] arnaud-lb opened #483 "The GraphQL type "[...]" has already been registered"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Version/Branch   | master

When using using multiple kernel/container instances in the same PHP process, the AnnotationParser can throw the following exception:

[code]

[2019-05-08 06:12] #483 closed

[2019-05-08 06:14] mcg-web commented on #483
Thank you @arnaud-lb for your feedback :+1: , the issue should be solved on master.

[2019-05-08 08:13] emr opened #485 "Using decorators with graphql"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12

Decorators are available with yaml configuration for now in this bundle. But how would be if we use it with graphql schema?

My situation:

We already have an `graphql.schema` file in our project. I want to define each of all

[2019-05-08 08:25] arnaud-lb commented on #483
Thanks !

[2019-05-08 08:32] mcg-web commented on #485
Hi @emr, this should already be possible, decorator and inheritance has been introduced in a first place to be used with GraphQL schema language but since it was combining Yaml and GQL we decided to used a more straightforward way `ResolverMap`.

Here how this can be done:

[code]

[code]

[2019-05-09 14:49] arnaud-lb opened #486 "ArgumentsTransformer is not transforming arguments whose value is falsy"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Version/Branch   | master

When a value is falsy, like an empty array, ArgumentsTransformer will not transform it:

https://github.com/overblog/GraphQLBundle/blob/d82eda72b715def7dc613400f42f23cd30ffdadd/src/Transformer/ArgumentsTransformer.php#L79-L83

Apparently, input objects whose no property was specified (by the use

[2019-05-09 16:45] #486 closed

[2019-05-10 08:17] akomm commented on #480
Actually, I am using version `dev-master#d273a2efd2d9b7385cc0e95f8ed1e473aedf698c`, which has its definitions namespaced by `containerId`. However it also fails to load Types. Less random. It seem to almost always fail, sometimes randomly it does not. Had no time checking why that is.

I checked bundle extension config and found a way around it, which I leave that way as it seems better than the d

[2019-05-10 09:44] FabG-CS opened #488 "ForbiddenOverwriteException with 2 different endpoints"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.12

Hello,
First of all, thank you for all the work done on this bundle.

Then, my question :
I have 2 different endpoints (let's call them "`Endpoint_A`" and "`Endpoint_B`").
I want to have 2 differents GraphQL Schemas (1 schem

[2019-05-10 11:03] akomm opened #490 "Invalid defaults for setMaxQueryComplexity and setMaxQueryDepth"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12-dev

Command example:
`graphql:dump-schema --format=graphql --file=./shared/graphql/api.graphql`

Result:
[code]

Exec: `bin/console config:dump-reference overblog_graphql | grep query_max`
Output:
[code]

Its populated here: `

[2019-05-10 11:16] akomm commented on #490
Btw, the workaround is:
[code]

In own config.

[2019-05-10 12:11] mcg-web commented on #490
This seem to come from the last release v0.13.2 of `webonyx/graphql` because travis build also. I'm searching to see what going wrong.

[2019-05-10 12:27] mcg-web commented on #490
here [the fix](https://github.com/webonyx/graphql-php/pull/476), I'm going to also patch the bundle to allow only integer.

[2019-05-10 13:16] mcg-web commented on #488
Hi @FabG-CS,

it would be ambiguous if we could use multiple types with the same name, since all types are compile on the same level and type are not directly attached to a schema.
This is possible in Yaml or Xml since you can use alias to declare your types.

[code]

[2019-05-10 13:38] FabG-CS commented on #488
Hi @mcg-web,
Thank you for your answer. 👍
But on more question : you said :

Why did you do this choice ? Wasn't it possible to handle 1 schema par endpoint ?

[2019-05-10 14:00] mcg-web commented on #488
We handle 1 schema per endpoint but types are not directly related to the schema since types can be autodiscovers.

[2019-05-10 14:33] FabG-CS commented on #488
OK, thank you for these answers.

[2019-05-10 14:33] #488 closed

[2019-05-23 05:23] #490 closed

[2019-05-23 05:26] mcg-web commented on #485
Feel free to continue discussion here if needed.

[2019-05-23 05:26] #485 closed

[2019-05-23 05:26] #479 closed

[2019-05-23 06:55] emr commented on #485
@mcg-web thank you for the answer. I did not have the opportunity to try. If I have a problem related to it, I will make re-active this issue.

[2019-05-24 08:12] akomm opened #492 "Flex unconfiguration"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11, 0.12-dev

@mcg-web can this be triggered by something in the way how the recipe is defined:

https://github.com/symfony/flex/issues/497

I have to add, it was unconfigured on an composer update with version 0.11 too after I wr

[2019-05-24 08:23] mcg-web commented on #492
I'm closing this issue in favor of #465

[2019-05-24 08:23] #492 closed

[2019-05-24 08:25] akomm commented on #492
Oh, could not have guessed it by the title :)

[2019-05-24 08:36] akomm commented on #465
@mcg-web Only reverting configuration is not clean enough, as the bundle/recipe is removed from `symfony.lock`.

- Make sure your config is committed (not staging changes)
- Update to 0.12-dev (flex will unconfigure)
- Remove vendor
- Run `composer install`. It makes flex to rediscover the recipe and write it into symfony.lock
- Revert your config **now**

[2019-05-24 08:46] akomm commented on #480
I have to admit I was confused by something, the generated output is not inside the containerId directory, it was just the service using them.

[2019-05-26 19:34] #349 closed

[2019-05-30 15:22] enumag opened #493 "Symfony 4.3 EventDispatcher deprecation"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.12

[code]

The easy fix is of course swapping the arguments and raising the version constraint for symfony/event-dispatcher.

If you want compatibility with older Symfony as well then it gets a bit more complicated but doable.

[2019-05-30 20:46] mcg-web commented on #493
Since we want compatibility with older Symfony indeed it will be a little more complicated. I'll try to fix this when making the bundle supports Symfony 4.3 in the coming days.

[2019-05-31 20:31] #326 closed

[2019-06-01 08:30] mcg-web commented on #493
Fixed and released in [v0.11.13](https://github.com/overblog/GraphQLBundle/releases/tag/v0.11.13). Thank you for reporting this :+1: .

[2019-06-01 08:30] #493 closed

[2019-06-05 12:38] tiberiu89 opened #499 "Annotations support in latest release?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11.13

EDIT: Maybe I rushed a bit, I guess you are planning it for 0.12 release? Looking forward to have this ;)

Hi there, I'm wondering why do you have the annotations code only in master and separate branch. I found some referen

[2019-06-05 12:49] #499 closed

[2019-06-06 10:40] tiberiu89 opened #501 "Annotations config setup"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12-dev

Hi, @Vincz,

I'm trying to have a complete annotation based setup. Read the docs, my goals is to have something like this
https://github.com/overblog/GraphQLBundle/blob/master/docs/annotations/arguments-transformer.md

I us

[2019-06-06 14:12] Vincz commented on #501
Hey @tiberiu89 :)

The way the providers (with the `@GQL\Provider` annotation) work, is simply by adding the queries and mutations as fields on the Root Query or the Root Mutation types defined in the config. The problem is that at the moment, this Root Query & Mutation need to also be defined by annotations in order to be handle by the Annotations Parser.

Now, the default resolver for the provid

[2019-06-06 15:52] tiberiu89 commented on #501
Thanks for the reply, it was useful.

It was my noob mistake, I forgot about symfony private services and that they are on by default, so that was it. Managed to run some queries.

As a side question, If cannot use providers without a root query for example, what would be the use case for providers. I assume I would use them just to group some actions together. But I guess the same can be achieved

[2019-06-06 15:53] #501 closed

[2019-06-13 15:12] theofidry commented on #467
Hello, I may be a bit late to the party but I'm failing to understand: how come they cannot be resolved during the static analysis? In the following example:

[code]

I get that `'@=resolver("foo", [value])'` is dynamic, nonetheless each implementation declares `interfaces: [FooInterface]`, can't it be inferred from that?

[2019-06-13 15:30] theofidry commented on #467
Nevermind I got my answer: during the static analysis graphql-php is looking at the type tree from the root to the leaves. As a result it's possible that some types implementing interfaces never appears in that tree at all, hence the need of an extra step for the user to refer them.

I would however point out that this is very error prone without any further check of the definition files as indeed

[2019-06-14 05:54] mcg-web commented on #467
I agree with the error prone @theofidry but today we use this to load types between multiple schema without having to separate them in mapping. This is a behavior that going to change and we'll can give some more feedback to dev about unused config files.

[2019-06-20 14:31] akerbel commented on #448
I got the same problem. My project already has a classic frontend and I tried to attach GraphQL. Everything works only if it is full covered by aliases.

[code]

[2019-06-25 10:09] Vincz opened #506 "Add @GQL\Access support on @GQL\Provider"
| Q                | A
| ---------------- | -----
| Feature request? | yes

It would be great if `@GQL\Provider` would support the `@GQL\Access` & `@GQL\Public` annotations.
The `@GQL\Access` defined on the class provider would be used as the default access for queries and mutations defined in the Provider.

[2019-06-25 15:19] dbartel-br opened #508 "Add Apollo Federation Support"
| Q                | A
| ---------------- | -----
| Feature request? | yes

# Context

[Apollo Federation](https://www.apollographql.com/docs/apollo-server/federation/introduction/) is the [Apollo Platform](https://www.apollographql.com/)'s solution to creating a unified data graph that has an implementation split across multiple GraphQL services. It would be great if we could hook into this with

[2019-06-26 09:00] mcg-web commented on #508
@dbartel-br this seem to be a good feature to implement in the bundle. Do you want to work on this feature, I can follow an give helps if needed.

[2019-06-30 05:53] mcg-web commented on #506
Fixed by #507, thank you!

[2019-06-30 05:53] #506 closed

[2019-07-01 09:08] Vincz opened #513 "Add the ExecutorArgumentsEvent as property to the ExecutorResultEvent"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no

Hey @mcg-web ! As title said, I'd like to add the `ExecutorArgumentsEvent`  in the `ExecutorResultEvent` of the executor `Overblog\GraphQLBundle\Request\Executor`.
What do you think? I need a way to know what was the operation, variables, etc... and wh

[2019-07-01 10:19] mcg-web commented on #513
Hi @Vincz this look good to me. This really answer to a need.

[2019-07-02 11:10] Vincz opened #514 "Add the ability to inject the ResolveInfo in methods args"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? |no

It would be great to be able to get the ResolveInfo in methods with auto-guessed arguments.
For example:

[code]

Wondering also if we should allow services injection. But it would means that the args could be either special (like ResolveInfo), a service or regular GraphQL arg

[2019-07-02 11:30] mcg-web commented on #514
This is the way to go also for regular resolver, allowing the injection base on the type declaration or the args name. But this a long run so maybe we should start by accepting the graphql resolver base arguments ( value, info, context, rootValue).

[2019-07-02 15:22] #322 closed

[2019-07-03 09:28] cajax opened #515 "ArgumentTransformer does not handle nested NonNull inputs"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12.0

Hello!
I'm using annotations to define mutation input with nested non-null inputs within.
E.g.:
[code]
And input like
[code]
 I omit nested classes for simplicity, there's only `$foo` with setter and getter.

Now when I call

[2019-07-03 09:52] cajax commented on #515
OK. Looks like it is already resolved on master branch.

[2019-07-03 09:52] #515 closed

[2019-07-04 08:31] Vincz commented on #514
I'm not sure what you mean by regular resolver. When the arguments list is explicit, we can already use the `value`, `info`, `args`, `content` with the expression language to inject whatever we want, no? Even services with the `serv` expression. With annotations, it makes sense as, it's from PHP to GraphQL (we generate the GraphQL from the PHP), but without, we generate GraphQL first and we are ta

[2019-07-04 08:44] Vincz commented on #513
I made it work, but I have a small issue that I don't really know how to solve.
Initially, I  wanted to get the query being executed and the corresponding result.
It all append in the `Overblog\GraphQLBundle\Request\Executor`.
My problem is that I wanted the parsed `requestString` but I get the raw one.
If I parse it myself, it means it would be parsed twice (not good for performances).
But at the

[2019-07-07 14:27] mcg-web commented on #514
Hi Vincz sorry for the late reply I'm working on a service that will ease the injection of contextual resolver args. The new service will allow getting current resolver args (value, args, context, info) without having to inject each of them. Maybe this new feature could ease this  implementation ?

[2019-07-09 16:04] SebastienTainon opened #517 "Graphql dump schema command works only once in v0.12"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | yes
| Version/Branch   | 0.12

Hello,
When I tried upgrading to the version 0.12 from the version 0.11, I found that the Symfony command to dump the schema doesn't work anymore when the cache is already loaded.

Here are the reproducing steps:

[code]

He

[2019-07-10 02:08] allanzi opened #518 "How can i test the queries?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | ^0.11.12

I'm using the bundle and now i need test my application, but i can't think how to mock or something.

Thanks all.

[2019-07-10 05:54] mcg-web commented on #517
hi @SebastienTainon I try adding a test to cover you case but didn't have the same issue, here is my test:

[code]
Can you try this with `bin/console graphql:debug` please ?

[2019-07-10 06:01] mcg-web commented on #518
Functional tests are the best to test an API ([here an example of how this can be done](https://github.com/mcg-web/graphql-symfony-doctrine-sandbox/blob/master/tests/AppBundle/Functional/StarWarsQueryTest.php)) but resolver and mutation can be unit tested like any other service if needed.

[2019-07-10 09:58] SebastienTainon commented on #517
I'm not sure what you expect me to do here?

I've tried adding this test to `tests/Functional/Command/GraphDumpSchemaCommandTest.php` (after cloning the GraphQLBundle) and I confirm that it runs without exception, so I guess the issue comes from the bundle configuration or usage, though I haven't been excentric in this.

I've also run `bin/console graphql:debug` in my project, and I can confirm th

[2019-07-11 07:16] felyx opened #520 "Problem when using XDebug during a query"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes/no
| RFC?             | no
| Version/Branch   | 0.11.13

When I try to run a query while using XDebug I get the following error and I could not fix it so far:

Here are my config and the types and resolver: https://gist.github.com/felyx/b2638d147170133efbf8e769849a8c7d

[2019-07-11 07:22] mcg-web commented on #518
Feel free to continue discussion here if needed.

[2019-07-11 07:22] #518 closed

[2019-07-11 07:31] mcg-web commented on #520
try replacing  [these lines](https://gist.github.com/felyx/b2638d147170133efbf8e769849a8c7d#file-config_graphql-yaml-L15-L16) by
[code]
then
`bin/console c:c` and retry please

[2019-07-11 07:49] #517 closed

[2019-07-11 08:40] felyx commented on #520
I tried that, I even tried to remove that graphql config file altogether and then manually deleting the cache dir also to avoid not properly clearing the cache but the problem still remains the same.

[2019-07-11 09:44] felyx commented on #520
I have also tried this way:

            resource: '%kernel.project_dir%/src/GraphQL'

The error is the same still.

[2019-07-11 11:54] felyx commented on #520
I also tried a completely clean install just to see if it is an issue with the previous install. I only installed symfony skeleton, doctrine orm pack, and the overblog graphql bundle. I almost left everything as it is in the default install except setting up the database connection and the type definitions and resolver. I was able to reproduce the bug on the clean install as well.

[2019-07-11 15:42] SebastienTainon commented on #517
Thanks @mcg-web it works normally now!

[2019-07-14 06:44] mcg-web commented on #444
closing this for reason I explains in my previous comment

[2019-07-14 06:44] #444 closed

[2019-07-14 06:48] mcg-web commented on #300
`NAME` constant seem to help in a first place thanks again, if you still the need of adding fields constant make it know we will reopen this PR

[2019-07-14 06:48] #300 closed

[2019-07-14 06:53] mcg-web commented on #318
Move to this is no more in plan since the bundle has take a different way from the main lib. If you think this can still be useful feel free to continue discussion here.

[2019-07-14 07:04] mcg-web commented on #324
hi @Samffy can we reference this poc in documentation, it look really nice and will be a good start for many users I think.

[2019-07-14 07:13] #348 closed

[2019-07-14 07:17] #414 closed

[2019-07-14 08:23] #474 closed

[2019-07-14 11:57] #439 closed

[2019-07-15 06:55] Samffy commented on #324
@mcg-web, of course, I hope this poc can help some people start with your awesome bundle 👍

[2019-07-15 07:49] Ciloe opened #524 "[BUG] ID type args always sent to String type"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.12.0

Upgrade from 0.11.12 to 0.12.0

I have this mutation configuration :
[code]

And mutation function :
[code]

In the last version the `ID` type was automatically transformed to integer whenever a `Int` or a `String` was sent

[2019-07-16 06:14] mcg-web commented on #324
Thank you @Samffy , I added your repo to REAME:+1:

[2019-07-16 06:15] #324 closed

[2019-07-16 06:25] mcg-web commented on #524
this seem to be an issue more related to the last version `0.13` of the main lib [graphql-php](https://github.com/webonyx/graphql-php) since `ID` is a system type we does not change it value here (in the bundle). Thank you for feedback but closing this issue since it is out of our the scope. Should open an issue on main lib.

[2019-07-16 06:25] #524 closed

[2019-07-16 06:28] #362 closed

[2019-07-16 08:28] webmake commented on #362
Problem is, parsing costs a lot, so my intent was to reuse once it was parsed whenever I need

[2019-07-18 09:11] akomm opened #525 "[Annotations] Root types require at least 1 field, even with providers"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | ^0.12

When you provide all fields to root types via `@provider`, you still have to define one field at least on the root type. So I have to add some unnecessary type to it.

If you have fields via provider on root types, you should

[2019-07-18 09:22] akomm opened #526 "[Annotation] Add option to @Provider to attach to different types"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | ^0.12

Currently you can only provide fields to root types via `@Provider` and `@Mutation`/`@Query` on those root types. AFAIK this is also limited to the [default schema root types](https://github.com/overblog/GraphQLBundle/blob/v0

[2019-07-18 09:25] Vincz commented on #526
Hi @akomm
Actually, their is an option `targetType` on `@Query` to target a different type for queries.
See [Query annotation](https://github.com/overblog/GraphQLBundle/blob/master/docs/annotations/annotations-reference.md#query)

[2019-07-18 09:27] akomm commented on #526
@Vincz You are right, the I currently have the exact same page open, the description initially confused it as it states it does use the Query from definitions config. :)

[2019-07-18 09:30] Vincz commented on #526
The idea of `@Provider` was to be able to tell the parser that this specific class contains queries and/or mutations and be able to "group" them (with a prefix, or with `@Access`). I don't know if I picked the best option to do so.
But we could add a `queriesTarget` on the `@Provider` to automatically add the `targetType` on queries contained in the Provider. I don't know...

[2019-07-18 09:30] akomm commented on #526
It is still a bit different to my proposal, as it is then on per-field base not `@Provider` but might be enough, can not tell yet what is better.

I think the docs should then be something like:
`By default, the resulting field is added to the main Query type (define in configuration at key overblog_graphql.definitions.schema.query)`
instead of:
`The resulting field is added to the main Mutation t

[2019-07-18 09:38] akomm commented on #526
Oh and missing it on Mutation too. Going to add it there too. :)

[2019-07-18 09:41] Vincz commented on #526
That is what I was about to say ^^

[2019-07-18 09:51] akomm commented on #526
So was almost about to close this with the doc fix, but it looks like its not yet fully supported as mutation does not have it. However I think currently I can live with this, because AFAIK I will only need this on types, not input types. And types are covered via `@Query`. (Also, I did not yet dig much into the details, but I think its also only semantic like the mutation and resolver functions i

[2019-07-18 10:27] akomm commented on #526
@Vincz its not exactly the proposed feature and mutation does have the field, but I mostly need this on query types, so it should be no problem. I close it and should there be any issue I did not notice yet, I reopen it.

[2019-07-18 10:31] akomm commented on #525
Resolved. Forgot to add name option to type, after refactoring Query to QueryType classname, which obviously made Query type empty ...

[2019-07-18 10:31] #525 closed

[2019-07-18 11:11] akomm opened #529 "[Annotations] `@Field` documentation"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? |no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | ^0.12

Documentation: [@Field](https://github.com/overblog/GraphQLBundle/blob/master/docs/annotations/annotations-reference.md#field)

This example can not work:
[code]

What does `$this` point to?

Also the doc states: If `@Field` is

[2019-07-18 12:51] akomm commented on #529
Thanks!

This is what I also assumed/understood out of the documentation. However:
The code in the `getFriends` method on `Hero` will never be invoked, because the `@Field` annotation has no `resolve` attribute. Therefore `value.methodName(...args)` is invoked. So for `getFrieds` to be invoked, the `value` must be the `Hero` class. But `Hero` is not an entity with `friends`, but a GQL type/service

[2019-07-18 13:09] akomm commented on #529
Example:

[code]

Query 1:
[code]
Result 1:
[code]
Query 2:
[code]
Result 2:
`errors [...] Call to undefined method DateTimeImmutable::formatX()`

[2019-07-18 13:16] akomm commented on #529
While the outcome makes sense to me, in my opinion it does not make sense for it to work like that. Basically Hero is a service and its method used as resolver callback. The annotation adds to the typing configuration. Now Hero can obviously not be the value. With `yaml` I could pass the value via resolve(..., [value]) in  expression. I could also define the same in resolve with annotation, but th

[2019-07-18 13:18] Vincz commented on #529
Hum... I think you mix things up.
You tell your GraphQL schema that `time` will return a GraphQL type with name `DateTime` (it's on a GraphQL point of view).
But que method returns a PHP object of class `DateTimeImmutable`. It's gonna be the `value` of your time field, so it'll try to get the properties from this object and failed.

[2019-07-18 13:26] akomm commented on #529
Correct. And since DateTimeInterface has format method and is the value, its invoked. I understand it from the start :). The formatX was added exactly to show that it not only invoked format due to the method on value, but even if the method does not exist on value its not invoked on the resolver.

However, how can you return a value then, if you do not define its type? I have to define the DateTi

[2019-07-18 13:39] Vincz commented on #529
The idea is that the class with the annotations, will be the class holding the value.
So, in your example, you should either return an instance of your DateTime class itself:
[code]
.... or ....
You could define the DateTime resolvers knowing that you will get instances of  `DateTimeImmutable` in the value.

[code]

[2019-07-18 13:44] Vincz commented on #529
The annotations allow you to define everything at once. Your `Hero` entity, will have a corresponding `Hero` GraphQL type.
The parser keep a map of `PHP Classes` <=> `GraphQL types`, so it knows if a given PHP class has a corresponding GraphQL type and if a given GraphQL type has a corresponding PHP class.

So, yes, `Hero` will probably be an entity. The purpose of the annotations is to ease the G

[2019-07-18 14:33] akomm commented on #529
This is what I mean before, if the intent is to have the typing embedded into domain (entities/model, etc.). I actually do not want to do it. I want my API be flexible projection into my Model, but it must not be 1:1 map. In my opinion one of great advantages with graphql.

I also initially assumed types are like the root types services, but they are not. That is why I excluded the option to retur

[2019-07-18 17:17] murtukov commented on #520
@felyx Did you solve your issue?

[2019-07-18 17:19] murtukov commented on #514
@mcg-web Could you provide an example of the config and how it would be used in a resolver?

[2019-07-18 17:32] murtukov commented on #478
@Vincz I think he means something like this:

[code]

@sylfabre If so I find it ok.

[2019-07-18 17:42] felyx commented on #520
@murtukov Nope, I am on the Symfony slack overblog channel and talked to @mcg-web about it, he told me he is going to look into the issue this week so I am hoping he will be able to find the issue because we really miss the ability to use XDebug.

[2019-07-18 18:00] murtukov commented on #453
@nicodmf
First of all I am glad to tell you, that we are currently working on the Validation feature, which will allow you to use validation constraints directly in the type definition (currently only yaml).

You could use it like this:
[code]

This is only scratching the surface, as there will be such features as **linking classes**, to reuse the validation constraints declared on your entities,

[2019-07-18 18:01] #453 closed

[2019-07-18 18:05] murtukov commented on #448
@maxtorchel Still have this issue? How about v0.12?

[2019-07-18 18:21] murtukov commented on #520
@felyx I am using XDebug and have no problem with it. I don't think it has something to do with this bundle. You said that you have this issue even with clean install, right? Could you publish this clean project somewhere, so that i could install it and check my myself?

[2019-07-18 18:25] felyx commented on #520
@murtukov I will invite you shortly to the repo I shared with @mcg-web which has that skeleton app I mentioned, he tried it and he also said that it must be something about our configuration, not the bundle itself.

[2019-07-18 19:04] murtukov commented on #520
@felyx Installed your repository and it work perfectly.

Here is a screenshot with activated XDebug:
![image](https://user-images.githubusercontent.com/19292777/61484395-2ceaf280-a99f-11e9-8f6c-cce94a2c8c2e.png)

Hope there is no private data on the screenshot. If so, let me know.

I think you have an issues with your Composer or Xdebug config.

[2019-07-18 19:12] felyx commented on #520
@murtukov Interesting. With Laravel projects, it works fine so I would not think it is something related to the XDebug config, composer might be tho no idea why or what or it could be Visual Studio Code (we use vscode to dev) or something about access rights... Again, since everything works fine in non-symfony projects I did not think it could be anything else. I will check again tomorrow when I a

[2019-07-18 19:20] murtukov commented on #520
@felyx Try to provide more information, like logs, your OS, your XDebug configs for your project and more detailed exception message (trace etc.)

Try to clear the composer cache.

[2019-07-18 19:32] felyx commented on #520
@murtukov Tomorrow I will check it again and provide more detailed information about the issue.

[2019-07-19 06:58] felyx commented on #520
So @murtukov

OS: Windows 10 x64
Visual Studio Code: latest
PHP: v7.3.3
XDebug conf and version:
[XDebug]
xdebug.remote_enable = 1
xdebug.remote_autostart = 1
zend_extension=php_xdebug-2.7.1-7.3-vc15-nts-x86_64.dll

When I first try to run the debugger I get the following Exception:
`var\cache\dev\pools\0flXA1BYf+\C\R\iI7euN4OxW-zn9IcjAug): failed to open stream: No such file or directory`

Then I

[2019-07-19 08:10] Vincz commented on #529
I'm using the annotations and it's all I need. For example, an entity with annotations, a repository as provider and you are good to go. You don't need anything else. The parser will even use the Doctrine annotations (if it find some) in order auto-guess types. At the moment, there is things you can only do with annotations (but there is nothing you can't do with them).
I really hope you understoo

[2019-07-19 08:28] akomm commented on #529
@Vincz I know what you mean. My pivoting point is, I am not certain if I want to have annotations all over the place that makes up my schema. It would go over different namespaces, etc. I like to have things clear so its simple to understand.

Also one thing so far I could not find out, is how to pass value to @Provider method. Even if I specify resolve like I would with yaml, I have to call the r

[2019-07-19 08:39] Vincz commented on #529
About the annotation all over the place, you can always dump your schema to have a clearer picture. We could also add the ability to dump a schema with the file location in comment for each type.

In the case of `@Provider`, provider classes must be services available with FQCN. So, the default resolver will do something like `$container->get('<FQCN of the service>')->method(...)`.
The annotations

[2019-07-19 08:47] felyx commented on #520
@murtukov Well I took the time to test it in PHPStorm as well and I do not get those exceptions in there only when I debug with Visual Studio Code. :/

[2019-07-19 08:53] akomm commented on #529
Let's say I add a `@Field` to `Hero`, which the `Hero` entity does not have via `@Provider`, which requires instance of `Hero` as reference (e. G. lookup friends, which are not mapped on `Hero` directly).I will have to still define resolve attribute right? Now lets say the `@Provider` is a repository, but I do not want to have a constraint between method on repository and field name on Hero, I can

[2019-07-19 09:07] akomm commented on #513
@Vincz do you want the AST?

[2019-07-19 10:13] sylfabre commented on #478
@murtukov you're right

[2019-07-19 10:32] akomm commented on #513
@Vincz the only trace back to the AST we have is in the `ResolveInfo`. The rest is all in webonyx-php code.

`ResolveInfo` has operation property. Its also AST (`OperationDefinitionNode`) processed from the `DocumentNode` (the source you linked).

The point where its mapped and handled by overblog_graphql code is inside the closure returned from `\Overblog\GraphQLBundle\Definition\ArgumentFactory:

[2019-07-19 11:06] mcg-web commented on #478
@sylfabre what behind phpdoc expression function? Is the parsing done on runtime or on Symfony container compile time?

[2019-07-19 11:30] sylfabre commented on #478
@mcg-web this is the code

[code]

The parsing is done on Symfony container compile time

[2019-07-19 11:31] murtukov commented on #520
@felyx Hmm, maybe a clean install of your VSC would help. You can test the fresh install in the [Windows Sandbox](https://techcommunity.microsoft.com/t5/Windows-Kernel-Internals/Windows-Sandbox/ba-p/301849) or create a new windows profile and test it there.

I am closing this issue as it's not relevant to the bundle.

[2019-07-19 11:31] #520 closed

[2019-07-19 11:44] murtukov commented on #478
@sylfabre So eventually it dublicates the code, it just happens behind the scenes :D
For example, if I have a description on my `User::method()`, then I do `graphql:compile` then i change the description on `User::method()`. I will have 2 different discriptions, because I didn't call `graphql:compile` after changing the description on my method. It can lead to a confusion, if users forget to call

[2019-07-19 11:53] sylfabre commented on #478
@murtukov you don't have to write it two times in your code: that's why it is no longer duplicated.

And yes eventually it's duplicated in the cache like the YAML config files are rewritten in PHP in the cache too.

Your point about confusion is valid: the cache should be invalidated when a description is changed (like what happens when you update a YAML config file)

[2019-07-22 14:48] #529 closed

[2019-07-22 15:04] akomm opened #535 "[annotations]"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Version/Branch   | x.y.z

[2019-07-23 05:25] Sh1d0w commented on #514
Yeah, I am also struggling with this. Auto guessing does not work and I don't know how exactly to explicitly specify the parameters, as it is not very well described in the docs. Tried with `resolve="@call(.....)"` but had some other errors also it seems very verbose.

[2019-07-23 05:34] murtukov commented on #514
@Sh1d0w you should omit the `@` symbol. It's stated in the documentation

[2019-07-23 05:46] Sh1d0w commented on #514
@murtukov Sorry if I have misread the documentation.

I was referring to the examples given [here](https://github.com/overblog/GraphQLBundle/blob/master/docs/annotations/index.md#annotations-value--default-resolver) and [here](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/expression-language.md#call).

However I am still struggling to inject ResolveInfo via explicit declar

[2019-07-23 08:29] Vincz commented on #514
@Sh1d0w It should work. It looks like a cache problem. Can you clear and warmup it?

[2019-07-24 06:17] murtukov opened #538 "Reconsider ArgumentsValidator"
I think that the `ArgumentsTransformer` class and the associtated expression function `arguments()` should be reworked/removed and here I explain why:

I will speak about the current transformation and validation parts separately.

#### Why should we remove the current validation mechanist from the `ArgumentsTransformer` in favor of the [new validation feature](https://github.com/overblog/GraphQLB

[2019-07-24 09:32] Vincz commented on #538
Hi @murtukov !

I agree that the `ArgumentsTransformer` is far from ideal.  The main idea was to be able to manipulate PHP objects instead of data arrays.
You can still disable it by not using it (just don't use the `arguments` expression in your resolvers). And it can still works without annotations as long as you feed it with a map GraphQL type => PHP Class.
Still, I agree with you on this:

* T

[2019-07-25 00:33] murtukov commented on #538
Hi @Vincz,

first of all I want to say, that I am NOT against annotations or any good features related to it.

- Declaring GraphQL types with annotations - is good
- Auto guessing - is good
- Using PHP classes as declaration **and** as DTOs - is good.

I like it all and I'm not saying that I want to remove something of it. We are all programmers here and we want things to be done as easy as possib

[2019-07-25 00:55] murtukov commented on #538
@Vincz

With php annotations you do the same: you define a class, then you tell which method should be called and which arguments should be used 😄 It's pretty much the same.
The only differences are:
- you don't have to synchronize the argument list in yaml and in the php.
- you can use the php class as a DTO.

While it's a nice idea, to create GraphQL types with only php and annotations it has it

[2019-07-25 02:37] murtukov commented on #514
@Vincz @mcg-web
As i mentioned in another issue (in [this message](https://github.com/overblog/GraphQLBundle/issues/538#issuecomment-514852577)), we could add the ability to auto guess the resolver arguments.

Here is a yaml example:
[code]

Basically we only point to a method. Now you might be asking yourself this questions:
- How would the system know if it's a `resolver` or a `mutation`?
Pretty

[2019-07-25 08:35] akomm commented on #538
@murtukov I am totally with you. Just recently had a discussion about exactly the same things you pointed out. Kind of funny. Loosing overview of files. To much expression, etc., FQCN in config/expressions (also backslash "issue"). I actually would only want to use annotations for DTOs. In other cases, annotations would lead to dead classes/shells with props and no other purpose than annotate to p

[2019-07-25 09:11] akomm commented on #538
As to the proposal part: do you think it is useful to be so open-minded about `validation`, `hydration` and `transformation`, as to make them exchangeable services? This might need to consider not hard-coding in the internal types configuration (the type extension) in regards to validation. Because it current proposed form makes assumption about validation mechanics used (AFAIK).

Why I ask:
I lik

[2019-07-25 10:16] murtukov commented on #538
@akomm

I am not sure I understand what you mean with "being open-minded" and "exchangeable services" 😄
But I'll try to explain, why a would like to have a transformer, validator and hydrator as separate features.

The Symfony Form component is a powerfull tool, but it's designed to be used with HTML, so when we decide to use GraphQL for our APIs, we automatically reject all these nice features. M

[2019-07-25 10:20] murtukov commented on #538
@akomm

I didn't understand this part:

[2019-07-25 11:30] akomm commented on #538
@murtukov
A resolver(-invokable) has a signature. For example:
[code]
Currently you inject those via expression: `@=resolver("resolver", [args, info, user])`
You made a proposal of fully type-guessed injection. I like the idea.

You pointed out there are however some downsides (no expressions). I addressed how this might be not the case if done in a way in which you will never really need expressi

[2019-07-26 16:21] murtukov commented on #313
@mcg-web What is classic resolver? Could you provide an example?

[2019-07-29 11:52] akomm commented on #514
@mcg-web since the `graphql-php` library does not have any hook/event to do it (at least I did not find), I assume you are going to do it with a bundle resolver-wrapper, that calls the service and the args of the user resolver are resolved via reflection? If so, I would like to know because I am working on something similar, I mentioned in "reconsider Validator" post, maybe we can exchange the ide

[2019-07-29 12:16] akomm commented on #514
I think the idea is, that you do need less or no expression at all, which is probably preferred. Expression is actually only an escape hatch due to difficulties making an abstract solution that matches all needs.

1. If you have a class, that acts as a resolver with the main purpose of being a part of your (graphql) API implementation, it is better, if you could have the config could be inferred f

[2019-07-29 12:36] akomm commented on #514
Example:
[code]
Example:
[code]

[2019-07-29 13:25] murtukov commented on #514
Hi @akomm,

I didn't read all new messages yet, but I want to say one thing immidiatly:

No, webonyx doesn't provide any hooks, so right now the only place to get `ResolverInfo $info` (or any other resolver argument) is resolver closures in type definition classes. For example:

[code]

I have already mentioned in this [PR](https://github.com/overblog/GraphQLBundle/pull/536), that I use the method

[2019-07-29 13:28] murtukov commented on #514
@akomm Btw I am currently working on Hydrator. I will open an issue to share my view on its implementation (some points are changed since out last discussion)

[2019-07-29 13:32] akomm commented on #514
Also mentioned it before your PR in other issue [here](https://github.com/overblog/GraphQLBundle/issues/513#issuecomment-513180825). For me its a sign, that its a common issue. Maybe worth a shot doing a PR on the lib so you can provide a callback to the executor, so bundles like this can then call add such a callback to trigger an event.

[2019-07-29 13:38] murtukov commented on #514
@akomm I am not familiar with the webonyx well enough, to open a PR for that lib. What about you?

[2019-07-29 13:42] akomm commented on #514
@murtukov this is what I am talking about. I just have to many construction zones. So I can not tell when I can do it. Before I got time to get my hands on the field(s) builder type emitting addition, it took very long just as an example.

[2019-07-29 16:04] akomm commented on #514
It happens to be I once had to figure this out when I wrote some PR for [Zend\Config](https://github.com/zendframework/zend-config/pull/6)

PHP allows *almost* any name, including null-bytes. In special semantic context, like you normally use in code its however limited to: `[a-zA-Z_\x7f-\xff][a-zA-Z0-9_\x7f-\xff]*` [source](https://stackoverflow.com/questions/17973357/what-are-the-valid-character

[2019-07-29 20:09] murtukov opened #540 "feature/hydrator"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 0.13

I am currently working on this feature. Its purpose is to automatise population of objects (e.g. Doctrine entities or DTOs) and to integratate it with the validator

### Here is my view of how it should be implemented (not fi

[2019-07-30 08:58] akomm commented on #540
I am not sure what name you mean. The hydrated args? Can't figure out the relevant location in your example. In your example you pass `hydrate` and `args` (raw?) into the resolver. The name also depends on whether you intend to hydrate all `args`-fields as a single php type or not. For example given relay standard you have 1 field `input`. You would need a php type (DTO) with a single `input` prop

[2019-07-30 11:20] akomm commented on #540
Transformation and hydration should be `soft` processes. They should simply "try" to do their best.

1. Should transformer not being able to transform a value, leave value unchanged, go to next.
2. Should a hydrator not be able to hydrate a prop, skip, go to next.
3. Validation is where you can make sure everything is okay.

In general I do not recommend directly hydration entities, but In regards

[2019-07-30 11:33] murtukov commented on #540
#### A note about the `args` variable:
As I already told in other issue ([this](https://github.com/overblog/GraphQLBundle/pull/536#issuecomment-514442636) message), $args will NEVER be changed. It doesn't matter what do you use: a validator, a hydrator, a data transformer - the $args will always be the same (raw values). And it will always remain so.

---

I mean this name:
![image](https://user-i

[2019-07-30 11:40] murtukov commented on #540
Hydrator just _associates_ GraphQL types with entities/DTOs. But it doesn't describe the relation between these entities/DTOs. And shouldn't, because GraphQL types already describe relations between types and this is enough to build your object tree.

[2019-07-30 11:52] murtukov commented on #540
Why should they be soft? Take as example the doctrine hydrator and data transformers. The hydrator will fail, if something goes wrong. But the transformers logic is fully on users, they write the transformation logic and they will decide, whether it will fail or _pass_ the value.

It should fail, if hydration doesn't work. Otherwise you can get a not fully populated object and will not even know a

[2019-07-30 11:53] murtukov commented on #540
Strictness leads to more secure code. A `soft` behaviur  creates a large space for errors.

[2019-07-30 12:16] murtukov commented on #540
@akomm

You are absolutely right here, the second validation strategy makes no sense, as you can simply inject a validator in the resolver constructor and validate the hydrated object. Need to rethink it.

[2019-07-30 12:31] akomm commented on #540
I know that. But if you write something that leaves no other logical conclusion, I ask you anyway whether you mean `args`. As you correctly spoted, `hydrate` is confusing and was never considered by me as **dto** or **entity**.

Which was exactly my question. So you can not inject two hydrated *params* into resolver. That means you will have to create additional php type to wrap all `args`-fields

[2019-07-30 13:59] murtukov commented on #540
@akomm

The Hydrator always generates a tree of objects (or object composition in other words), which has only **one** root object on its top. A tree cannot have more than one top object, therefore your resolver also cannot get more than one hydrated object.
A tree generated by the Hydrator is meant to 100% repeat the tree of GraphQL types.
Take the `args` variable as an example. `args` is an arra

[2019-07-30 14:02] murtukov commented on #540
Still don't understand what do you mean by _injecting the hydrator into a resolver_. Bring some examples.

[2019-07-30 14:20] murtukov commented on #540
Symfony already uses the similar approach with the Form Component. First you configure forms and relations between these forms, then you map each form to an entity. Some fields can be marked as _unmapped_. When a request comes, the form component handles the request, hydrates mapped entities and performs validation.

What is the difference with GraphQL types? We define types, create relations betw

[2019-07-30 14:33] akomm commented on #540
`HydratedArgs` is better than array, because it allows auto-guessing between raw `args` (`ArgumentInterface`) and `hydrated args`. However its fields are still untyped, like in an array.
I know that `args` is a tree and tree has a single root. Every tree is divisible into separate trees on per-depth-level basis.

This API would make more sense:
[code]
[code]

Or:
[code]
[code]

You named it `hydra

[2019-07-30 14:41] murtukov commented on #540
It's a pretty simple example. What if there is more than 1 argument (input in this case)? What if some arguments are of built in types (String, Boolean, Float etc.)? How should be the `hydration` config defined, you didn't show it in your example.

[2019-07-30 14:48] akomm commented on #540
Actually there is an example in the same post how it would. And you might have spotted a correlation between field arg names and resolver param names. The primitive types do not need to be hydrated, they can be passed through directly. The others are derived from the signature type annotation.

[2019-07-30 14:52] akomm commented on #540
Example with primitives:
[code]
[code]

[2019-07-30 15:00] akomm commented on #540
A demonstration, how it could work:
**Note**:
- concrete implementation can be nicer, having `ParamMetadata` prepared before instead of all those pieces separate.
- Checks can be a set of strategies with order, so first hit wins. You do not have to use every method and you could make it configurable so for example other param names are used as hint to what the source of data is.
[code]

[2019-07-30 15:08] akomm commented on #540
Btw if you desired to be strict in hydration, because you populate entity, you could use `HydrateArgsStrict` strategy ^^

[2019-07-30 15:14] murtukov commented on #540
All examples you provided are incomplete. There are no `resolve` and no `hydration` configured, which are important.

Let's take this one:
[code]
[code]

Where should be the `hydration`, how do you inject multiple inputs in expression? In all examples I have provided the `hydration` key is defined on the same level as `args`. But your examples requires, that i define `hydration` for each argument

[2019-07-30 15:16] akomm commented on #540
I have added some code and more examples after the quote. If that does not explain it to you, please tell me ^^

[2019-07-30 15:17] murtukov commented on #540
You examples still have no resolve and hydration configs.

[2019-07-30 15:25] akomm commented on #540
You do not need any hydration configs. But you are right, you need resolve. I omitted it, but its obviously not self-explaining:
[code]
This requires a resolve-wrapper like this:
[code]

[2019-07-30 15:30] murtukov commented on #540
@akomm we are talking here about the hydration feature, right? Why would you provide examples with a new resolver feature which is not even yet implemented? This is a topic of a separate issue.

Before we talk about how it would be done with the new resolver approach, we need to decide how it would work classic way, with expression functions.

[2019-07-30 15:39] akomm commented on #540
But we also do not talk about adding code-generation, and yet still you will probably need it. If you want to make it work with expression, simply make this possible in expression:
[code]
Now the resolver args are resolved for the resolver using same method as in the demonstrated code. Where is the problem? Works with expressions.

[2019-07-31 09:24] #540 closed

[2019-07-31 11:59] akomm opened #541 "Override serialization/parse logic of built-in ID scalar"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | *

Let's say I want to use the built-in `ID` type, but I want to parse it into an [uuid](https://github.com/ramsey/uuid). Redefining the `ID` scalar with alternative `ScalarType` implementation has no effect (also no errors).

The o

[2019-08-01 12:02] akomm opened #542 "auto-guessing & injecting resolver args"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes

## Preamble
*In following, there is a distinction between `argument` and `parameter`:
`Parameters` are meant to be part of the signature definition and `arguments` are the values you pass when you call said method/function.*

This is a proposal to cha

[2019-08-01 12:19] akomm commented on #542
@murtukov I think on top of this some of your solutions could build? You had some really good ideas, but I think some base work is simply missing before it? :)

[2019-08-01 15:09] murtukov commented on #542
@akomm What concerns me about this implementation is the fact, that all these calculations happen in runtime by every request to every resolver. This would hit the performance. Do you have a solution to this?

[2019-08-01 15:56] akomm commented on #542
@murtukov
You can't write code without calculation. The checks are fast. The only possible bottleneck is `ParameterMetadata` and that only when you have a field with `resolver`, which is in a `listOf` context with many items. In this case `ParameterMetadata` can be cached, so that for every resolver the code is run only once. Even reflection is fast, if not done hundreds and thousands of times.

[2019-08-01 16:11] murtukov commented on #542
I can write no code at all and thus avoid any unnecessary calculations.

Query is a most frequent type of requests.

---

The bundle works without any problems now and you suggest to add a feature, which would slow down all queries and for what reason? Just so that users don't type a couple of variables in the configs? If I create a GraphQL type I am probably not going to change them in future, so

[2019-08-01 16:35] murtukov commented on #542
On all other points (except HydratorInterface) I agree with you. I like the possibility to use hooks.

[2019-08-01 16:40] akomm commented on #542
I think you missed the point. If you want to write fast code, don't use `symfony` or any `library`. Because all those calculation done there... oh boy... are unnecessary by your definition. They cover all sort of possible cases and "calculate" even though in specific cases you never have those cases. You could safe thousands of unnecessary calculations writing the code fit for the case yourself.

[2019-08-01 16:48] akomm commented on #542
@Vincz with annotation, you currently call resolver directly via `serv`, so it will not be found via `resolver` collections. I assume you do not want to have to register your resolver via tags explicitly (which would then work out of the box with this)

However I think it is solvable issue - I can also try fetch the resolver from the container in `FieldResolver`.

[2019-08-01 17:42] murtukov commented on #542
@akomm

Editing your message, while I am typing, doesn't mean answering. You added the part about caching later.

---

I use Symfony, because it makes things I NEED efficient. Your original proposal didn't mention anything about caching and you presented code examples with an unefficient code.

I don't even know why you are explaining me the purpose of frameworks and libraries. Did I say I don't w

[2019-08-01 17:52] akomm commented on #542
That is not true. Simply check version history, and you find the first thing was ParameterMetadata cache...

What do you mean by  `makes things I NEED efficient`.

But the quote was to your second answer, after I did mention it. There is no unefficient code shown. The code we talk about is not part of the demo and also its pseudocode replacement, If I would write here the whole implementation, I w

[2019-08-01 18:01] murtukov commented on #542
@akomm I am not going to continue this pointless discussion.

[2019-08-01 18:58] akomm commented on #542
I answere regarding the metadata cache already, but now I also realize that the first is also incorrect.  Because the code is, as explained in the RFC itself only generated (and therefore run) when you use the new `resolver` option on your field. Maybe I need to clarify this in the RFC better. Thanks!

[2019-08-02 08:38] ooflorent opened #543 "Decorators do not merge interfaces"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | master

Given the following schema definition:

[code]

**Problem**

`AandB` does not implement `InterfaceA`.

**Expected behavior**

`AandB` implements `InterfaceA` and `InterfaceB`

[2019-08-02 09:31] akomm commented on #543
**note:** This is a general problem for all configs merged, due to the fact how `array_replace_recursive` works. It replaces by key and here you have key "0" for both interfaces, so the later replaces. The fix will only focus on this issue here...

[2019-08-02 11:40] #543 closed

[2019-08-07 14:21] fantomas662 opened #547 "Nested resolvers using ResolverMap not called since 0.12 if multiple schemas are defined"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.12.0, 0.12.1

Defining multiple schemas in v0.12.x prevents "nested resolvers" from being called and the query fails with `Cannot return null for non-nullable field AdminQueries.someField`.

It works again if the profile schema i

[2019-08-07 14:31] mcg-web commented on #547
@fantomas662 this seem to be more an issue due to a change in graphql-php lib can you provide both version of `webonyx/graphql-php` (before and now) please?

[2019-08-07 14:37] fantomas662 commented on #547
It works with:

[code]

But doesn't work with:

[code]

0.12.0 and master didn't work either.

[2019-08-09 07:48] mcg-web commented on #547
Test don't fails for me, I could not validate Windows since we have some making work right now. Are you using Windows? Does the test covers your issue? If this is the case I'll need some more information to can fix this.

[2019-08-09 08:37] fantomas662 commented on #547
I'm on OS X.

I've created a demo app for this bug, see https://github.com/fantomas662/graphql-bug-repr

If you go to http://localhost/graphiql/admin and try to run the following query, it will fail with `Cannot return null for non-nullable field AdminQueries.example.`.

[code]

If you comment out the `profile` schema in `config/packages/graphql.yaml`, then you get the expected response:

[code]

[2019-08-10 09:29] mcg-web commented on #547
Thank you @fantomas662 for demo app, I can reproduce the issue, I'm now looking for the best fix.

[2019-08-13 12:00] enumag commented on #318
@mcg-web Then how do I use persisted queries with the bundle? As said in the first post, the `StandardServer` from webonyx has a `persistentQueryLoader` configuration.

[2019-08-13 13:31] mcg-web commented on #318
I reopen this  one, I have missed this part sorry

[2019-08-14 12:48] cinamo opened #551 "Multiple schemas defined, TypeResolver not set to the right schema name"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12

If you define multiple schemas, for instance like this ...

[code]

... it seems that when lazily resolving types, the resolver is currently always called with the name of the second schema. It seems this stems from multiple c

[2019-08-14 13:25] mcg-web commented on #551
This issue is related to #547 and was fixed in #548 we'll release a new version soon today.

[2019-08-14 13:42] mcg-web commented on #551
here is the release [v0.12.2](https://github.com/overblog/GraphQLBundle/releases/tag/v0.12.2). Thank for the report :+1:

[2019-08-14 13:42] #551 closed

[2019-08-14 13:43] mcg-web commented on #547
here is the new version [v0.12.2](https://github.com/overblog/GraphQLBundle/releases/tag/v0.12.2) with the fix. Thank for the report :+1:

[2019-08-14 13:43] #547 closed

[2019-08-14 13:50] cinamo commented on #551
I can confirm it works like a charm now! Many thanks! 😄

[2019-08-19 07:22] kejianxin opened #552 "The queried fields"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no

Will The queried fields have the option to be retrieved dynamically from the database?

[2019-08-26 14:10] mathroc opened #555 "Queries details in Profiler"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12

Hi,

it would be really helpful to add a section in the WebProfiler for GraphQL, it should probably be similar to the Doctrine section, what I would be mainly interested in:

* listing all graphql queries handled (with individ

[2019-08-27 08:36] mcg-web commented on #555
Hi, this a feature I wanted to add since the starting of the project but sadly never get the time to implement it.

[2019-08-27 08:43] Vincz commented on #555
It would be really great. A really nice addition would be the ability to display the executed graphql queries/mutations names in the HTTP queries list (on the `/search/results?limit=10` page) cause it's sometimes hard to find the HTTP query you are looking for as they are all matching the same endpoint url.

@mathroc : Are you gonna work on it ?

[2019-08-27 08:56] mathroc commented on #555
@Vincz I'd love to but I won't have the time for that in the coming weeks :/ it's on my todo list so maybe sometime :sweat_smile:  I'll tell it here if I start working on it

[2019-09-07 10:49] murtukov commented on #555
@Vincz I guess I'm gonna work on it

[2019-09-15 10:52] belabed90 opened #558 "Query parameter not detected when using jwt"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Version/Branch   | x.y.z

When using Graphql with json web token authentificator
the response throw an exception
"Must provide query parameter"

[2019-09-15 10:57] murtukov commented on #558
I am using JWT on my project with GraphQL. Everything works fine.

[2019-09-15 15:03] nicodmf commented on #453
@murtukov, @Vincz, i'm happy to see a complete integration of arguments and validation. It's effectivly better to integrate them separatly with there new components than use form.

For the event system, i'm sure we could find at least one exemple, as with form :

By example, if you send contact (mutation SendContact) with subject and optional subsubject with this rules :
- subsubject not exist if

[2019-09-16 09:55] murtukov commented on #453
@nicodmf I didn't really get want you mean. Could you provide some examples maybe?

[2019-09-17 06:08] Vodzo opened #559 "PHP way of declaring Resolvers with methods doesn't work in 0.12"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.12.2

Hello, I have been using version ^0.11.0 in production for long time and i've tried updating to 0.12.2 but now my code throws:
`Overblog\GraphQLBundle\Resolver\UnresolvableException: Unknown resolver with alias "App\GraphQL

[2019-09-17 10:28] murtukov commented on #559
I can confirm this.

[2019-09-18 12:29] mcg-web commented on #559
Hi @Vodzo the bug was fixed on `0.12@dev` can you confirm it's ok for you? We'll release a new patch in coming days if this is the case. Thank you :+1:

[2019-09-18 13:13] mcg-web commented on #558
Can you provide some more example please?

[2019-09-19 08:53] Vodzo commented on #559
Hi @mcg-web. Thanks for a quick response.

Tested it and its working. Thanks  👍

[2019-09-19 09:21] mcg-web commented on #559
Thanks again for feedback! Here is the new release with the patch [v0.12.3](https://github.com/overblog/GraphQLBundle/releases/tag/v0.12.3).

[2019-09-19 09:21] #559 closed

[2019-09-19 12:53] belabed90 commented on #558
Graphql was doing multiple redirects i have changed GraphqlController.php in overblog-bundle action "endpointAction" :
this:
[code]
to this:
[code]

[2019-09-19 15:00] murtukov commented on #558
@belabed90

JWT has nothing to do with this bundle. If it says `Must provide query parameter` then you are doing something wrong.

If you still believe that this is issue of the GraphQL Bundle, then provide all of your relevant configs + the requests you are trying to perform. The best way would be to upload your project to a repository, removing all of the sensitive data.

Otherwise I'll close th

[2019-09-19 16:48] belabed90 commented on #558
Ok, i have solved this issue with the trick above, you cane close it.

Thank you !

[2019-09-19 16:49] #558 closed

[2019-09-26 08:20] ooflorent opened #561 "Sort fields and arguments"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? |  no
| RFC?             | no
| Version/Branch   | n/a

Fields and arguments could be sorted to improve the type readability.

[2019-09-26 09:47] murtukov commented on #561
@ooflorent You mean yaml files?

[2019-09-27 09:28] akomm commented on #561
@ooflorent is think rather introspection and dump-output (.graphql) ?

[2019-09-27 09:31] ooflorent commented on #561
Okay, the idea is this:

[code]

Should produce this:

[code]

Instead of this:

[code]

By having the fields (and arguments) sorted in the type definition, they will be sorted everywhere.

[2019-09-27 10:14] ooflorent commented on #541
`ID` is actually spec'd so changing the behavior of it seems broken to me.
What's wrong with a custom `UUID` scalar type?

[2019-09-27 10:15] ooflorent commented on #552
You can implement this with a compiler pass or a pre-build step I guess.

[2019-09-27 11:36] akomm commented on #541
@ooflorent From spec's perspective ID has no behavior at all. It is (for the client) an opaque identifier.

[code]

How the ID value is parsed server side has nothing to do with spec or altering behavior. Whats wrong with a custom `UUID` scalar type is, that `UUID` is not opaque and breaks out-of-the-box conpatibility of libraries that work with it (including relayjs). So you will be forced to adj

[2019-09-27 11:59] akomm commented on #541
Given spec:
https://graphql.github.io/graphql-spec/June2018/#sec-ID
Quote:
[code]
Note the the `coerced to ID as appropriate for the ID formats a given GraphQL server expects` and `Any other input value [...] must raise a query error indicating an incorrect type`.

On the Output side of the spec, we are currently lucky, when (in this case the ramsey/uuid) library uses __toString() to coerce to str

[2019-10-01 05:09] mcg-web commented on #508
This issue seems to be inactive for quite some time now, so I've closed it. If you feel this issue deserves some attention feel free to reopen it.

[2019-10-01 05:12] mcg-web commented on #448
This issue seems to be inactive for quite some time now, so I've closed it. If you feel this issue deserves some attention feel free to reopen it.

[2019-10-01 05:12] #448 closed

[2019-10-03 07:24] ooflorent opened #565 "Decorators still do not merge interfaces"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | master

Given the following schema definition:

[code]

**Problem**

`ABCDE` does not implement all interfaces.

**Expected behavior**

`ABCDE` implements `A`, `AA`, `B`, `C`, `D` and `E`.

[2019-10-03 10:16] estaton opened #566 ""undefined index ..." in resolve configuration"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12.3

I have a question about passing data to a mutation. I have a configuration like this:
[code]

As you can see, the recipient field is optional. However, with this configuration, I get the "undefined index recipient" error, no

[2019-10-03 12:48] mcg-web commented on #566
When using relay mutation you can use `args["input"]` as expression variable `value` it will return null for any not existing key example `value[recipient]` when not defined. You can also add null as defaultValue to your recipient so your implement will work.

[2019-10-03 12:52] murtukov commented on #566
@estaton

Try this:

[code]

[2019-10-03 13:22] estaton commented on #566
Thank you very much! I think that defaultValue is what I need.

Have a nice day! :)

[2019-10-03 13:22] #566 closed

[2019-10-04 14:44] #565 closed

[2019-10-07 08:50] akomm commented on #541
@ooflorent
Does it make sense now? What makes up a scalar type is its name (nominal type) and evtl. expected format. When you create a custom scalar type, the type system of graphql does not know whether it can be int, float, bool, string, [...]. You never specify it in the schema either. You decide it serverside what it has to be. This includes the **format** expected, for example a string date,

[2019-10-07 08:55] ooflorent commented on #541
Yeah sure. However, it might be tricky to implement…

[2019-10-07 09:19] akomm commented on #541
Yes, actually the ID type is in the graphql library itself. So I think I should start there. However, it might be needed, when it becomes possible in the library, that we might have to adjust it here. I will post an issue there as soon as I have the time. If it is then fully resolved there (if they agree on this needs a change ;P), then I will close  this if nothing needs to be done.

Note:
It it

[2019-10-08 09:20] Vincz commented on #555
Hey @murtukov ! Any update about this?
If you didn't start, I think I'll have a couple of hours to dedicate to this feature this week.

[2019-10-08 09:35] murtukov commented on #555
@Vincz Hi. No, I didn't start yet. I am currently working on other features and it will take a huge amount of time. You can work on the Profiler feature if you want.

[2019-10-08 09:36] Vincz commented on #555
Ok mate :) Good luck with your stuff !

[2019-10-11 13:26] mcg-web opened #575 "Remove deps to symfony/security-bundle"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12

The bundle required `symfony/security-bundle` internally. This should not be the case since `symfony/security-bundle` are optional deps.

[2019-10-12 01:20] murtukov opened #577 "Merging of numeric arrays by inheritance"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes/no
| RFC?             | no
| Version/Branch   | 0.13

Given following decorator:
[code]

If I inherit this decorator to add 1 more field and change the type of the field `password`:
[code]

then I get following result as expected:
[code]
So the existing options are overridden

[2019-10-13 07:27] videni opened #581 "how to define query with parameters by yaml?"
[code]
as I know the yaml config has more features than graphql, what is the correct yaml version? please add it to the doc.

what I did

- [x] Read all documents provided by this bundle
- [x] Read all documents from graphql official website.
- [x]  I have ran the GraphQLBundleDemo

[2019-10-13 08:07] videni commented on #581
I see, there is an example
[code]

[2019-10-13 08:07] #581 closed

[2019-10-14 05:07] mcg-web opened #582 "Make GraphQL user warnings/errors silent"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | master

see webonyx/graphql-php#553

[2019-10-14 05:43] mcg-web commented on #541
@akomm at the first look it seem a good idea, being able to override scalar system types but I now get the reason why @ooflorent or the main lib are against that. `ID` should be the same for all GraphQL implementation (node js, php, ruby, ...), if the scalar system types does not feet your need not a big deal just create your own scalar `UUID` for example and use it. I'm not against adding customs

[2019-10-14 11:11] akomm commented on #541
@mcg-web I don't quite understand, how this makes `ID` any different. As a solution you propose to make it different. I want to avoid it. The only way to make the implementation be same for all is to behave according to spec. Spec tells us, as I quoted:

- On the output side, the server must coerce its internal `ID` format to string, so that it can be used uniformly across different clients.
- On

[2019-10-14 11:27] mcg-web commented on #541
That what I says if you want to fix the behavior of `ID` the best place to do so is [webonyx/graphql-php](https://github.com/webonyx/graphql-php) , override it will only fix it for you? Maybe I'm missing something ?

[2019-10-14 11:33] akomm commented on #541
Correct, this is why I wrote this:
https://github.com/overblog/GraphQLBundle/issues/541#issuecomment-538912602

Evtl. it will be needed to have an ability to specify the custom CoerceID in extension config however, this is what I mean:

[2019-10-15 08:05] akomm commented on #577
The thing is, the configs are currently "generic" and therefore merged by 1 specified rule, not depending on content.

So you will probably need to make merging code aware of specific config (I think this is not a good idea) or have some processing happening before.

[2019-10-16 05:13] mcg-web commented on #552
This issue seems to be inactive for quite some time now, so I've closed it. If you feel this issue deserves some attention feel free to continue it here.

[2019-10-16 05:13] #552 closed

[2019-10-16 08:30] ste93cry opened #583 "Extract the logic to map the exceptions to GraphQL exceptions into a factory"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

In the application I'm developing I have some classes to retrieve the data from a certain datasource that can possibly throw some exceptions (e.g. `EntityNotFoundException`). Since  GraphQL is just one way to "fetch" this data

[2019-10-16 13:09] mcg-web commented on #583
The proposal seem to be a good enhancement so your PR would be welcome :+1:

[2019-10-17 17:44] murtukov opened #585 "Add auto validation capability"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

After using of the validation feature in couple of my projects I noticed some repeating, which can and should be automated with an option to switch it off.

Currently to add validation a user have to inject the `validator` var

[2019-10-18 06:15] mcg-web commented on #585
I like this idea, I have some comments:

I will subject to use a more flexible syntax:

[code]
in above example all types matching regex `User.*` pattern will be auto validate (`UserEmails`, `UserBlog`) except `UserRoles`, `Blog` and all types with `Settings` suffix.

we can add 2 shortcuts:
* include all types for validation
[code]

* exclude all types for validation
[code]

also we can add an op

[2019-10-18 12:30] ste93cry commented on #583
Would you like me to write the feature in a way that does not break BC or not? Depending on this the implementation must change, so it's a detail that I have to know before starting to put effort on coding. Obviously not thinking about compatibility with older versions means that I have more freedom on how to code the feature

[2019-10-18 12:39] mcg-web commented on #583
I think you should forget the current behavior, I'll work on compatibility after if needed.

[2019-10-18 15:18] akomm commented on #585
@murtukov

I currently don't use this feature (have a different hydration/validation concept implemented), but IIRC you had the option to reuse validation mapping. If I recall it correct: Would validation groups not only make sense when reusing validation mapping? Because when you define it inline, like in your example, you basically decide what to validate the moment you add the validation mappin

[2019-10-18 18:04] murtukov commented on #585
@mcg-web Thanx, I like the wildcards in the auto validation configs and validation groups depending on parents.

The only thing I would like to note is if you want to turn the auto validation off for a certain type, you don't have to define it explicitely in the type itself like you suggested:
[code]
because there is already the `validator` variable injected into the resolver.

There are 2 main re

[2019-10-18 18:29] murtukov commented on #585
@akomm

Types can be embedded in different types at the same time, therefore they can have different validation contexts. Take a look at this example:

[code]
[code]

So when validating normal users the password is required to have minimum 4 chars and when validating admins the password is required to be 10 chars minimum

[2019-10-18 19:01] murtukov commented on #585
@mcg-web Actually @akomm is right about this piece:
[code]

When you call `$validator->validate()` you pass a group to the method and it will validate **all** types in this group.

So actually the group should be defined in the parent type and NOT in the children. Let's take the example from above and change it to use **auto validation**:

[code]

[2019-10-19 02:43] murtukov opened #587 "Rework all builders"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.14

@overblog/graphql

I strongly believe we should rework all builders in the bundle and here I'll try to explain why.

This is just a draft with my thoughts on how builders could be changed. Use examples as a starting point to c

[2019-10-19 04:57] videni opened #588 "non-existent parameter "container.build_id""
hi,  somehow I got this error, any fix please? I'm using Symfony4 and the master branch of this bundle commited at  `7f4be04`.
[code]

[2019-10-19 07:05] Vincz commented on #587
Hi @murtukov !
I agree that PHP arrays are not really sexy.... but no matter what you do, at the end of the day, it's what you get. I don't really like to extend class, I prefer to implement interfaces, because my "builder" can be anything (a service or whatever) already extending something.
The builders are just config generator. You could add a object to it, like, instead of returning an array i

[2019-10-19 10:14] videni commented on #588
the `TypeGeneratorPass` is registerred before removing,
[code]

the `cache.validator` service is dependent on `'cache.adapter.filesystem` , its  third arguments is injected as below. apparently , the FrameworkExtension runs before  any other compile passes, why  the `container.build_id` is not ready when TypeGeneratorPass runs?

symfony/framework-bundle/DependencyInjection/FrameworkExtension.php

[2019-10-19 10:53] murtukov commented on #587
Hi @Vincz

What do you mean by that?

If we implement the builders I suggested, we would have no arrays at all, so at the end of the day we would have objects 😀.

---

Currently we have just one interface `MappingInterface` for all 3 builder types, that means when you open any builder you can't say of which type it is unless you read the code inside the `toMappingDefinition` method. But with objec

[2019-10-19 11:48] Vincz commented on #587
I understand your point, and you have solid arguments, but what I meant is that... no matter what kind of parser you use (Annotations, Yaml, GraphQL, ...), they all end up dumping a config array for Webonyx GraphQL lib (check the `ParserInterface`). And yes, even with your implementation, your objects will be turned and merge into a PHP array (check the `BuilderProcessor`). Currently, there is no

[2019-10-19 12:05] murtukov commented on #587
Why would it be "very specific"? It will generate the same webonyx objects at the end, there is no difference, what you use (Annotations, Yaml etc.).

---

Low level doesn't mean good, actually I suggest to introduce object builder to avoid low level. And why is an extra step even an issue if it happens in the background and only once in the generation time?

---

Learning curve? These needs max 5

[2019-10-20 06:47] mcg-web commented on #588
Hi can you provide the Symfony version used and an example of the bundle configuration please ?

[2019-10-20 17:04] Vincz commented on #588
I can confirm that I have the same behavior.
In production environment only and I'm running Symfony 4.3.5

[2019-10-20 17:39] mcg-web commented on #588
@Vincz thanks for the version, do you have a way to bypass this issue or a simple example to reproduce this error?

[2019-10-20 20:41] Vincz commented on #588
The way to bypass it is by adding a parameter:

[code]
Not sure if there is side effects or not.

It looks like it is related to

`$container->addCompilerPass(new TypeGeneratorPass(), PassConfig::TYPE_BEFORE_REMOVING);`

And in the TypeGeneratorPass, the problem come from this :

`$container->get('overblog_graphql.cache_compiler')`

It happens only in production.

Sorry mate, didn't had the time t

[2019-10-21 08:22] akomm commented on #585
@murtukov That is exactly what I meant. Because you decided what you want to use from the input in the use-context :)

[2019-10-21 12:53] murtukov commented on #585
@mcg-web @akomm An update.

I think we don't even need this:
[code]

- If a user wants to validate some type, he simply adds constraints to it and it will be automatically validated.
- If a user doesn't want the validation to be performed automatically he simply injects the `validator` variable and does it manually like in the docs.
- If a user doesn't want any validation, he just doesn't add cons

[2019-10-21 13:13] akomm commented on #585
Sounds good to me

[2019-10-21 13:18] mcg-web commented on #585
Look good to me :+1:

[2019-10-21 16:41] akomm commented on #587
I agree, that replacing deep arrays is a good thing. I also see the point of @Vincz . What if we could achieve both things and stay BC?

@murtukov
What if your builders (except type, which is a new thing) would be simply implementations of the `MappingInterface`? I see there one fixable issue though: If you use `$this` to provide API for building, it means you either have to instantiate a new buil

[2019-10-22 15:10] murtukov commented on #587
@akomm

First of all, can we agree that the performance is not so important here, as builders are called only in the generation time and only once?

---

The second option would do. No need to _track_ the state, just need to call the `reset` method on the builder before system uses it's `build`.

---

My first idea was to inject a builder object as you said, but I found some disadvantages of this

[2019-10-23 09:28] akomm commented on #587
It perfectly makes sense. Every field has a type. When you use a field builder, you do so to abstract a repeating concept/pattern. If the type of the field is specific to the field and only used by this field (which is often the case), you can also abstract the types related to the field without repeating yourself. Because `graphql` has no namespace/visibility concept, such `composite` types are o

[2019-10-23 11:14] murtukov commented on #587
@akomm

The Field Builder takes the role of a Type Builder, which it shouldn't. Powerful here is not the **type emissions feature** as a whole, but the **type building** part of it.

There is no right separation of concepts, because Field Builder makes two things: builds fields and generates completely new types. Powerful doesn't necessarily mean good designed or right designed.

_With great power

[2019-10-23 12:07] akomm commented on #587
You are arguing using current naming, nobody seem to disagree, is not good. How things are named currently does not matter, it matters how they will. And my whole explanation was based on the future, not now. Of this future, one part is there, with the old naming still in place. Just ignore it. If you do not disregard the first-class idea, there is no concept separation issue at all. I explained w

[2019-10-23 13:52] akomm commented on #587
Let me also address this:

Big fan of this, try to type as much as possible, use phpstorm myself :)

The issue here, and the reason we still need the abstraction to be on top of the low level thing is, that you make a specific API, but the config is more flexible. Having 3 builder type APIs constraint would mean that any extension to it is hard-coded into the bundle. You want validation? Hard-code

[2019-10-24 14:14] ste93cry commented on #583
I'm closing this because the related PR has been merged. Thank you for being so fast in accepting the contribution

[2019-10-24 14:14] #583 closed

[2019-10-24 14:20] ste93cry opened #592 "Auto register the resolver maps using service tagging"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

I was thinking about the reason why the resolver maps are registered manually in the configuration instead of being tagged services that can be injected by the service container directly into the `TypeDecoratorListener` servic

[2019-10-24 15:30] mcg-web commented on #592
The bundle supports many schema so resolver map auto registration should also make this configurable (using a service attribute tag?). We can deprecate the option in this version and remove it in the next one. Do you want to work on a PR?

[2019-10-27 02:59] videni commented on #588
@Vincz  , do you have  "rollerworks/password-strength-bundle"?
for me it happens in test enviroment, my code base is quite large, lots of private bundles,  still not successfull to find out the one which causes the trouble.

 I create a [demo](https://github.com/videni/GraphQLBundleDemo), specially installed with `rollerworks/password-strength-bundle`, the error shows in prod,  but not in test  an

[2019-10-27 12:17] migo315 commented on #588
Have same problem after updating from `^0.12.3` to `dev-master` because I wanted to use the validator feature. Only happens in production. The workaround from @Vincz seems to work. But I don't know any side effects too.

[2019-10-28 13:50] ste93cry commented on #592
Yes, I will try to get something up as soon as possible

[2019-10-29 07:37] migo315 opened #594 "Compile Error: Cannot declare class XYZ, because the name is already in use"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | master

As soon as I add one builder to my config.yml ...
[code]

... I get the error message: `Compile Error: Cannot declare class App\GraphQL\Field\LocalizedStringField, because the name is already in use`.

My file under `src/Gra

[2019-10-29 07:48] mcg-web commented on #594
Can you try using a stable version (`0.12` or `0.11`) please?

[2019-10-29 11:22] migo315 commented on #594
I tried yesterday with 0.12.3 and got the same error.

[2019-10-29 11:39] videni opened #595 "how to use service in a builder?"
I have a custom builder which needs the router service from container, anyway to do this?

[code]

[2019-10-29 12:08] #585 closed

[2019-10-29 12:22] murtukov commented on #595
Hi @videni

It's not possible to use services in builders right now. We are currently discussing the ways to rework the builder system of the bundle in the issue #587, which discusses a possibility to make builders as services to allow dependency injection.

[2019-10-29 12:34] murtukov commented on #594
@migo315 could you provide a full stack trace?

[2019-10-29 12:49] Vincz commented on #588
@videni Hi :) No, I don't use this bundle. I'll try to dig deeper in the coming days.

[2019-10-29 15:51] migo315 commented on #594
I found the issue. Slashes don't have to be escaped if you are using single quotes in YAML.

Wrong: `'App\\GraphQL\\Field\\LocalizedStringField'`
Right: `'App\GraphQL\Field\LocalizedStringField'`

It works after I changed this line. Thanks to all for your quick response.

[2019-10-29 15:51] #594 closed

[2019-10-29 16:46] videni commented on #595
@akomm, Got it , thanks. actually the idea is the same as the `MutationFieldDefinition` class, I did't get it at the first glance.

[2019-10-30 05:42] videni commented on #595
hi, @akomm ,   I run into  another issue, can you hep this please? I searched a few hours, but don't find a solution.  I'd like to make the Link resolver more generic, as you can see below.

[code]

[code]

[code]

[2019-10-30 08:36] videni opened #597 "how to pass configurations to custom type"
I'd like to pass a format paramter to DateTimeType

[code]

[code]

[2019-10-30 08:46] #595 closed

[2019-10-30 08:49] videni opened #598 "allow to resolve builderConfig at runtime."
[code]

[code]

[code]

[2019-10-30 10:34] akomm commented on #595
It all depends on the whole picture. I would simply pass `args` to the resolver, instead of passing `args `to builder so it then passes it to the resolver.

Then I would think about what the parameters depend on. If they depend on parent value, I would transport the relevant information via the parent value type (for example `AbstractFile` is one you have). I hardly can give you a generic answer t

[2019-10-30 10:52] videni commented on #595
@akomm , seems you didn't understand me well , please look the following configurations. the `paramerters ` part has some expressions,  both `filterName`, `filename` variables are evaluated at runtime, however the `entityAlias` is hardcoded. I need to pass  these parameter into my link resolver, but I didn't find a proper way,  though json_encode might be helpfull, I don't think it is graceful.

[2019-10-30 11:40] akomm commented on #595
I quite well understood your problem, and again:

Its just an incorrect concern separation, but where the root cause for this "issue" is I can not tell as I do not have your requirements and code and also have no time to make reviews on code here... Ask yourself the question what the entityAlias depends on and if it being hard coded is really correct. Its weird you make assumptions on value at run

[2019-10-30 11:55] videni commented on #595
value is an instance of AbstractFile,  files for different entites are saved into different tables. for User entity, the table is UserAvatar(entity alias named file), fo Product entity, the table is ProductImages(entity alias named productImage). this must be hardcoded when  build file link.

[2019-10-30 13:09] videni commented on #595
@akomm , I ended up with this solution.
[code]

[2019-10-30 13:30] akomm commented on #595
And you can't simply make a FileUrlBuilderService which gets `AbstractFile` and does all the job depending on the concrete type (`$file instanceof UserAvatar`, ...)?

Btw, if `AbstractFile` extensions are mapped doctrine entities, why do you use alias in this case, if you can just use $file::class to get the repository for example?

[2019-10-30 14:28] videni commented on #595
You are right about this approach which would be simpler than my configuration one, somehow, I sticked to the configuration one.

my image route looks like below, entityAlias tells which table, so entity alias is required when access a an image like `/media/cache/file/avatar/5cd3eddb763ee264954930.jpeg`

[code]

[2019-10-30 14:39] #598 closed

[2019-10-30 15:04] akomm commented on #595
Yeah than simple `alias` -> `class` map in the service :)

[2019-10-31 13:10] videni commented on #597
@mcg-web , I think you point is doing something like this, right?

[code]

[2019-10-31 13:24] videni opened #599 "best pratice to make the entry type more organized?"
[code]

the admin entry contains query and mutation for admin,  in case of this example, API for user, location resources are included,
I have lots of other resources, this file will explode quickly if put these resources here.
I'd like to keep the user part in the UserBundle, location in LocationBundle, etc.
since this bundle doesn't allow merging when the root name is duplicated, currently I hav

[2019-10-31 13:26] mcg-web commented on #597
yes this could also be a way of doing this.

[2019-11-01 04:11] videni opened #600 "how to Inject schema extensions to SchemaBuilder via DI"
the `ValidatorExtension` is binding to `SchemaBuilder` statically,  can we  Inject schema extensions  to SchemaBuilder  via DI?

[2019-11-01 04:34] videni commented on #600
I see, currently we can add custom schema extension via the `  Events::EXECUTOR_CONTEXT` event
[code]

[2019-11-01 05:11] #597 closed

[2019-11-01 05:42] videni opened #601 "keep schema name in ExecutorArgumentsEvent"
the schema name is absent in ExecutorArgumentsEvent, can we also  pass schema name to it ? or  keep the schemName in the initial contextValue.

[code]

I think the first option is better, in nature, it should be in the event.

[2019-11-01 07:17] videni opened #603 "pass `($value, $args, $context, ResolveInfo $info )` to public"
the fields I need to show clients are dynamic based on  parameters, `($value, $args, $context, ResolveInfo $info )`, just like `access`  did.

 example
[code]

[2019-11-01 10:37] videni commented on #603
it seems this need lots of change,  so  does `webonyx/graphql-php` . [Can we collect schema types aware of contextValue parameter passed to executor](https://github.com/webonyx/graphql-php/issues/568)

[2019-11-01 10:41] videni commented on #603
the easiest way I can think is to inject the contextValue into the $globalVariable.

create a custom synthetic service to which the contextValue wil be inject, then save this service into  the
`GlobalVariables` service.

[2019-11-01 10:54] pascaldevink commented on #508
@dbartel-br Did you manage to get anywhere with implementing federation into the bundle?

@mcg-web I've managed to make a library on top of WebOnyx/graphql-php that implements federation: https://github.com/pascaldevink/php-graphql-federation
It is a very first version and not optimised, but it shows it's possible.
Can you point me in a direction as to where to start implementing it in this bundle

[2019-11-02 05:48] videni opened #605 "unable to set validation to cascade for "Relay::Mutation" builder"
[code]

the `ID! ` indicates id field can't be empty, however, it still passed when I submit data like this, that is why I add the NotBlank constraint to id field.

[code]

[2019-11-02 11:57] Asone commented on #599
I faced the same problem. I must admit the documentation is not very handy about this kind of concern, however solving the problem is not that complicated.

Here is my solution which works well 👍

First declare the object fields you need in the dispatched file you want.

Here is an example of one of mine i made for testing which is located in a module in my `src`

[code]

Then declare inheritance

[2019-11-02 12:48] jmau111 opened #606 "How to map existing Schema ?"
Hi,

thanks for this tool.
How do you map existing schema ?

I need to add a pipe to an external REST API. Setup is working fine when I define it manually in the file `Query.graphql` located in my `config/graphql/types/` folder. But when I'm trying to connect it to the API it logically throws errors.

Is there a way to describe it programmatically ?

[2019-11-02 18:45] murtukov commented on #605
@videni

It doesn't work because you are trying to apply a cascade validation on the whole field of an `object` type.

You can only apply `cascade` validation on:
- arguments of `object` types
- fields of `input-object` types

as stated in the documention.

Validation should actually be defined under the `builderConfig` key because it's meant to build a single argument for the `updateUser` field:

[2019-11-04 04:01] videni commented on #605
@murtukov , I seem, thanks for your very detailed explaination.

[2019-11-04 04:01] #605 closed

[2019-11-04 04:29] videni commented on #599
@Asone ，got it, thanks a lot.

[2019-11-04 04:29] #599 closed

[2019-11-05 11:30] kix opened #609 "Quick start guide does not explain what is actually happening behind the scenes"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12.3

Could be duplicate of #285, although that issue has been closed since with no visible improvement.

The [quick start guide](https://github.com/overblog/GraphQLBundle/blob/0.12/docs/definitions/quick-start.md) mentions setting

[2019-11-05 13:51] mcg-web commented on #609
Yes I agree this part of the document is not totally clear. This issue came with flex since it was not allowed adding demo files, so we could not add a demo `Query` type file. Adding a type `Query` should fix this.

[2019-11-06 15:17] murtukov commented on #606
Hi @jmau111. Didn't understand your problem, could you describe it more detailed?

[2019-11-06 16:31] murtukov commented on #587
@akomm

Didn't understand this part.

---

I meant separation of **concerns**, not **concepts**. My mistake, corrected. But I guess you understood what I meant.

Any program should strive to modularity and therefore to a better separation of concerns. This is one of fundamental principles of software engineering. **Field builders** currently have 2 concerns: building fields and creating new types.

[2019-11-07 09:55] akomm commented on #605
I just want to note, that the core issue here is not validation or configuration, but the inability to [customize ID parsing](https://github.com/overblog/GraphQLBundle/issues/541).

Your issue would be solved, if your server, as per GRAPHQL spec could tell that given ID is invalid. This is currently not possible

[2019-11-07 10:26] akomm commented on #587
You are arguing using wrong naming, ignoring new naming and viewpoint I described. That does not lead to anything.

Yes I did and my answer was based on this understanding, so what is the point?

Can you stop teaching? This is poison to discussion. Thanks.

This does not relate to my post in any way as you still disregard most of it, starting at the NAMING of things.

So you tell the user should n

[2019-11-08 13:00] akomm commented on #609
@kix is this just a feedback or do you actually want to know the answer for this? Just in case the later matters:

The config `overblog_graphql.definitions.schema` allows you to define multiple graphql endpoints, each with its own schema & mutation types:
https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/schema.md#multiple-schema-endpoint
As you can seei n the example there ar

[2019-11-08 13:02] kix commented on #609
Well, I've already figured out how this all is set up by looking at examples, but I think the doc would still benefit from having a direct and concise explanation on the core concepts.

[2019-11-08 13:04] akomm commented on #609
Yes. I know, if you are new to this its confusing because the information is sometimes actually there, but at different topic and might be just there as a side-effect, to to actually explain it...

[2019-11-08 13:14] kix commented on #609
My concern here is that for a quick start, you usually want to have a working basic setup of the library quick and easy. I've figured thus out, but I'm hoping to add some docs on the matter, so I'll try to make a PR for that.

[2019-11-08 22:03] ste93cry opened #612 "Fix parsing of the descriptions of the enum values when using GraphQL schema file"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.11

While looking at the documentation using the GraphiQL tool I found out that the descriptions of the enum values were missing. The bug is that while converting the AST of a` .graphql` schema file to the PHP type definitions the

[2019-11-09 11:02] #612 closed

[2019-11-12 16:36] jmau111 commented on #606
Thanks for your answer @murtukov , my issue is I cannot find any documentation about this usage : use your graphQL bundle with an existing REST API so the graphQL would access this API.

[2019-11-14 13:22] kix opened #616 "Validation results are ignored"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | looks like so
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12.3+

So, I've added an input object that is properly annotated and has validation rules attached to it:

[code]

I have it set up in my mutation as well. When I pass valid arguments with the mutation, everything works

[2019-11-14 16:51] akomm commented on #616
I think the Listener is dead code. IIRC the errors should be handled by [this](https://github.com/overblog/GraphQLBundle/blob/master/docs/error-handling/index.md) feature already.

I think your issue is, that a non validation exception is thrown, therefore you do not see validation errors.

Does your response not include the exception/trace and message?

[2019-11-14 17:01] akomm commented on #606
There is no way for this to just work auto-magically. How and from where data is retrieved is a thing the developer has to implement and is not part of graphql's concern.

[2019-11-14 19:27] jmau111 commented on #606
@akomm well, there might be a misunderstanding. I'm just looking for ways to learn things like that, that's why I asked you if there's a documentation. I guess it's a very specific usage not covered by the bundle as you described. Thanks, again, for the tool.

[2019-11-15 10:01] akomm commented on #606
There can at best only examples, but I don't know of any myself. Because its like documenting "programing". There are infinite way to do things. Pretty hard to do such a documentation.

GraphQL does not care about where data comes from. GraphQL is just the query language. How you load the data to satisfy the query is up to you (to implement in a resolver). So the most naive way is to simply call a

[2019-11-15 10:24] jmau111 commented on #606
@akomm ahah I'm not looking for programing advices here, it's not so rare actually to have complexe examples in documentation, Symfony does that pretty well 👍 even if people are supposed to know programing 🥇

The condition will not match so :)

I've been misled I guess. Not the place for these questions. Thanks for you time.

[2019-11-15 10:24] #606 closed

[2019-11-15 12:20] kix commented on #616
Turns out I was not seeing the actual validation error due to the fact that there was a trace for the exception being thrown, also included in the response.

[2019-11-15 12:20] #616 closed

[2019-11-15 15:48] murtukov commented on #616
@kix So you just didn't scroll down the response content? 😄

P. S. Traces won't be included in prod environment.

[2019-11-22 08:34] des1roer opened #617 "How send and process context?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no

How send and process context?

[2019-11-22 08:56] murtukov commented on #617
@des1roer

Your message makes no sense.

[2019-11-22 09:01] mcg-web commented on #617
@des1roer can you provide some use case or examples of what you trying to do please?

[2019-11-22 09:03] des1roer commented on #617
in graphql exist context

https://graphql-modules.com/docs/introduction/context

i can use it?

[2019-11-22 09:15] lucky-cls opened #618 "how to config a fragment type??"
|

[2019-11-22 09:19] murtukov commented on #618
@lucky-cls Fragment is a frontend thing, so you configure it in the frontend, not in the backend. In other words fragments has nothing to do with this bundle

[2019-11-22 09:25] lucky-cls commented on #618
Thank you, I just realized this.

[2019-11-22 09:26] murtukov commented on #617
@des1roer

Yes you can use it:
[code]

[2019-11-22 09:27] #618 closed

[2019-11-22 09:46] des1roer commented on #617
russian;
у меня в yaml

         affiliateClicksAndCommission:
                type: "AffiliateClicksAndCommission!"
                resolve: "@=resolver('affiliateClicksAndCommission', [args['startDate'], args['endDate'], args['retailerReference']])"
                args:
                    startDate:
                        type: "DateTimeImmutable!"
                        description: "Select

[2019-11-22 11:25] murtukov commented on #617
@des1roer

**Короткий ответ**: твой запрос никак не изменится.

**Длинный ответ:**
То, как ты определяешь аргументы в своем запросе, никак не связано с тем, как ты передаешь параметры в твой резолвер. Ты не должен передавать параметры в резолвер в том же порядке, что и в твоем запросе.

Другими словами это:
[code]
никак не  связано с этим:
[code]

**Все** аргументы твоего **запроса**, всегда сохра

[2019-11-22 12:01] des1roer commented on #617
![image](https://user-images.githubusercontent.com/10970793/69424097-98780e80-0d49-11ea-903e-732ce0eaf935.png)

      dd($args, $context);

оно вроде как все в аргументы уходит

[2019-11-22 12:08] murtukov commented on #617
@des1roer Я вроде понятно объяснил, что ты не должен менять свой запрос. Зачем ты добавил аргумент с именем context? Контекст - это не аргумент, ты его не создаешь сам. Он создается системой и содержит всякую служебную информацию.

[2019-11-22 12:21] des1roer commented on #617
а сам я не могу записать в контекст?

[2019-11-22 12:48] murtukov commented on #617
@des1roer Не только можешь, но и должен, потому что контекст для этого и предназначен. Он изначально пустой, но записывать в него ты должен внутри резолвера, чтобы потом получить доступ к записанным данным в другом резолвере.

Контекст нужен, чтобы иметь какие-то общие данные между всеми резолверами.

[code]

P.S. Не обязательно использовать методы offsetSet и offsetGet, можно записывать и считыва

[2019-11-22 12:48] #617 closed

[2019-11-26 09:33] alanpoulain opened #619 "Add OverblogGraphQLBundle to graphql.github.io"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | N/A

OverblogGraphQLBundle should be referenced in this page: https://graphql.org/code/#php.

A PR can be done here: https://github.com/graphql/graphql.github.io.

[2019-11-26 09:44] murtukov commented on #619
@alanpoulain No, it shoudln't be, as this bundle is not a pure PHP library, but a Symfony bundle. It's build on top of a pure PHP library [webonyx/graphql-php](https://webonyx.github.io/graphql-php/) and is listed on it's official docs [here](https://webonyx.github.io/graphql-php/complementary-tools/)

[2019-11-26 10:11] alanpoulain commented on #619
This page doesn't just reference libraries though:

But if you prefer to not appear on this page, no problem.

[2019-11-26 10:58] murtukov commented on #619
@alanpoulain Yeah, there is also a Laravel library, I see now, my bad.

[2019-11-26 11:16] Vincz opened #620 "Symfony 5"
It would be great to publish a new version with Symfony 5.0 compatibility

[2019-11-26 11:34] murtukov commented on #619
@alanpoulain Opened a PR, thanx.

[2019-11-26 13:17] mcg-web commented on #619
Thank you @alanpoulain :+1: , we will keep this open in the meantime.

[2019-11-26 13:19] mcg-web commented on #620
Since 0.1 is the most used version of the bundle I'll also push a patch to support Symfony 5.0

[2019-11-28 07:12] mcg-web commented on #620
Done in `v0.11.17` and `v0.12.4`!

[2019-11-28 07:12] #620 closed

[2019-11-28 07:19] Vincz commented on #620
You're the best @mcg-web !
Thank you ! ❤️

[2019-11-28 07:49] Vincz opened #623 "Deprecated %kernel.root_dir%"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | latests

With symfony 5, the container parameter `kernel.root_dir` is now deprecated.
It is used in the `commands.yaml` and also [here](https://github.com/overblog/GraphQLBundle/blob/38db44132cdd491efe6b36723fed9aaff670353a/src/Depe

[2019-11-28 08:04] mcg-web commented on #623
Oops I missed this one in 0.11, I'm on it!

[2019-11-28 08:43] mcg-web commented on #623
[This one is normal] (https://github.com/overblog/GraphQLBundle/blob/38db44132cdd491efe6b36723fed9aaff670353a/src/DependencyInjection/Compiler/ConfigParserPass.php#L165) we don't need this with flex. in commands.yaml we replace it with `%kernel.cache_dir%/../..` since this is just a default option so it can be override.

[2019-11-28 09:37] mcg-web commented on #623
@Vincz can you give it a try with `0.12@dev` please?

[2019-11-28 09:54] Vincz commented on #623
Stupid question, but in composer I'm in minimum stability dev, and try to install the 0.12 with
`"overblog/graphql-bundle": "dev-0.12"`
But it fails. How can I update to use the `0.12@dev` as you suggest ?

[2019-11-28 09:59] mcg-web commented on #623
you must add `@dev` behind your requirement like that `"overblog/graphql-bundle": "0.12.*@dev"`

[2019-11-28 10:14] Vincz commented on #623
Event with `"overblog/graphql-bundle": "0.12.*@dev"`,  It keeps installing me the 0.12.4. I cleared the cache also.

[code]

[2019-11-28 10:18] mcg-web commented on #623
Try with `composer req 'overblog/graphql-bundle:0.12.*@dev'` ?

[2019-11-28 10:27] Vincz commented on #623
So, I finally managed to install the specified version with :
`composer req 'overblog/graphql-bundle:0.12.x-dev'`

It seems to work with your last commit ! 😺

[2019-11-28 10:29] mcg-web commented on #623
Nice thank you, I'll release a new version for 0.12 later .

[2019-11-28 15:22] mcg-web commented on #623
Released in v0.12.5, thank you for report :+1:

[2019-11-28 15:22] #623 closed

[2019-11-29 03:57] videni opened #625 "how to pass custom config to custom scalar type?"
anyway to pass custom config to custom scalar type?

[code]

[code]

[2019-11-29 04:22] videni commented on #625
it works now.

        scalarType: '@=newObject("Acme\\Bundle\\AcmeBundle\\GraphQL\\Type\\Definition\\HashIdType", [param("acme.hash_id.prefix"), "channel"])'

[2019-11-29 04:22] #625 closed

[2019-11-30 16:49] murtukov commented on #619
The PR has been accepted. I am closing this.

[2019-11-30 16:49] #619 closed

[2019-12-03 09:21] enumag opened #628 "Use overblog/graphql-php-generator as dependency"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | v0.12.5

I want to use the `overblog/graphql-php-generator` without this bundle but noticed something strange - it refused to install with Webonyx 0.13 even though I was already using that version with the bundle. After some digging

[2019-12-03 09:52] enumag commented on #318
Note: I no longer need this since I'm removing this bundle from my project in favor of Webonyx StandardServer and custom usage of `overblog/graphql-php-generator`.

[2019-12-04 07:28] mcg-web commented on #628
The generator repository become readonly, because It was difficult to maintain both at the same time since the generator was first created for the use of this bundle. I going to add a script to automatically update the generator repos from this one, I'm working on it this should be done today.

[2019-12-07 09:13] mcg-web commented on #628
done created 2 new releases v0.11.17 extract from 0.11 branch and v0.12.5 from 0.12.

[2019-12-07 09:13] #628 closed

[2019-12-07 09:25] #412 closed

[2019-12-07 09:28] mcg-web commented on #406
Simplify default resolver did the job

[2019-12-07 09:28] #406 closed

[2019-12-07 09:49] enumag commented on #628
Thank you!

[2019-12-09 07:11] enumag commented on #628
@mcg-web Can you pls change the default branch of https://github.com/overblog/GraphQLPhpGenerator repository to `master`?

[2019-12-09 07:14] mcg-web commented on #628
Done!

[2019-12-16 08:49] #592 closed

[2019-12-17 09:46] akomm commented on #587
@mcg-web @murtukov
This is maybe something for the 1.0 milestone? I think this is important, but I can't imagine it to fit some feature version. What do you think?

[2019-12-18 06:08] mcg-web commented on #587
Yes this should be treated in 1.0 indeed. To make millestones easier to follow I also added a deadline.

[2019-12-18 20:17] Kocal commented on #374
Hey @mcg-web, I really want to continue my work on #377.
Are your advices still up-to-date with the new versions or not? Thanks :)

[2019-12-23 16:18] ruudk opened #629 "Only allow introspection for logged in users"
Is it possible to have [introspection disabled](https://github.com/overblog/GraphQLBundle/blob/master/docs/security/disable_introspection.md) by default and only for logged in users (with specific role)?

[2019-12-23 16:34] mcg-web commented on #629
This not possible with the bundle but with Symfony with a dedicated environment by using a different host by example you could enable it only for this environment.

[2019-12-28 11:19] ruudk commented on #629
That’s not really what I want. Do you think it’s possible to make this dynamic basis on a security listener ?

[2019-12-29 17:14] mcg-web commented on #629
Yes this is possible since it is a service registration method that enable or disable introspection. [Here are the methods](https://github.com/overblog/GraphQLBundle/blob/05eb609523424e6d46914b67c795f107b93269c3/src/Request/Executor.php#L123-L131).

[2020-01-02 10:43] ruudk commented on #629
It worked. Thanks a lot.

[2020-01-02 10:43] #629 closed

[2020-01-09 08:12] ruudk opened #631 "Upgrading from 0.12.5 to 0.13 fails with auto wire error on ExpressionFunction\Security\GetUser"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.13

[code]

Not sure what I'm doing wrong.

[2020-01-09 08:16] murtukov commented on #631
@ruudk try to install the Security Bundle
[code]

[2020-01-09 08:17] ruudk commented on #631
But I don't need Secure Bundle. Maybe the ExpressionLanguage should only register when you have that bundle enabled?

[2020-01-09 08:17] ruudk commented on #631
In my project I only have `symfony/security-core`

[2020-01-09 19:03] mcg-web commented on #631
This is definitely a bug, security should be optional. I started working on a fix I will submit a PR by tomorrow.

[2020-01-10 00:32] brettins opened #632 "Cannot declare class App\GraphQL\Resolver\[Resolver Name]because the name is already in use"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | yes/no
| Version/Branch   | 0.13.0

Hi! I've seen this issue on the forums a few times but the solutions don't seem to fit with my issue.

[code]

I'm not using YAML, I'm depending on the mentioned [auto-discovery in the PHP method for resolvers](https://g

[2020-01-10 06:24] mcg-web commented on #632
Hi! can you provide some service configuration example please?

[2020-01-10 10:43] calvera commented on #632
you probably have wrong namespace for class in the php file

[2020-01-10 18:41] brettins commented on #632
[code]

namespace is what was recommended in the overblog docs

[2020-01-10 18:44] brettins commented on #632
I'm super new to Symfony and all of this - can you tell me what files or content you'd like to see? I'm not sure what service configuration would refer to.

[2020-01-10 23:47] murtukov commented on #632
@brettins Check if somewhere in your project you import or use a statement having the same name as the class your defining. e.g.:

[code]

Here I import the class `RegistrationFormType` and then try to declare a class with the same name which of course leads to a conflict

[2020-01-10 23:51] murtukov commented on #632
From your stack trace it states that it cannot declare this class:
`App\GraphQL\Resolver\TemplateInfo`
which is located here:
`/var/www/[appname]/src/GraphQL/TemplateInfo.php`

which is strange, because you dont have `Resolver` in the path. You messed something with namespaces for sure.

[2020-01-11 00:16] brettins commented on #632
Hi, unfortunately while that would certainly be the obvious fix, I had renamed it from `TemplateInfo` to `TemplateInfoz` and got the same error. (

Only one exists, the one I pasted [here](https://github.com/overblog/GraphQLBundle/issues/632#issuecomment-573156631) and the renaming to "TemplateInfoz" would have fixed that issue, and I'm not aware of an issue where the folder structure needs to mat

[2020-01-11 07:18] murtukov commented on #632
@brettins Is it possible to upload the entire project to a repository, so that I could reproduce the issue?

[2020-01-12 13:49] videni opened #634 "Can we inject a service into args, fields ,field builder."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             |no
| Version/Branch   | 0.13

I have a grid bundle  which is used to define filter, column , sorter for a data table, these info can also be used to define Relay connection arguments and response type. that is we need to inject a service into args, fields ,

[2020-01-13 06:32] mcg-web commented on #634
This is not possible since builders are processed before container compilation.

[2020-01-13 10:40] ruudk opened #635 "Validate `access` property"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? |no
| RFC?             |no
| Version/Branch   | v0.12.5

When using the `access` property it's very easy to make mistakes. It wants to have a boolean value or expression language string. But when you forget to prefix your expression with `@=` the string value will result to true, g

[2020-01-13 12:57] ruudk commented on #635
It appears this is already properly handled: https://github.com/overblog/GraphQLBundle/blob/b12cf51a5d1dd2540154831cc63c0071488022d3/src/Config/Parser/AnnotationParser.php#L821-L824

I was having some other issues.

[2020-01-13 13:09] ruudk commented on #635
I found out that there is a check for the AnnotationParser:
https://github.com/overblog/GraphQLBundle/blob/b12cf51a5d1dd2540154831cc63c0071488022d3/src/Config/Parser/AnnotationParser.php#L821-L824

But we don't use annotations, we use YAML.

This field definition:
[code]

resolves to this generated GraphQL PHP file:
[code]

As you can see, `access` returns a closure that returns a string.

When I

[2020-01-13 14:51] akomm commented on #634
@videni Do you intend to create new `graphql` types?

[2020-01-13 15:14] akomm commented on #632
@brettins

- run `composer dump-autoload -o` and check if that resolves the issue - there are some edge-cases that leads to seemingly duplicated declarations.

Else:

- search for use & declaration of `TemplateInfo`, first only in your apps source code (exclude vendor/var, etc). example grep: `grep -rE "(^class TemplateInfo)|(use .*\\TemplateInfo;$)" project/src` and look for declaration duplicate

[2020-01-13 18:14] #635 closed

[2020-01-13 18:21] ruudk commented on #631
Thanks, now that that is merged we can close this

[2020-01-13 18:21] #631 closed

[2020-01-14 11:23] akomm commented on #587
@mcg-web

The current `MappintInterface` is internally already used to not only generate fields, but whole types. Example: [RelayProcessor](https://github.com/overblog/GraphQLBundle/blob/5e87e227fb69fb2c9cb0bf2c9495616374d68436/src/Config/Processor/RelayProcessor.php).

Does something speak about exposing this type of builder to user?

In the `RelayProcessor` case, the builder is used vial `type`

[2020-01-18 20:04] snaksa commented on #526
@Vincz @akomm Hello, is there any reason why there is no targetType option for the Mutation case? For example I want to implement two different schema types - one with access control and one without.
This definition is exactly what I need but I can have only one mutation type because I can't set any mutations in the **bar** one and an error is triggered. All mutations that I add with annotations a

[2020-01-20 13:51] Vincz commented on #526
@snaksa Hi ! You are right, I didn't think about multiple schemas when I implemented this. So, it would also make sense to handle targetType for mutations too. Feel free to PR, or if you can't, I'll try to check this by the end of the week.

[2020-01-20 15:32] Vincz opened #637 "Missing dependencies"
| Q                | A
| ---------------- | -----
| Bug report?      | yes

The `ArgumentTransformer` needs the `symfony/property-access` component.
We should update the composer.json accordingly or we get a Class Not found Exception.

[2020-01-20 21:48] snaksa commented on #526
Hi! As we discussed I added a PR that implements this :)

[2020-01-20 22:51] Vincz commented on #526
Hey @snaksa ! Thank you for this PR ! It's a really good start. I did a little review and hope it is clear otherwise I'll be glad to help.

[2020-01-21 13:16] Vincz commented on #637
The `symfony/validator` is missing too.

[2020-01-21 13:51] mcg-web commented on #637
This is normal, validator is optional

[2020-01-21 14:28] Vincz commented on #637
Ok, so I made a PR to fix the ArgumentsTransformer.
View #642

[2020-01-22 15:29] akomm opened #644 "Enhance type mappings to limit to schema(s)"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | dev-master

Currently you can have multiple schemas. Those schemas will have only types visible, which were used in the schema. This is a good thing. You can also share types between schemas, then they are visible in both. Also nice

[2020-01-25 23:56] osavchenko commented on #588
Got same error, but on version 0.13.1 (with symfony 4.3.10) and in test env. And when I comment [this line](https://github.com/overblog/GraphQLBundle/blob/v0.13.1/src/Resources/config/services.yaml#L77) this problem disappears.
BTW, on version 0.12.6 and the same symfony version - no errors.

[2020-01-27 17:40] AliceMakk opened #646 "Unrecognized option "validation""
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | the latest

I'm trying to add simple validation in my type ItemBrand, but that throws an error saying `Unrecognized option "validation" under "overblog_graphql_types.CreateItemBrandInput._input_object_config.fields.name". Available o

[2020-01-28 05:25] mcg-web commented on #646
Can you provide the bundle and Symfony version you're using please? You can use composer info for more details.

[2020-01-28 05:28] AliceMakk commented on #646
Hey @mcg-web , thank you for your reply.
This is the whole my composer.json please:
[code]

[2020-01-28 06:06] mcg-web commented on #646
Validation was added in 0.13.* you are using 0.12.* version. 0.13 required Symfony 4.3 or higher.

[2020-01-28 17:15] AliceMakk commented on #646
Thank you so much @mcg-web , I will do upgrade than.

[2020-01-28 17:15] #646 closed

[2020-02-03 13:17] god1dog opened #647 "Code-generation entity to graphql file"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | master

Since I have quite a few symfony projects, I often encounter the problem of code-generating entities into graphql files
Please add the command `php bin/console make:graphql-generate` 🙏

[2020-02-03 17:28] wiese commented on #637
https://getcomposer.org/doc/04-schema.md#suggest

[2020-02-03 18:37] mcg-web commented on #637
Yes @wiese this is an acceptable fix, do you want to submit a PR for 0.13 branch?

[2020-02-04 07:56] hjanuschka opened #648 ""[GraphQL] Overblog\GraphQLBundle\Resolver\UnresolvableException: Unknown resolver with alias "XXX" (verified service tag)[0] (caught throwable) ""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

we upgraded to symfony5 and php 7.4 and out of a sudden, graphql cannot find any resolvers anymore:

graphql:debug only shows:
[code]

[2020-02-04 08:00] mcg-web commented on #648
Can you provide the old version of the bundle before upgrading ?

[2020-02-04 08:04] hjanuschka commented on #648
it was: `v0.11.18` - and now it is: `0.13.1`

but even downgrading to 0.11.18 in symfony 5.0.x and php 7.4 results in the same errors :/

[2020-02-04 08:09] hjanuschka commented on #648
downgrading symfony to 4.3.x ->

results in resolvers showing up:

[code]

so it is not about php7.4

[2020-02-04 08:29] mcg-web commented on #648
What the result when debugging container autowire for Symfony 4.3 and 5 ?

[2020-02-04 08:48] hjanuschka commented on #648
4.3.:

[code]

5.0.x
[code]

[2020-02-04 08:52] hjanuschka commented on #648
autowiring does not see them :o

[2020-02-04 09:47] hjanuschka commented on #648
got it, its a bit weird.

adding

[code]

to the autowire definition, started loading the classes, and showed the real error:

`PHP Fatal error:  Declaration of App\GraphQL\Resolver\MediaResolver::getAliases() must be compatible with Overblog\GraphQLBundle\Definition\Resolver\AliasedInterface::getAliases(): array`

changing the definition of all my resolvers`getAlias` method, adding `: array` - fi

[2020-02-04 09:47] #648 closed

[2020-02-04 10:12] hjanuschka commented on #648
many thx! for fast response, and for your great work on this project!!! highly appreciate!

[2020-02-05 14:50] bjoernr-de commented on #588
Same issue on Symfony 5.0.4 in `prod` env - no issues in `dev` env.

[code]
[code]

once the package is removed, everything works fine:
[code]
[code]

[2020-02-05 15:26] wiese commented on #637
@mcg-web I was about to but then realized [it is already mentioned in `require-dev`](https://github.com/overblog/GraphQLBundle/blob/28d74534f09e452bb3e236e690f3069166c71367/composer.json#L66)... Keep in mind I do not know how this code base does what it does and what (if any) is its "plan B" if  `symfony/validator` is not installed.
#642 seems to push to truly make it optional but [there is more t

[2020-02-05 15:27] bjoernr-de commented on #588
☝️ this issue happens only with the latest version (=0.13.1) of the GraphQLBundle.
**No** errors with version 0.12.6 and the same setup.

[2020-02-05 16:11] efredine opened #649 "Generated Classes Throwing Warning for Deprecated Use of call_user_func_array"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |  no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12.6

The generated classes are using `call_user_func_array` in a way that has been deprecated. Example warning:
`PHP Deprecated:  call_user_func_array() expects parameter 1 to be a valid callback, non-static method Bean\APIBundl

[2020-02-08 21:31] AliceMakk opened #650 "Validation via Symfony Validator"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.1

I have Symfony 4.4 and I'm trying to make validation via created Validator:
[code]

My GraphQL mutation:
[code]

Which gives me an error:
[code]

[2020-02-09 03:07] murtukov commented on #650
Hi @AliceMakk

Please tell me more about what are you trying to validate and I'll try to provide you the best way to do it. Are you trying to create your own custom validation constraint?

If so, then you're using it wrong in your yaml config. Instead of typing `Callback` you should use the FQCN of your custom constraint:

[code]
[code]

**Note**: Don't forget to add the `getTargets` method to you

[2020-02-09 05:59] AliceMakk commented on #650
Hey @murtukov , thanks for your short reply as usually :)
Yeah, I would like to have my own validator, don't want to have in the type and also not in the entity. I thought that would be the cleaner way to achieve that by creating my own.

I was just following the [documentation](https://github.com/overblog/GraphQLBundle/blob/master/docs/validation/index.md#input-object) and that causes the error.

[2020-02-09 10:25] ktrzos opened #651 "ALTAIR GraphQL Client - Old version of GraphQL"
| Q                | A
| ---------------- | -----
| Bug report?      | ~~yes~~/no
| Feature request? | ~~yes~~/no
| BC Break report? | ~~yes~~/no
| RFC?             | ~~yes~~/no
| Version/Branch   | 0.13.1

Hi! I'm using ALTAIR GraphQL Client extension for Firefox/Chrome browsers. Every time when I refresh endpoint docs, I got this message:

![Selection_006](https://user-images.githubusercontent.c

[2020-02-09 10:51] mcg-web commented on #651
hi @ktrzos, are the lib `webonyx/graphql-php` up to date? You can try first updating it with composer if this is not the case. Since the bundle is just a Symfony implementation of this lib, you should probably open this issue directly in  `webonyx/graphql-php` if this doesn't solve your issue.

[2020-02-09 11:50] murtukov commented on #650
Please provide me your code (ItemBrandMutation.yaml, ItemBrand.php, ItemBrandValidator.php), because I can't help you without it. There is no way that it's not working if you did everything correctly.

[2020-02-09 11:55] ktrzos commented on #651
@mcg-web

The `webonyx/graphql-php` was up to date. This issue is somehow related with routes.

[code]

While using above config, I couldn't send requests via `$_POST` method. For those type of requests, server was returning 404 code. _[also, GraphiQL for Chrome didn't want to work]_ But while using `$_GET`, ALTAIR client was sending 3 requests when I wanted to refresh schema documentation. The in

[2020-02-09 15:07] ktrzos opened #652 "A way for authorization checker when generating schema"
Hi. I've got this simple type configuration:

[code]

When trying to generate schema

[code]

I'm getting an error:

[code]

How can I "mock" this in the way, that the `public: ... isGranted('ROLE_ADMIN')` will return TRUE? Or is there any other way, or only by using custom service?

[2020-02-10 16:30] jourdan-qe commented on #588
I confirm it works OK with 0.12.6

Would be great to fix this with the next release
Thanks

[2020-02-11 22:26] imolorhe opened #653 "Include Altair GraphQL"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | n/a

I would love to be able to use [Altair GraphQL Client](https://altair.sirmuel.design/) as a view like the GraphiQL view, especially since it provides several extra features than the normal graphiql (like file uploading, setting

[2020-02-18 06:40] mcg-web commented on #653
Like GraphiQL this bundle does not have it out-of-the-box. If you think this could be useful you can create an external bundle adding this feature.

[2020-02-18 06:48] mcg-web commented on #652
This is not possible right now out-of-the-box but you could create a command with a "mocked" user with valid authorization or you could try to override `isGranted` expression function.

[2020-02-18 06:57] mcg-web commented on #649
This is [the normal behavior](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/type-system/scalars.md#with-yaml) custom scalar should be define using 3 static functions. You can use [the PHP way](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/type-system/index.md#type-system)  if needed to define your custom scalar type. I'm closing this since this not

[2020-02-18 06:57] #649 closed

[2020-02-18 06:58] mcg-web commented on #647
Do you have a look to [this bundle](https://github.com/Liinkiing/graphql-maker-bundle)?

[2020-02-18 08:33] AliceMakk commented on #650
Sorry for the late reply.
**ItemBrandMutation.yaml**
[code]
**ItemBrand.php**
[code]
**ItemBrandValidator.php**
[code]

[2020-02-19 11:33] murtukov commented on #650
@AliceMakk Ok, I see now. We missunderstood each other.

Custom constraints always have 2 classes: a **constraint** class and a **validator** class. They work in pair (see [link](https://symfony.com/doc/current/validation/custom_constraint.html)).
You showed me the **validator** class of your custom constraint with the name `ItemBrandValidator`, so I assumed, that your constraint class is called `

[2020-02-23 00:27] AliceMakk commented on #650
Oh thank you so much @murtukov , my bad because of not understanding the validation properly in Symfony.
Now all works fine, thanks to your proper explanation step by step :)

Yes, for sure I was planning to remove all validations in annotations, just needed to make sure the Symfony validation was working fine, just some left work around the issue ...

Thanks a lot again!

[2020-02-23 00:27] #650 closed

[2020-02-26 02:31] murtukov commented on #632
Closing this issue due to the lack of feedback.

[2020-02-26 02:31] #632 closed

[2020-02-26 02:36] murtukov commented on #634
Closing this issue due to lack of feedback.

[2020-02-26 02:36] #634 closed

[2020-02-27 18:59] jorrit commented on #588
AFAIK this happens because all kinds of caches are enabled when APP_DEBUG is 0. The caches require `container.build_id` to be present, which I assume is only available after the container is built.

A hacky solution that works for me is this:

In `TypeGeneratorPass->process()` I add these blocks of code:

[code]
and
[code]

around

[code]

I hope anyone has a solution less hacky.

[2020-02-28 15:07] jorrit commented on #588
I have looked into this some more and the change between 0.12.6 and 0.13.1 that causes this error is the addition of `ArgumentsTransformer` to the constructor of `ExpressionLanguage\ExpressionFunction\GraphQL\Arguments` in commit 8ac73c88af1efc9f0f8d6cfad5a991723cc20d78.

It seems that it is not recommended to use the container while it is being compiled:

See https://symfony.com/doc/current/compo

[2020-03-03 12:18] akomm commented on #652
@ktrzos you are intentionally using public instead of access?

I came across same issue and after a thought realized I was thinking the wrong way - its not actually an issue, but a misused feature in many cases.

Using public is like creating different graphql schemas. Because even if you dump schema with some mocked role, you get only the schema of the view for that role. If you mock somehow, to