[2020-03-03 17:57] ktrzos commented on #652
@akomm

To be honest, in that moment I was just playing around with "overblog/GraphQLBundle". Was trying to use and test separate features, including public/access. Had no particular business logic use case for this.

But back to your comment. It's interesting approach of thinking, and I will surely consider it :). But what comes to my mind now is one question. What is the purpose of "public" then

[2020-03-04 06:04] #653 closed

[2020-03-04 06:05] mcg-web commented on #647
Closing this issue due to the lack of feedback.

[2020-03-04 06:05] #647 closed

[2020-03-04 14:11] kix opened #658 "Unable to split query configuration into several files"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.0

` Overblog\GraphQLBundle\DependencyInjection\Compiler\ConfigParserPass->checkTypesDuplication()` disallows splitting queries and mutations into several files.

Imagine I have quite a lot of queries and mutations. The thing t

[2020-03-04 14:50] mcg-web commented on #658
You should use [decorators](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/type-inheritance.md) to split your fields here is an example of how this can be done:

[code]

[code]

[code]

this will create a type `Mutation` with two fields `createProject` and `createStage`.

[2020-03-04 15:34] kix commented on #658
Oh, wow, thanks. That's an option, although I don't quite see why isn't it easier just to enable merging schemas.

[2020-03-04 18:25] murtukov commented on #658
@kix Why do you need to have multiple `Query` types?

[2020-03-04 18:49] kix commented on #658
If there is a conflict, throw an exception, show a notice. If there are no key conflicts, merge the trees.

[2020-03-05 14:08] murtukov commented on #658
@kix Without replacing the keys it would be easy to implement.

[2020-03-06 13:20] murtukov commented on #658
@kix I added a label too work on this feature later.

[2020-03-06 13:33] murtukov commented on #651
@ktrzos I am pretty sure there is something wrong in your configs, because Altair works fine with this bundle.

It makes 3 requests, because you forgot to add the trailing slash to the GraphQL endpoint, so it first makes request to this route (502), then makes redirect to the right route (301) and eventually makes a request to the right endpoint (200). Just add / to the path and it should start ma

[2020-03-09 00:30] noellaby opened #661 "unknown error fot router : http://127.0.0.1:8000/graphql"
Hello

I user Overblog/GraphQlBundle V0.13.1. after configuring my type, query and mutation, when I access the url http://127.0.0.1:8000/graphql, I encounter this error, I don't know where to start to debug this :

`{"type":"https:\/\/tools.ietf.org\/html\/rfc2616#section-10","title":"An error occurred","status":400,"detail":"Must provide query parameter","class":"Symfony\\Component\\HttpKernel\\E

[2020-03-09 00:32] #661 closed

[2020-03-09 12:46] arshad111 opened #662 "issue in file upload mutation"
![Screenshot from 2020-03-09 16-24-18](https://user-images.githubusercontent.com/15728805/76216467-a5f0d000-6236-11ea-9086-5df8a087badf.png)
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Version/Branch   | x.y.z

using : michaelperrin/blog-graphql-upload-demo

I have implemented Gr

[2020-03-10 11:00] akomm commented on #652
To answer the question: I would not use `public` at all. Let me elaborate:

First: I did not implement the `public` feature, so I can not tell what its intended use-case was/is. It conditionally removes fields from the graphql schema. When a field is conditionally removed, its as if it was never defined in the schema.

When you dump the schema, you are **querying for the types** (introspection), w

[2020-03-10 11:33] akomm commented on #658
What do you do if the type is different, or builders are used. Do you merge after builders or before.

[2020-03-10 12:23] #637 closed

[2020-03-12 20:46] ktrzos opened #664 "Whats the difference between UserWarning and UserError?"
Reference to [this](https://github.com/overblog/GraphQLBundle/blob/master/docs/error-handling/index.md) article.

I'm asking, because I see no difference in implementation of those classes. Is there a difference in usage or catching exceptions on front-end side?

Thank you in advance for making it more clear to me :).

[2020-03-13 06:38] mcg-web commented on #664
`UserWaning` are display under the json response `extensions.warnings` section. `extensions` section are  not interpreted out-of-the box by front-end apps VS `UserError` that are display in interpreted in errors section in response.

[2020-03-13 07:54] ktrzos commented on #664
Oh, ok :). Thanks!

[2020-03-13 07:54] #664 closed

[2020-03-13 11:39] ktrzos commented on #651
I filtered results only to those with `gql` prefix:

[code]

[2020-03-13 11:42] #651 closed

[2020-03-13 12:45] carlespibernat opened #666 "Complex permissions in GraphQL"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no?
| BC Break report? | no
| RFC?             | no
| Version/Branch   | master

I have a question that I don't know if can be solved with some bundle's feature or not.
I have a problem related with permissions, and I think that it could be easily solved with some schema configuration (maybe it already e

[2020-03-13 13:22] murtukov commented on #666
@carlespibernat

Essentially your question is "How to filter collection results by the authenticated user", because you already know, how to restrict acceess to the entire fields.

Your field `directory` can be accessed only by authenticated users, which means you should use the `access` option on it to prevent access by non authenticated users.

So if directory can only be accessed by authorized

[2020-03-14 15:41] murtukov commented on #662
Hi @arshad111 .

What do you mean by "postman"? And what does it have to do with the issue? I see on the screenshot [Altair GraphQL Client](https://altair.sirmuel.design/). Your question is not clear, try to provide more details or, if possibble, you could upload your project to github and I would check it out.

[2020-03-14 18:50] murtukov opened #668 "New PHP code generator"
As we know the GraphQL Bundle relies in it's core on an internal PHP code generator library. When I was implementing the validation feature I ran into a problem of editing the generator code. The library is not meant to be scaled and editing it was a hard task. Currently the code under `src/Generator` and `lib/generator` is pretty messy and it's hard to follow, how it works. I am planning to work

[2020-03-16 05:41] arshad111 commented on #662
Hi @murtukov ,
My question is that i have an issue in while upload file using mutation and i have used : http://blog.michaelperrin.fr/2018/09/19/implementation-of-agraphql-mutation-with-file-upload/
but i got issue undefined index : picture.
Do you explaing what i miss or what is wring in above link.
Or can you please give me reference of file upload in graphql(small demo project and its steps)

[2020-03-16 09:29] akomm commented on #668
1. config key: agree. but can not tell if that has some negative implications to any feature.
2. input-object: agree
3. nulls removed: while undefined index access resolved to null, the behavior is different, when you have null set explicitly. Did you test if this change would break something? Otherwise agree.

[2020-03-16 13:27] murtukov commented on #668
@akomm

Sure. It work's perfectly without null entries and it's totally expected. If you use `webonyx/graphql-php` directly you are supposed to create this configs manually and it would be strange if you were required to explicitly enter options you don't need.

[2020-03-16 13:39] murtukov commented on #662
@arshad111 I will take a look at it later, don't have much time right now.

You can also contact me and other developers on official Slack and Telegram channels:
https://github.com/overblog/GraphQLBundle#community

[2020-03-16 13:52] carlespibernat commented on #666
Yes, I understand that I can heck permissions in directory resolver, but my problem comes when there are many relations in the app, and almost all resolvers have to check many different permissions.
For example, the example I gave in the previous comment, if I try to get the directory files from the following query:
[code]

I'm creating a `file` query and then I go to its parent directory and then

[2020-03-17 10:47] mcg-web commented on #662
hi @arshad111 , can you try to replace `args['input']` by `value` in your schema (yaml) definition please?

[2020-03-17 11:41] arshad111 commented on #662
@mcg-web  in both args or only in picture argument?

[2020-03-19 14:51] ththugues44 opened #669 "Endpoint GraphQL Not support Method POST"
Hello
For 3 Days, my project which worked perfectly locally, once put on the production server.
GraphQl requests are a failure with the error "[Error: Network error: JSON Parse error: Unrecognized token '<']" and after log analysis it is a 404 error because the route was not found.

After investigation via the GraphQl Atlair client for chrome by changing the method to GET to make my GrasphQl reque

[2020-03-21 03:13] murtukov commented on #669
Hi, @ththugues44.

Unfortunately I am not familiar with this error. Could you provide minimal steps to reproduce the error? Or, as another option, you could upload your project to github repository (private or public), so that I could take a look at it myself.

You can provide the password to the repository directly to me in Slack or in Telegram. You can find my profile in the official [channels](

[2020-03-24 09:47] ththugues44 commented on #669
Hello

@murtukov Thank you for your reply. my major problem is that my GraphQL server does not accept requests and transfers to Method POST.
All my requests or MUTATION in method POST return the error (Error: Network error: JSON Parse error: Unrecognized token '<'])
Its same requests or mutation works very well in Method GET .
I don't know if anyone else had this problem if so how did you manage t

[2020-03-24 11:22] murtukov commented on #669
@ththugues44

When you make a request, your backend returns html in the response instead of json. Html code always starts with '<' symbol and your client tries to parse it as json, thats why you get this error message: `JSON Parse error: Unrecognized token '<'`. This error does NOT happen inside resolvers, because resolvers always catch any exceptions and serialize them into a json response.

What

[2020-03-24 13:20] ththugues44 commented on #669
Hello

@murtukov Thank you for your reply.

You understand exactly the problem, the server returns HTML and not Json.
My question is how to configure Overblog / GraphQl so that it accepts requests and Mutation with the Method POST.
because my requests and mutation works perfectly well with the GET method.
I use the following clients:
- GraphiQl for Development
- Appolo Client on my React Native ap

[2020-03-25 20:10] ththugues44 commented on #669
@murtukov i update post

[2020-03-25 20:25] murtukov commented on #669
@ththugues44 Obviously you didn't configure your route properly. Show me your `config/routes/graphql.yaml` file

[2020-03-25 20:28] ththugues44 commented on #669
@murtukov my **config/routes/graphql.yaml**

overblog_graphql_single_endpoint:
    resource: "@OverblogGraphQLBundle/Resources/config/routing/single.yaml"
    prefix: /overblog/graphql

what is problem ?

[2020-03-25 20:35] murtukov commented on #669
Show me what result of the command command `php bin/console de:ro`

[2020-03-25 20:41] ththugues44 commented on #669
@murtukov

`------------------------------------- ---------- -------- ------ -------------------------------------
  Name                                  Method     Scheme   Host   Path
 ------------------------------------- ---------- -------- ------ -------------------------------------
  _preview_error                        ANY        ANY      ANY    /_error/{code}.{_format}
  overblog_graphi

[2020-03-25 20:43] murtukov commented on #669
@ththugues44

Try to make a POST request to this address `/overblog/graphql/` (with a slash at the end)

[2020-03-25 20:52] ththugues44 commented on #669
@murtukov really thank you very much the addition of the slash (/) at the end solved the problem

[2020-03-25 20:54] murtukov commented on #669
@ththugues44 This is a typical mistake, that happens to everyone. It happened many time to me. I guess we need to fix it. I will add it to my list.

[2020-03-25 20:55] ththugues44 commented on #669
@murtukov thank you, i close the ticket

[2020-03-25 20:55] #669 closed

[2020-03-26 19:50] Tyler-Gauch commented on #508
Hey Everyone!

@mcg-web I was just about to ask a question about this and found this issue. I was working on trying to implement @pascaldevink library into the service. Although I'm not sure given the way the bundle works with TypeResolving if that would be able to be used. Seeing how ive found this and it seems to be a feature that others would like, I am going to keep pushing ahead trying to fig

[2020-03-27 14:13] Tyler-Gauch commented on #508
So working through this a bit and I don't think given the dynamic type resolving that we can go about doing something like @pascaldevink library. That library requires you to parse the entire graph every request and the bundle doesn't do that. So I think for the _Entity union im going to start by just making that something that the users need to define themselves.

I am also having a bit of a prob

[2020-03-31 22:59] BenMacha opened #671 "error in Paginator.php"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| BC Break report? |no
| RFC?             | no
| Version/Branch   | 0.12

"debugMessage": "Argument 1 passed to Overblog\\GraphQLBundle\\Relay\\Connection\\Output\\Connection::setTotalCount() must be of the type integer, string given, called in /Users/benmacha/PhpstormProjects/baskelBack/vendor/overbl

[2020-04-01 17:35] #671 closed

[2020-04-02 14:42] anuri73 opened #672 "Symfony property access and validator components required in composer.json"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.13.1

Installation from scratch with symfony5 throw an error :

[code]

[2020-04-02 14:50] murtukov commented on #672
@anuri73 Just install the required dependency with `composer`.

Here is the command: `composer require symfony/property-access`

This is a bug and shall be fixed in the future.

[2020-04-03 10:43] mcg-web commented on #672
Fixed in [v0.13.2](https://github.com/overblog/GraphQLBundle/releases/tag/v0.13.2).

[2020-04-03 10:43] #672 closed

[2020-04-06 10:00] LrMiLoef opened #673 "FieldAccess works not as expected"
| Q                | A
| ---------------- | -----
| Bug report?      |no
| Feature request? |no

Hey,
i'd like to make a field accessible for a small group of users.
For that i added this into my services.yaml:

[code]

My typeDefinition looks like that:
[code]

Now i have 2 issues:

1.) `access`-Field will be ignored completely when type is `Person`. How can i use `access` when the fieldtype is a

[2020-04-06 15:45] murtukov commented on #673
Hi @LrMiLoef.

First of all, when you crate a ticket there is a template, where you can enter the version of your bundle. Please use this template next time to provide more information.

What you describe here is indeed an unexpected behavior and there could be many reasons why this happens. To find out what causes these errors I need all steps to reproduce it. Could you provide it?

As an another

[2020-04-07 13:10] adri commented on #588
Same issue here using Symfony `v4.4.7` while trying to update overblog/graphql-bundle from 0.12.6 to 0.13.2.

[2020-04-07 13:40] sgehrig commented on #588
The issue is that in general the changes done to the expression language functions is incompatible with the DI container (compilation). The expression language functions are not designed to take services as constructor arguments. Instead they must rely on dependencies passt into the function during execution. So, taking the `Arguments` example that seems to cause the issue in the first place (http

[2020-04-07 15:26] adri commented on #588
@murtukov are you maybe aware of a different way of implementing this? See [this](https://github.com/overblog/GraphQLBundle/issues/588#issuecomment-610393275) and [this](https://github.com/overblog/GraphQLBundle/issues/588#issuecomment-610393275) comment.

Link to the original PR of this change: https://github.com/overblog/GraphQLBundle/pull/536

[2020-04-08 09:03] akomm commented on #673
1) *ignored* is not very descriptive. Is the value accessible, is it not? A typical error that can happen with *access* is when the expression, here `@=service('user_service').hasAccess()`, returns non-boolean value by accident, which is casted to boolean. Check what said `hasAccess` returns to be sure its boolean.

2) private services are invisible. Following the [docs](https://github.com/overblo

[2020-04-08 09:14] LrMiLoef commented on #673
I‘m currently updating to the latest version of this bundle. At the Moment i’m using Version 0.11.12.

The issue with accessing the service is resolved now. The only thing thats not working at the moment is the field access control for custom types like „Person“ in my example. For all other field types it‘s working fine.

[2020-04-08 13:34] ZeusInTexas commented on #588
I agree with @jorrit on this. It causes a lot of problems when using bundles that heavily depends on Dependency Injection to make deep changes in the application (i.e. https://github.com/dmaicher/doctrine-test-bundle), because it forces the compiler to generate container services earlier than expected (see https://github.com/dmaicher/doctrine-test-bundle/issues/117).
I can't think of a solution ri

[2020-04-20 08:46] LrMiLoef commented on #673
sorry for the long pause. i think i have an idea when the problem occurs:

I noticed that it only occurs with fields resolved by a resolver map. Then it ignores the access statement completely.

[2020-04-20 08:55] akomm commented on #673
Oh, yes. it currently does not support it:
https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/resolver-map.md
Check the notes at the bottom of the docs. :)

[2020-04-20 10:21] Vincz opened #674 "Multiple field and access"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| Version/Branch   | 0.13.2

When using annotations, if we found a multiple relation with doctrine (OneToMany or ManyToMany), we generate a non null multiple (like: `[Friends]!`). It means that the field will always be an array (but it can be empty). So we have a `Type::nonNu

[2020-04-20 12:30] murtukov commented on #674
Hi, @Vincz.

Why are you trying to fix the side effect cause by another bug? If I understand correctly, the `access` option should not return null for the entire object and this is the bug we should fix. The 3 options that you suggest look like a temporary hack.

[2020-04-20 14:45] Vincz commented on #674
In fact, I'm not even sure it is a bug.
I checked the code of webonyx on fields resolution, and when a field is marked as not null, if the resolution failed (ie. An exception is throw) for this field, the entire operation failed and we get a `null` for the entire operation. I think that's because we are not supposed to have exception raised during resolution. See this [line](https://github.com/web

[2020-04-20 15:18] mcg-web commented on #674
Hi @Vincz, yes this is not a bug if your client is not enough "smart" to ask only fields that viewer has access then you should make these fields nullable. You could also help your client to know the fields it have access before making the request:

[code]
[code]

[2020-04-20 15:52] Vincz commented on #674
Hey @mcg-web !
My use case is a little bit different. The "accessibility" of the field depends on the data of the object itself.

Let me explain:
Imagine I have an object `Profile` with two fields : `email` and `isEmailPublic`.
If I query a `Profile`, I should get a value for `email`, only if the Profile `isEmailPublic`, otherwise, I should get a `null` for the email.
So I don't really want to mak

[2020-04-20 16:06] mcg-web commented on #674
Yes this new `returnEmptyOnDenied` option could be a more flexible solution.

[2020-04-20 17:48] Vincz commented on #674
👍❤️
I’ll work on it !

[2020-04-21 08:46] akomm commented on #674
@Vincz In general I'm with [this comment](https://github.com/overblog/GraphQLBundle/issues/674#issuecomment-616621213). It depends on whether you really need the `isEmailPublic`. I am judging only by the info I have so far:

Of all proposed & preferred solutions here, all seem to change the field to nullable. What is the reason, not to make it nullable in the schema? Because it tells, what the fie

[2020-04-21 09:56] Vincz commented on #674
@mcg-web Do you think I should add the option on the side or redefine the way the `access` option is defined ?

Something more like this :
[code]

...or...

[code]

In the second case, we could also accept the "old" format to be bc compatible too.

[2020-04-22 10:51] mathroc commented on #588
beware, this workaround:

[code]

caused me some issue when upgrading to Symfony 5, in prod env (or any env without debug enabled)

it cause this error:

Stack trace:
#0 /scripts/api/var/cache/qa/ContainerB1XIgLp/getCache_AnnotationsService.php(14): Symfony\Component\Cache\Adapter\AbstractAdapter::createSystemCache('v3dW6ZGpEj', 0, NULL, '/scripts/api/va...', Object(Symfony\Bridge\Monolog\Logger))

[2020-04-27 07:32] JasonTaverner commented on #155
Hello, I have implemented the omar and siler solution with version 0.12. I currently have the websocket and subscirption working. But I have a problem. Once a mutation is done, and I already have the newly created object I cannot call to overblog again to parse this information and give an answer to apollo. Is there an easy way to create this response by calling some overblog method? I have been s

[2020-04-30 08:00] Vincz commented on #674
ping @mcg-web

[2020-05-05 18:44] mcrawford-dayspring opened #676 "Value on Enum type is ignored in YML"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12.7

It seems like the "value" of an enum is ignored, and only the name is used.

If I have this YML definition:

[code]

then this is what will get returned in the schema introspection query:

[code]

I would expect to see a `"v

[2020-05-05 23:02] mcg-web commented on #676
This is the normal behavior, value is use only internally. It's never expose by introspection or any other query.

[2020-05-05 23:38] murtukov commented on #676
Hi @mcrawford-dayspring. According to the [official documentation](https://graphql.org/learn/schema/#enumeration-types) enumeration types are just sets of scalars, e.g.:
[code]
The values mapped to each scalar are not a part of the GraphQL specification, it's just a useful feature provided by the bundle. They are used only on the backend and not meant to be exposed to clients.

[2020-05-06 15:29] mcrawford-dayspring commented on #676
OK, got it, thank you for explaining. It was a misunderstanding on my part. We wanted to use the values on the client end of our app, but now I understand the intention.

[2020-05-06 15:29] #676 closed

[2020-05-07 09:29] mcg-web commented on #674
Hey @Vincz sorry for late reply I missed this one. The option `emptyOnDenied` could still be helpful I think but It can be difficult to implement.

[2020-05-11 13:11] murtukov commented on #673
Closing this issue due to lack of response.

[2020-05-11 13:11] #673 closed

[2020-05-14 13:20] ruudk commented on #479
@Vincz Do you maybe have an example on how to achieve this? I don't get it.

[2020-05-15 06:22] des1roer opened #677 "How I can understand what fields requests"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | x.y.z

how to understand in the code which fields the frontend requests

[2020-05-17 15:34] serbanbjd commented on #508
@Tyler-Gauch as far as i have gone, we first need to enable directives on the bundle. That means we will need to enhance Overblog\GraphQLBundle\Config\Parser\GraphQL\ASTConverter\DirectiveNode to support all kind of directives. @mcg-web any insight over what would be the difficulty into implementing this?

Also, Overblog\GraphQLBundle\Config\Parser\GraphqlParser needs directiveDefinition added as

[2020-05-18 10:34] murtukov commented on #662
@arshad111 Did you solve the issue? I still didn't find time to investigate it.

[2020-05-18 10:48] murtukov commented on #677
@des1roer you can inject in any of your resolvers a ReolveInfo parameter

[code]

[code]

[2020-05-18 13:09] des1roer commented on #677
in GraphQL\Type\Definition\ResolveInfo no information which fields to return

[2020-05-18 13:16] des1roer commented on #677
more precisely $info->getFieldSelection()

[2020-05-18 13:16] #677 closed

[2020-05-18 15:06] arshad111 commented on #662
yes @murtukov,this issue was solved :)

[2020-05-18 15:14] #662 closed

[2020-05-21 15:46] serbanbjd commented on #508
This is a fork i did, its not yet finished. https://github.com/lolaent/GraphqlBundle

[2020-05-21 15:47] serbanbjd commented on #508
@pascaldevink @Tyler-Gauch

[2020-05-23 15:55] ktrzos opened #679 "Resolving hasSomething / isSomething methods not working"
I have this entity:

[code]

and its configuration:

[code]

While executing this query:

[code]

I got this message:

My resolver looks simply like this:

[code]

It works when renaming getter from `isDeleted` to `getDeleted`.
Why `isSomething` or `hasSomething` methods does not work?

I even tried to set `isDeleted` field in the configuration instead of `deleted`, but it still doesn't help.

[2020-05-23 16:24] mcg-web commented on #679
Can you please provide the bundle version?

[2020-05-23 16:28] ktrzos commented on #679
Currently I have `v0.13.2` installed.

[2020-05-23 16:37] mcg-web commented on #679
Read [this update](https://github.com/overblog/GraphQLBundle/blob/master/UPGRADE-0.13.md#improve-default-field-resolver) note this should help you. You can fallback to PropertyAccess if this match more your needs.

[2020-05-23 16:39] ktrzos commented on #679
Oh, I see. Thank you for your help :).

[2020-05-23 16:39] #679 closed

[2020-05-25 09:55] pascaldevink commented on #508
@serbanbjd nice! Any idea on how much work is still left to finish this as a PR?

[2020-05-25 15:32] mcg-web commented on #508
@serbanbjd directive was not implemented because no one seems to have the need for so far. We can implement this in 1.0@dev.

[2020-05-27 07:06] serbanbjd commented on #508
Well the most important work now is to pass the directives defined in the SDL into webonyx's graphql engine. We also need to be able to define directives in yaml, just like types. Also we need to do validation on the directive's parameters. So we have a few things to do before this is complete :)

[2020-06-17 17:47] ktrzos opened #683 "How to create a "int -> entity" scalar"
I want to create an input scalar type in my schema. It should take an integer on input and in internal use it would return an entity with this integer as its ID. If particular entity will not exist, error should appear in GraphQL client.

The problem is, that scalar methods are static, and I cannot access entity repository or anything in dependency container. On [webonyx](https://webonyx.github.io

[2020-06-17 20:09] murtukov commented on #683
Hi @ktrzos.

Regardless of which configuration method you choose (yaml, annotations, graphql etc.), this bundle eventually just generates for you webonyx types, which you can find under the path (unless changed):
`var/cache/dev/overblog/graphql-bundle/__definitions__`
All generated types are services.

This means that you can create your custom webonyx type manually (non-generated type). To do thi

[2020-06-20 09:37] ktrzos commented on #683
@murtukov
Thanks for so detailed info! I'll give some feedback back in 1st free moment :).

[2020-06-27 12:08] ktrzos commented on #683
@murtukov
Works like a charm! Thank you again for your help :).

[2020-06-27 12:08] #683 closed

[2020-06-27 15:35] ktrzos commented on #683
I have also done this in that way:

[code]

[2020-06-29 14:11] enumag opened #690 "Webonyx GraphQL v0.14"
vladar released the [v0.14](https://github.com/webonyx/graphql-php/releases/tag/v14.0.0) version recently. Of course this bundle doesn't support it yet.

Personally I'm no longer using the bundle. However I'm still using the [overblog/GraphQLPhpGenerator](https://github.com/overblog/GraphQLPhpGenerator) package. Is there some way to update it separately so that I don't have to wait for full bundle

[2020-06-29 17:31] mcg-web commented on #690
I'll make the requirements lease strict on the generator so this will not be a problem in the future.

[2020-06-29 19:40] enumag commented on #690
Thanks!

[2020-06-30 06:26] zserg84 opened #691 "Response cache"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.2
--

Hi guys. I have endpoints whose results rarely change. And I would like to cache this results so as not to torment the database with every query. Is this possible in the current implementation?

[2020-07-01 14:32] murtukov commented on #683
@ktrzos There is a bug in your code:

[code]
Static closures cannot access `$this`

[2020-07-05 19:38] Vincz opened #692 "Allow auto isTypeOf when using annotations"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

When using interfaces with annotations, we already have a mapping between PHP classes & GraphQL type.
The `isTypeOf` option could be automatically added to GraphQL types generated from annotated PHP classes so we wouldn't have

[2020-07-05 21:08] #668 closed

[2020-07-05 21:14] mcg-web commented on #692
This seem OK to me but 0.13 version are feature freeze, we can add this to 1.0-dev .

[2020-07-06 06:36] Vincz opened #694 "Allow entity id scalar generation"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 1.0.0

I'm currently working on a pretty big corporate application. So I have many entities with cruds, forms, etc... So a lot of code is "automatic" and it's great. I know feel the same need expressed here : https://github.com/over

[2020-07-06 09:32] Vincz commented on #691
Hey @zserg84 !
At the moment, there is no built-in cache system. It shouldn't be to hard to implement with events I think.
Check this page : https://github.com/overblog/GraphQLBundle/blob/master/docs/events/index.md
By hooking into the pre execute to check the cache and in the post to actually cache the result for later.

[2020-07-07 04:37] murtukov commented on #694
Hi @Vincz,

I am already working for couple of months on a feature called **Hydrator**. It will basically allow you to assotiate a **model** class to an `input-object` type and when a request comes, the model will be populated with data. It is similar to what you created (called `ArgumentsTransformer` if i am correct), but it should be more comprehensive and flexible. One of the **Hydrator**'s fea

[2020-07-07 04:49] murtukov commented on #692
@Vincz absolutely agree. But the `isTypeOf` option should be still possible, if user wan't to use another class.

[2020-07-07 05:04] murtukov commented on #658
@akomm ah, there are too many nuances. Maybe the best option is to decline this idea.

[2020-07-07 09:08] akomm commented on #658
@murtukov I agree.

Its basically hitting the root issue that is experienced [here](https://github.com/overblog/GraphQLBundle/issues/577#issuecomment-542091687). The expected behavior here is to narrow and based only on current requirements. The config goes into different components. Some used to generate graphql types, some used to generate validation constraints. And as in the linked issue, the

[2020-07-07 09:13] enumag commented on #690
ping @mcg-web

[2020-07-07 09:31] kix commented on #658
Well, using `inherits` seems to solve the issue, although there certainly should be some emphasis on this feature in the docs. Any decently sized API tends to have a lot of interactions, so splitting those into separate files makes a lot of sense.

For anyone looking for a way to do this, coming from Google perhaps, this is the working and correct way: https://github.com/overblog/GraphQLBundle/iss

[2020-07-07 12:55] mcg-web commented on #690
done @enumag . Since the lib is not more embedded in this bundle you can submit PR or issue directly in it repository.

[2020-07-07 12:55] #690 closed

[2020-07-07 13:00] enumag commented on #690
Thanks for clarifying that. I was confused since the repo was marked as "readonly" until now.

Can you make a new release of the package?

[2020-07-07 13:35] mcg-web commented on #690
done [overblog/GraphQLPhpGenerator v0.12.6](https://github.com/overblog/GraphQLPhpGenerator/releases/tag/v0.12.6)

[2020-07-07 19:46] Vincz commented on #692
@murtukov I'm not sure about the performance impact. I like it as simple as `isTypeOf: '@=isTypeOf("App\\Entity\\Human")`.
The supposed "performance" impact is that with just isTypeOf, it'll loop through types implementing a given interface.
And to be honest, if we had to write a resolver ourself, we would basically do the exact same thing (a chain of "instance of").

[2020-07-07 20:27] murtukov commented on #692
@Vincz function calls are much slower than control structures (e.g. a chain of "instanceof") by definition. Of course this doesn't matter by small and medium projects, but what if somebody uses this bundle on a highly loaded website?

I would suggest you to implement, what you suggested above and to add a note in the documentation about both approaches (if somebody decides to use `resolveType` for

[2020-07-07 20:34] Vincz commented on #694
@murtukov Yes, this would be the kind of thing that could help, but as you said it's kind of the same as the Arguments transformer.
At the moment, to be honest, the annotations and arguments transformer are quite awesome for me. I'm working on a quite big project, with a lot of entities and stuff and I really enjoy the auto-guessing stuff that comes with annotations.
95% of the time, my GraphQL Ty

[2020-07-07 20:43] Vincz commented on #692
@murtukov Yes, you are right : https://github.com/webonyx/graphql-php/blob/ae9bd3644bcacc22907aed78d70c0cba5c567511/src/Executor/ReferenceExecutor.php#L1021
In the warning it explains that it need a full scan of the schema. The `isTypeOf` approach is not really optimal.
We should be able to generate a map of interfaces <-> types and generate a proper resolver, I'll look into it.

Thanks!

[2020-07-07 22:14] murtukov commented on #692
@Vincz This should be easy. We can add a static function right inside the generated interface type with following content:

[code]

Thanks to the new generator library this could be generated with following code:
[code]

[2020-07-08 01:04] murtukov commented on #120
@VincentClair

If you mean throwing an exception when `["Acme\\AppBundle\\GraphQL\\Type\\DateTimeType", "serialize"]` is not callable, then it's  implemented in 1.0 and this issue can be closed.

[2020-07-08 04:39] murtukov commented on #588
@jorrit @migo315 @mathroc @bjoernr-de @osavchenko @adri

Do you still have this issue? I can't reproduce it. I've tried fresh installs of Symfony 4.3.10 and 4.4.7 with versions 0.13.1 and 0.13.2.

[2020-07-08 05:38] deeky666 commented on #588
@murtukov still happens here with Symfony 5.1.2 and 0.13.2

[2020-07-08 06:23] murtukov commented on #588
@deeky666 could you show your composer.json file?

[2020-07-08 06:33] Vincz commented on #692
Awesome ! I'll definitely look into it. The new generator API looks really clean !

[2020-07-08 06:40] deeky666 commented on #588
@murtukov you can reproduce it with the following command (I used the Symfony installer in this example):

[code]

The problem arises when using the Symfony Validator component, but I guess it could happen with any other package, too. Hope that helps.

[2020-07-08 08:42] sgehrig commented on #588
I've just added a PR #697 to fix the issues mentioned in my comment above (https://github.com/overblog/GraphQLBundle/issues/588#issuecomment-610393275). This should fix the underlying issue of setting up the expression language functions in a compiled container.

[2020-07-08 15:55] mcg-web commented on #588
The fix has been released in v0.13.3, I'm closing this one. Thank you @sgehrig :+1:

[2020-07-08 15:55] #588 closed

[2020-07-09 07:19] Vincz commented on #692
@murtukov I'm not sure how to handle it.

- To generate the resolve type, we need to have a PHP class for every type implementing the given interface. We only have this with annotations. I don't really now how we could handle this without annotations except by giving each GraphQL type a model (with a modal key in the yaml for example?).
- I could generate the `resolveType` directly into the `Annot

[2020-07-09 07:30] Vincz opened #701 "Annotations & Interfaces / Unions auto-discovery"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 1.0.0

It could be great to auto-discover a GraphQL Type Unions & Interfaces with annotations.
For a given PHP class we could loop through parents & interfaces.
If one of this parents or interfaces is a GraphQL Interface or Union it

[2020-07-09 08:43] Vincz opened #702 "Allow more control over config processing"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 1.0.0

At the moment, all the config processing classes are hardcoded and static stuff : The processor, the various parsers, etc...
It's then impossible to extend them or modify the behaviour for a specific project.
It could be grea

[2020-07-09 08:47] #555 closed

[2020-07-09 08:48] akomm commented on #658
@kix check your generated types. Without `decorator` option I think the inherited `ProjectMutations`, etc. will be created as own type.

[2020-07-09 08:52] Vincz commented on #513
Implemented in https://github.com/overblog/GraphQLBundle/pull/696

[2020-07-09 08:52] #513 closed

[2020-07-09 11:52] murtukov commented on #692
@Vincz

Weren't we considering this as an exclusive feature for annotations from the beginning? Because only with annotations you automatically have php classes associated with graphql types. I think there is no way to do it with yaml, unless the user explicitely declares the `model` key.

This is what a was thinking too: modifying the `TypeBuilder` class. But one think just came into my mind: wha

[2020-07-09 12:03] Vincz commented on #692
You are absolutely right. But I'm always struggling when a feature is "Annotations" specific ^^

Yes, I was thinking about it too. But if we loop through types when we generate the resolver and realise that a type is missing in the class map, we can always raise an error. Something like : `We were unable to generate automatically a resolver for your interface... please define it manually.`.

Maybe

[2020-07-09 12:12] murtukov commented on #702
@Vincz I think this things are too specific and require too much knowledge about internal work of the bundle to expose this classes as options. Processors take config arrays, change their structure and pass them to the type generator, which expects a certain shape of this array without validating it. If we make this classes configurable, then we also need to explain to users in the documentation,

[2020-07-09 12:31] murtukov commented on #692
The question is: where this warning should be raised? In the dev environment I don't explicitely execute `graphql:compile`, types are generated automatically. Anyways this is a rare case, what kind of person would generate a mixed schema with interfaces in annotations and its implementors in yaml? 😂

Maybe. This question requires a deep analysis of all pros and cons. I didn't tried annotations yet

[2020-07-09 12:49] murtukov commented on #701
@Vincz again the same question: will it be possible with mixed schema (yaml/annotations)?

[2020-07-09 13:06] Vincz commented on #701
Why are you doing this to me ??!!! 😭  😜
You are right, it doesn't make any sense without annotations...

[2020-07-09 13:13] Vincz commented on #702
@murtukov Yeah... maybe you are right... It's just that sometimes I'm kind of frustrated not to be able to hook into the parser itself.

[2020-07-09 13:13] #702 closed

[2020-07-09 13:21] Vincz commented on #692
Maybe we could just don't allow it and raise a proper exception. So the user has to set his resolver explicitly and he knows why. If we silent the error or just add a warning, the user can struggle to find out why some of his types resolve properly while others don't. Anyway, I'll try to create a PR for this ticket and the #701. Thank again for your time !

About the annotations, yes, I know they

[2020-07-09 17:22] murtukov opened #707 "Improve annotations"
@Vincz  I went through the documentation and gathered some notes. Here are couple of improvements that could be done:

### 1. Add support for type auto-guessing from property type-hints

e.g. this:
[code]
should be equal to this:
[code]

### 2. Omit the attribute's key
Treat the first argument as "type" by default

e.g. this:
[code]

should be equal to this:

[code]

The `name` attribute could be

[2020-07-09 17:34] murtukov commented on #707
If we implement all this, one panda in the China will be happy 🐼

[2020-07-09 17:38] Vincz commented on #707
It's indeed a nice list of improvements we could do!
(Keep in mind that there is also auto-guessed stuff based on doctrine annotation as well).
You should play a bit with the annotations to discover it's full potential.
To be honest, even if it's not perfect, it's really convenient for rapid application development.
I really think we should discuss about it all together.
Let's make the pandas happ

[2020-07-10 05:53] murtukov opened #708 "Resolver definition improvement"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 1.0

These are the next enhancements I would like to work on next.

### Expression language

Currently this bundle heavily (if not completely) relies on Expression Language which is a powerful, yet pretty exotic feature. I don't be

[2020-07-10 06:35] Vincz commented on #708
Hey @murtukov !

I agree with you about the expression language, but...
On my current big project, I didn't use it a single time.

Here is why:

I use the `@Provider`, the `@Query` and the `@Mutation` annotations all the time.
So I don't have this intermediate step of defining the query/mutation with a resolver.

When I need a new query or mutation, all I have to do is tag a method as query or mut

[2020-07-10 06:53] murtukov commented on #708
@Vincz how is it supposed to help if I talk about improvements in yaml configs only? Sounds more like another annotations advertising 🙂

[2020-07-10 07:03] mavimo commented on #708
@murtukov a lot of improvements 🎉

I appreciate most of them, on some one i had no clue to have a strong opinion; I think should be super useful if this issue will be subdivided in many issues so we can discuss them without mixing, WDYT?

I'll try to add my points if we split it I'll report each one in the appropriate issue :)

*Expression language*
I'm not a big fan of expression language & annot

[2020-07-10 07:16] Vincz commented on #708
@murtukov Sorry mate, I didn't mean to be rude. As your initial example was about annotations, I thought that was the subject. And yes, let's be honest, I'm definitely biased about annotations 😺

[2020-07-10 07:45] murtukov commented on #708
@mavimo

How do you defined your yaml configs? If you look at the documentation it literally all about expression language.

Example:
[code]
`resolve`, `resolveType`, `access` - this fields use expression language. Without expression language types defined in yaml become useless, becaus. I wonder how do you define your schema?

----

I don't really understand what you mean. Resolvers gets only tha

[2020-07-10 08:21] murtukov commented on #708
@Vincz  Don't get me wrong, I love annotations and it's always my #1 choise for configuration (doctrine, routes, asserts, etc). And I know, that I will use only annotations in the future for GraphQL definitions, but not yet. I think it's not ready. It's not universal: validation is limited, it doesn't support groups, doesn't support group sequences, I don't know, in what form validation errors are

[2020-07-10 09:30] mcg-web commented on #708
I can't answer for the annotation points because my main project using this bundle used yaml configuration. But expression language is the foundation of this bundle indeed.The bundle was first place made to be used by ANY dev (not only php or Symfony) , this point is very important to understand the concept under the creation of this bundle. Here in my team any frontend dev can make simple changes

[2020-07-10 09:42] mcg-web commented on #708
I agree with @mavimo [comment](https://github.com/overblog/GraphQLBundle/issues/708#issuecomment-656519508) it look very close of my point of view on this.

[2020-07-10 09:51] murtukov commented on #708
@mcg-web well my suggesting doesn't really remove or breaks anything. It just adds a new functionality, in which you can simply move all resolver-related configurations in the resolvers itself. So at the end of the day everyone is happy and can use whatever approach he wants.

Okay then, i can work on this, right?

[2020-07-10 10:01] mcg-web commented on #708
I don't really understand this point since you say that you don't break anything?

[2020-07-10 11:19] murtukov commented on #708
Then I'll just show an example. I am not trying to remove the expression functionality, but simply trying to allow users to have an option. The following config should be valid after the implementation:

My YAML:
[code]
Resolver:
[code]
As you can see I don't configure resolver params in the yaml, because they are auto-guessed. But in the second resolver `findUserPosts` the param `$myService` cann

[2020-07-10 12:47] mcg-web commented on #708
you don't get what I mean I think. I'm not using annotations in my main project so your solution does not answer to my needs.
I don't understand what the problem with supporting both

[code]

`@=` is a trigger to enable expression language so this is not a must to enable it we can suggest installing expression language, then this become totally optional.

Next question for `App\GraphQL\UserResolve

[2020-07-11 01:26] murtukov commented on #708
@mcg-web No, I get what you mean. I didn't say you can't use both. You can, both will be valid in YAML:

this `"@=res(...)"` and this `"App\GraphQL\UserResolver::getUser"`

I only suggested to define them under different keys:
[code]
Here are reasons, why it makes sense to use different keys:
- The `resolver` key can be validated in the `TreeBuilder` during the compilation and raise an error if me

[2020-07-11 01:35] murtukov commented on #708
@mcg-web

No. It doesn't "inject" anything. It's generated 100% the same way as this:
[code]

We just don't define arguments in the yaml, they will be auto-guessed from the method signature. Annotations will be used **only** if arguments cannot be auto-guessed.

[2020-07-11 02:19] mcg-web commented on #708
Ok thank you @murtukov  for answers! its clearer to me now.

I prefer a solution totally base on config like this
[code]

Can I work on this feature ? I maybe have a solution to completely remove old resolve without loosing it flexibility.

[2020-07-11 02:49] murtukov commented on #708
@mcg-web Interesting. I like it, very similar to service arguments binding.

But I have 2 questions:
1. How will the short syntax guessing work?
2. How do you use expression language?

---

Yeah, sure, I have another features to work on.

[2020-07-11 08:02] murtukov commented on #174
@edefimov validation is implemented in 0.13

https://github.com/overblog/GraphQLBundle/blob/master/docs/validation/index.md

[2020-07-11 08:03] mcg-web commented on #708
short syntax will used Reflection on compile time to add information to bind using var names or typehint for ResolveInfo for example.

expression language we become a service create on container compile time and will replace `resolve` by `expression`.

[code]
will be equivalent to something like that

[code]
I will be smart enough to generate a resolver only it doesn't already exist

[2020-07-12 06:27] murtukov commented on #708
@mcg-web Take into account, that if we also make possible to configure bindings with annotations, then it would be conviniet to use it with GraphQL Schema Language:

[code]
Of course we can could make possible to make bindings inside GraphQL Schema language as well:
[code]
but it doesn't look very clean and you can't use the `$` symbol as the binding var name (`$object` in this case).

[2020-07-12 07:49] mcg-web commented on #708
I'm working on the feature using yaml in the first place, we'll break this feature in small PRs to make this easy to review so we can start using it an improve it before release.

[2020-07-12 09:38] Vincz opened #712 "Default schema consideration"
| Q                | A
| ---------------- | -----
| Bug report?      | maybe

I realised that I've always assumed that the default schema name is "default". But is it a correct assumption ?
If we have multiple schemas like this:

[code]

Should we consider that there is no default schema or should we consider that the default schema is the first schema defined, ie `schema1`.

What about in this ca

[2020-07-12 10:12] murtukov commented on #712
@Vincz why do you need to determine which schema is default?

[2020-07-12 10:19] Vincz commented on #712
I needed it in the annotations to get the default types `@Query` and `@Mutation` should apply when no `targetType` is defined (and I take the one with the name `default`).
It also used in the `Executor` to get the schema being executed if none is specified (it takes the first one defined).
And it's also used in the Data collector where it also consider the name 'default' if no schema is set.

[2020-07-12 10:36] murtukov commented on #712
@Vincz I would use the first one, if no schema with `default` is defined explicitly

[2020-07-12 12:22] Vincz commented on #692
@murtukov So, I was looking again into this, but still not sure about how to do it.
If we want to use the generator (that would be the cleanest way), we should add a lot of logic in it and I'm not sure that it would be the best idea.
What if, in the generator, in the places where we supposed to receive an Expression, we would also accept instances of `use Murtukov\PHPCodeGenerator\Closure`.
Would

[2020-07-12 16:01] #701 closed

[2020-07-13 05:58] murtukov commented on #692
@Vincz Honestly I didn't understand what the problem is, I don't see the whole picture of it.

What kind of logic? Could you describe in words (in steps)?

[2020-07-13 06:08] Vincz commented on #692
@murtukov Hey man!
So, to be able to generate this function, here is the logic:
- If the `resolveType` option is set, ignore it and don't generate anything.
- If we don't have the option, we must generate.

To generate it, we need:
- The list of classes implementing this interface (so we need the map of Class / GraphQL type)
- For each one of this classes, we need the corresponding GraphQL type
-

[2020-07-13 06:20] murtukov commented on #692
@Vincz

The `TypeBuilder` is called from `TypeGenerator` for each generated type. That means, that `TypeBuilder` has access to configs only of a specific type in a certain point of time. The `TypeGenerator` has however access to the whole schema's config. Maybe `TypeGenerator` could make all this calculations and add required information to the config, before it is passed to `TypeBuilder`?

[2020-07-13 06:21] murtukov commented on #692
@Vincz `TypeGenerator` line 99 is where it gets the schema config. I would start wrom here

[2020-07-13 06:33] Vincz commented on #692
@murtukov Yes but at this point we don't have the classes / types map, so we would have to inject it into the `TypeGenerator`. We don't have the PHP classes in the configs. Or we would have to determine a new config key of some sort to indicate to the `TypeBuilder` what must be done.
And it feels a little bit weird to make the `TypeGenerator` and `TypeBuilder` aware of the interface auto guessed `

[2020-07-13 06:50] murtukov commented on #692
@Vincz

I don't like the fact, that `TypeBuilder` will get already built components from somewhere else, because it's a task of `TypeBuilder` - to build types. Currently `TypeBuilder` gets a simple config with scalaras or arrays inside it. Now it also will get objects. I don't know if it's good or bad, I am not an app-architecture genius 😀. Let's just try it and look, how it would work out. I woul

[2020-07-13 08:21] Vincz commented on #692
Yes, I understand your point. It's just weird to have all this auto-generated code in the Annotation parser and just this one in the `TypeBuilder`. In fact, if we wanted to stay consistant, we should use an Expression function to define the `resolveType` in the Annotation Parser (that is already what we are doing to generate all others auto-guessed resolvers).
But it sucks if we have to generate a

[2020-07-13 08:26] murtukov commented on #692
@Vincz just as a matter of fact, all components from my library are stringable, which means you can treat objects as strings:

[code]

[2020-07-13 08:31] Vincz commented on #692
@murtukov Hum... So we could define a new `prefix`, like `#=` to indicate a different converter ? (in addition to `@=` for the expression).
So I could generate my closure with your generator and just return something like:

[code]

So this way, we could keep string in the config object. It would be quite clean in my opinion.

[2020-07-13 08:47] murtukov commented on #692
@Vincz introducing another prefix doesn't sound like a nice idea to me. These things are not natural to php. I would rather check `$var instance of Closure`, which is instantly clear to any php developer, than `strpos($var, '#=')`, where nobody knows, wtf `#=` means. And why do you need to prefix a string if it's already a string in first place?

The second reason, why you shouldn't convert object

[2020-07-13 08:53] Vincz commented on #692
@murtukov The idea was to keep strings. The prefix was to be able to differentiate "expression string" from "generator string". But you're right, it's not ideal.
I'll try to make a PR and we'll discuss about !
Thanks

[2020-07-13 09:06] murtukov commented on #692
@Vincz maybe in the `AnnotationParser` you will create an array with all necessary values?

Something like
[code]
and the `TypeBuilder::buildResolveType` will recognize this array and build it appropriately

[2020-07-13 09:19] Vincz commented on #692
@murtukov Yes, it would work, but then, we will have to define a new `config keys` for the Type builder to be able to handle this case, and it would be very specific to interfaces.
I know that I'm the only one who would need the ability for the generator to handle `Closure`, but it would allow me to have a much cleaner parser as I would be able to replace all generated expressions by proper and mo

[2020-07-13 09:42] murtukov commented on #692
@Vincz what config keys? Everything will be under `resolveType`? I don't think it a problem to add more logic into `TypeBuilder`. It was created to read configs, recognize them and build types from it.

I don't see problem with that. The `TypeBuilder` will be splitted into multiple classes anyway and `InterfaceTypeBuilder` could be one of them

[2020-07-13 09:51] Vincz commented on #692
@murtukov Yes maybe. So the idea would be to return an array with the mapping Classes / Types in resolve type and generate the function inside `TypeBuilder->buildResolveType` right ?

[2020-07-13 09:53] murtukov commented on #692
@Vincz Yeah, I would say so. Don't worry about complexity of `TypeBuilder`, I will simplify it later.

[2020-07-13 09:58] Vincz commented on #692
Ok then, I'll work on it and let you know !
One of extra benefit of your way against mine, is that with your, YAML guys will also be able to use a piece of the feature if they manually provide a map of classes / types.

[2020-07-13 10:04] murtukov commented on #692
@Vincz i thought about that, but I think it's easier to just implement the `resolveType` function manually, if you use YAML. But if all YAML configs contain the `model` key, it could also be calculated automatically.

[2020-07-13 15:37] #712 closed

[2020-07-14 05:41] Vincz commented on #692
Hey @murtukov ! So, I checked a little bit.
To do this feature, I would need to add a `model` key in the type config for every type.
Then, I would have to change the `TypeBuilder->build` signature by adding a third parameter with the global config object. The `TypeBuilder` will then look into the config to find relevant classes for types implementing the builded interface.
Is that ok for you ?

Th

[2020-07-14 11:26] murtukov commented on #692
Hi @Vincz. Hm...

Seems like it's a task, that fits neither to `AnnotationParser` nor to `TypeBuilder`. I think the option with post processing is ok, but you don't have to invent it newly, because there are already config processors, you just need to add another one.

Look here: `src\Config\Processor.php`:

[code]

You can see, that the self::NORMALIZATION array is empty, because I removed the Ex

[2020-07-14 12:24] hjanuschka opened #714 "symfony 5.1 deprecation"
since upgrading to sf5.1 i get the following deprecation.

graphqlbundle:   0.13.3
<img width="1877" alt="Bildschirmfoto 2020-07-14 um 14 22 43" src="https://user-images.githubusercontent.com/2891702/87425283-a8e14000-c5dd-11ea-81c7-3f9588a56eac.png">

[2020-07-14 13:55] murtukov commented on #714
@hjanuschka fixed. Will be available in release 0.13.4

[2020-07-14 14:49] hjanuschka commented on #714
thx!

[2020-07-15 08:06] #714 closed

[2020-07-15 08:36] hjanuschka opened #716 "v0.13.3 returns null on all fields"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |  no
| BC Break report? | yes
| Version/Branch   | 0.13.3

i upgraded from v0.12.10 to v0.13.3

and my properties do not resolve anymore, in my resolver i return "objects" - and in the yaml i map them.
with v0.12.10 - it works - like the yaml `id` property with type int returns $obj->id

with v.13.3.3 it

[2020-07-15 09:27] hjanuschka commented on #716
ok - i figured it out, with v0.13.3 FieldResolver is used.

my real object, (edited above) - uses magic `__get(XXX)`  - and `isset()`  doesn't trigger `__get` .

fix: i implemented `__isset` which should be used for this case.

[2020-07-15 09:45] Emroni opened #717 "CORS block"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.3

After upgrading from `0.13.2` to `0.13.3` all requests are blocked by CORS. Downgrading back to `0.13.2` fixes it, so it seems to be a change in `0.13.3`.

Im using NelmioCorsBundle and found out that changing the `allow_ori

[2020-07-15 15:12] adri commented on #707
Another idea: Support PHP8 attributes instead of annotations :)

[2020-07-16 06:35] hjanuschka commented on #716
introducing the `__isset`  method in my code introduced way tooo many errors - any ideas, what would be a good approach?

[2020-07-16 07:44] mavimo commented on #716
@hjanuschka maybe you can override the FieldResolver service and create your own resolver that will handle your specific need?

[2020-07-16 08:18] murtukov commented on #716
@hjanuschka As far as I know, in the version 0.12 we used [PropertyAccess](https://symfony.com/doc/current/components/property_access.html) component to automatically map fields of your returned objects (MyObject in your example). However this solution was slow an was replaced with another, more efficient one. It seems like the new solution cannot detect fields created dynamically (ignores `__get`

[2020-07-16 09:42] murtukov commented on #717
Hi @Emroni can you provide steps to reproduce it?

[2020-07-16 12:21] hjanuschka commented on #716
@murtukov thx for your response, i actually ended up with a "default_field_resolver"

[code]

ultimatly a clone, of the FieldResolver that is used by default - but with a final "else"  in the elsif tree.
accessing the property (although, isset/property_exists might have said "no" )  - and fixing it with a try/catch block.

weird, i know, but the usage of __get() in our app is  way too deeply integ

[2020-07-16 12:21] #716 closed

[2020-07-18 09:39] Emroni commented on #717
I'm investigating if its my configuration. I had upgraded from PHP 7.1 to 7.4 and Symfony from 4.1 to 4.4 and think it might have something to do with that. Going to try out a fresh install and config, will see if it still happens then.

[2020-07-19 11:44] Emroni commented on #717
It turned out to be an nginx `Bad Gateway` error that was thrown, causing the access-control headers not to be set, showing a CORS error in the browser without showing the Bad Gateway for some reason.

Not sure why clearing cache and switching variables made it work temporarily, but blaming nginx for this one :)

[2020-07-19 11:44] #717 closed

[2020-07-23 19:48] mathroc opened #718 "dispatch a SchemaGenerated event"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

I’d like to export the schema to schema-fragments.json and schema.graphql files to commit them in the repo so that code review can view a diff of schema.graphql to easily understand how the changes affect the schema (schema-fr

[2020-07-23 20:09] mcg-web commented on #718
This can be done with the Symfony command dump schema and composer events post update and post install so you don't need to commit them.

[2020-07-23 21:42] mathroc commented on #718
I was probably not very clear I’ll try to explain what I’m trying to do in more details

* `schema.graphql`: I want to view the diff in the merge request code review, I can generate it with `graphql:dump-schema` but I still need to remember it, I don’t think composer events could help me there, git hook might but they need to be configured each time someone clone the repository which is cumbersome

[2020-08-07 11:52] Kocal opened #721 "Memory issue in v0.13"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes/no
| RFC?             | yes/no
| Version/Branch   | 0.13

Hi,

I'm still working on GraphQLBundle update from 0.11 to 0.13 on our big app at work, but I detected a memory issue while running our Behat suite tests.

It does not affect 0.11 and 0.12.

I've recorded `htop` outpu

[2020-08-07 16:06] sratefiniaina opened #722 "[Overblog\GraphQLBundle\Annotation\Arg] The default is always a string."
Q | A
-- | --
Bug report? | yes
Feature request? | no
BC Break report? | no
RFC? | no
Version/Branch | 0.12

[2020-08-09 17:21] mcg-web commented on #721
Hi,

`InputValidator` is the only big change between 0.12 and 0.13 but if you only updating you are not concern by this. Have you updated others dependencies (Symfony, Webonyx, ...) ?

[2020-08-09 17:23] mcg-web commented on #722
Can you provide an example please?

[2020-08-09 19:13] Kocal commented on #721
While updating from 0.11.11 to 0.13.3, the following dependencies has been updated:
- `symfony/config`, `symfony/dependency-injection`, `symfony/event-dispatcher`, `symfony/filesystem`, `symfony/inflector`, `symfony/options-resolver`, and `symfony/property-access` from 4.4.10 to 4.4.11
- `symfony/event-dispatcher-contracts` from 1.1.7 to 1.1.9
- `symfony/polyfill-ctype` from 1.17.1 to 1.18.1
- `sy

[2020-08-10 07:28] sratefiniaina commented on #722
Yes,
In my Query definition i have this arg :
`@GQL\Arg(name="enabled", type="Boolean", default="false")`
But if I do not provide arg from the graphql side, the value is always true.
And when I look at the file var/graqphl/QueryType.php I have this
`'args' => [ [ 'name' => 'enabled', 'type' => Type::boolean(), 'description' => null, 'defaultValue' => 'false',],],`

[2020-08-10 08:03] Kocal commented on #721
I've done some tests today, and this is what I found.

The memory leak also happens when running Behat tests not on the GraphQL API. For example some _classical_ tests on our controllers (`ArticleController`):
- 0.12.8:
  - `features/api`: 1.10GB max
  - `features/articles`: 1GB max
- 0.13.3:
  - `features/api`: increase to 2GB, then I stop the tests
  - `features/articles`: increase to 1.48 GB, t

[2020-08-10 08:11] murtukov commented on #722
@sratefiniaina it should be `default=false` (without quotes)

[2020-08-10 08:23] sratefiniaina commented on #722
@mcg-web when i do this, value is null and in var/grqphql/QueryType.php :
`'args' => [ [ 'name' => 'enabled', 'type' => Type::boolean(), 'description' => null,],],`

[2020-08-10 08:31] Vincz commented on #722
Hey guys! I'll look into this tonight or tomorrow.

[2020-08-10 08:36] sratefiniaina commented on #722
Hey, OK thanks

[2020-08-10 12:37] murtukov commented on #722
@Vincz, the bug comes from loose comparison, which you btw often use in your code.

The method, that causes the issue is located in `src/Config/Parser/AnnotationParser.php`:
[code]
the `$arg->default` and `$arg->description` are skipped, if value is `false`, `""`, `0` or `null`.

This condition should be:
[code]

The file `src/Config/Parser/AnnotationParser.php` is full of loose comparisons.

[2020-08-10 17:36] murtukov commented on #722
@sratefiniaina, the bug is fixed. The patched 0.12 will be available in the next release.

[2020-08-10 17:36] #722 closed

[2020-08-11 08:48] akomm commented on #721
Hi @Kocal

Did the php version remain the same?

[2020-08-11 08:53] Kocal commented on #721
Hi @akomm,

Oh my bad, I didn't say what version of PHP I'm using.
I'm using PHP 7.3.20 and it was the same version during my tests.

[2020-08-11 09:24] akomm commented on #721
If neither your tests change, nor `behat`+`its deps`, the best bet would be to make a profile with xdebug.

A small chance also that some memory leak bug in the php version that was not triggered before is triggered after the changes, so if you swap the php version you might quickly exclude this case. Provided your dependencies allow for an increase to let's say 7.4 ...

[2020-08-11 11:19] Kocal commented on #721
I did some blackfire traces:
- php 7.3.20:
  - graphqlbundle 0.12.8: https://blackfire.io/profiles/b1ff3280-1de8-4e44-af9e-8a685aba5086/graph
  - graphqlbundle 0.13.3: https://blackfire.io/profiles/4906123b-7be4-4a18-8244-96b0943ab4d5/graph
  - diff: https://blackfire.io/profiles/compare/1935c4ae-269e-4a9d-bcfd-a0a001b5f14c/graph +400% memory :fearful:
- php 7.4.9:
  - graphqlbundle 0.12.8: https:

[2020-08-11 12:18] murtukov commented on #721
@Kocal there are some reports in internet about memory leak in PHP 7.3

[2020-08-13 07:19] ruudk opened #724 "Upgrading from 0.12 to 0.13.3 changes behaviour of property access on booleans"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| BC Break report? | yes
| RFC?             |no
| Version/Branch   | v0.13.3

When we upgraded our large GraphQL API we noticed that some boolean fields returned null instead of booleans. Upon investigating we found out that some booleans need a resolve attribute like this:
[code]

I think this is rel

[2020-08-13 07:26] mcg-web commented on #724
This will be fix by #720.

[2020-08-13 07:27] Vincz opened #725 "Allow multiple targets with targetType on @Query & @Mutation"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| Version/Branch   | 1.0.0

When using multiple schemas, it can be convenient to be able to export a query or mutation on multiple targets.
Attribute `targetType` on `@Query` and `@Mutation` should allow to specify multiple target.

[2020-08-13 07:30] ruudk commented on #724
@mcg-web Awesome, I'll close this one and wait for the next release. Thanks for the fast reply ⚡

[2020-08-13 07:30] #724 closed

[2020-08-13 08:07] akomm commented on #721
@murtukov yes, I have checked for this, but found only some in 7.3.2 . However, I agree, as I also said myself, there might still be some I missed or some, which nobody found yet ;)

[2020-08-13 08:22] akomm commented on #721
Actually, when I check the logs, there are dozens of memory leaks closed after 7.3.2: https://www.php.net/ChangeLog-7.php

[2020-08-13 08:40] Vincz commented on #526
Done in #710 & #725

[2020-08-13 08:40] #526 closed

[2020-08-13 09:06] akomm commented on #721
The diff php 7.3 is rather interesting. If you analyze / sort by memory usage, you find the main troublemaker is `PhpFilesAdapter` (symfony). It gives +211 MB by itself. Its callers down the stack **each** only give much smaller increase. This increase everywhere, rather than at the top of the (filtered) stack is a sign of there being a memory leak that affects everything. But `PhpFilesAdapter` is

[2020-08-13 15:12] #725 closed

[2020-08-15 08:20] Vincz commented on #718
I looked a little bit into it. It's not a bad idea and could allow multiple use-cases.
It would only require to inject the `eventDispatcher` into the `TypeGenerator` and dispatch a `CompileEvent`.
@mathroc What about a little PR ?

[2020-08-15 10:10] Vincz commented on #674
Hey @mcg-web ! I'm currently working on this.
So I ended up adding a new field config key `accessConfig` and a new type config key `defaultFieldsAccessConfig`.
As they are separate, it's easy to mix them to cover more use cases (like setting globally the config for the whole type with `defaultFieldsAccessConfig` but having a custom `access` on a field without having to redefine the `accessConfig`.

[2020-08-15 15:33] mcg-web commented on #674
@Vincz both are good the first solution is good if we use this only once (single method or class), the second is better for reusable mater.

[2020-08-16 07:37] Vincz commented on #644
I'm working with multiple schemas recently and it could really be a great addition. As you mentioned, types conflicts between schema is kind of a problem.
But I think it's gonna be quite hard to implement.

[2020-08-16 12:22] bartv2 opened #733 "Default export path of graphql:dump-schema is incorrect"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes/no
| RFC?             | yes/no
| Version/Branch   | master

The resulting path is var/var/schema.json, this directory does not exist by default. Not sure what the best approach is, changing the baseExportPath or removing the var directory component.

[2020-08-16 16:21] mcg-web commented on #733
This is a bug the default dir should be `var/` not `var/var/`

[2020-08-17 07:50] Vincz opened #739 "Bad required annotation on annotations"
| Q                | A
| ---------------- | -----
| Bug report?      | yes

We use `@required` instead of `@Required` to mark properties as required. Also ensure that all required properties are really required (exemple: `@GQL\Type(type)` shouldn't be).

[2020-08-17 14:01] werdlv opened #744 "Compiled PHP class syntax error for exact length validation"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | v0.13.3

[code]
Running command `graphql:compile -n` given example works as expected.

Here is how resulting PHP class looks like.
![image](https://user-images.githubusercontent.com/1607778/90404447-1421a480-e0ab-11ea-86ca-2e142312d

[2020-08-17 14:06] murtukov commented on #744
@werdlv Thank you for the report. I'll look into it right now.

[2020-08-17 14:20] mcg-web commented on #739
fixed in #741

[2020-08-17 14:20] #739 closed

[2020-08-17 14:56] murtukov commented on #744
@werdlv The issue is fixed. It was caused by the wrong determination of the end of the array. The patched will be available in the next release (v0.13.4)

[2020-08-17 14:58] murtukov commented on #744
@mcg-web This patch is required only for 0.13. Other versions don't have this problem.

[2020-08-17 15:23] mcg-web commented on #744
I'll merge it in master but I'll accept master changes over 0.13. So 0.13 will stay merge-able for future fixes.

[2020-08-17 15:39] #744 closed

[2020-08-18 09:11] akomm commented on #644
@Vincz

the question is master or 0.13 ... Master is far ahead working towards 1.0.
It should be BC and 0.13 would be usable sooner, but would require another application on master... For example there is the generator refactored, but also the API has changed. I might need to create namespaces to prevent name collisions on generated types. How much effort it will be to reapply I can't yet tell.

[2020-08-19 07:13] mcg-web commented on #733
fixed in #747

[2020-08-19 07:13] #733 closed

[2020-08-19 13:07] strelcov opened #748 "Resolve root query type in mutation payload type"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

Hi, can I implement that behavior?
[code]

I can define root query field in payload type, but how can I resolve it in mutation?
I saw it on https://graphql-rules.com/rules/mutation-payload-query

[2020-08-23 12:09] bartv2 opened #753 "[RFC] resolver implementation"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 1.0-dev

I was looking how to use an attached query provider and get the parent value into the method. Not sure if that is even possible at the moment, but i found #538, #542 and #708 and i really liked the resolver idea.

I created

[2020-08-26 03:38] bravik opened #754 "ExceptionConverter doesn't respect converted error message"
I try to convert exceptions with ExceptionConverterInterface like this:
[code]

However the resulting message in GraphQL error comes from original exception and not from converted one.
It seems like a defenitely not expected behavior / bug.

It comes from `Error\ErrorHandler`:
[code]

I suppose it should look like:
[code]

| Q                | A
| ---------------- | -----
| Bug report?      | yes

[2020-09-04 07:42] astronom opened #755 "Built-in PageInfo conflicts with the same from external graphql schema"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 0.13.x & dev-master

If your external graphql schema contains `type PageInfo` there is no way to disabled `auto_discover` in the config of the bundle for built-in types. When there is duplicates for type definitions it fails with `F

[2020-09-04 18:36] mcg-web commented on #755
Your suggestion seem the easiest way of doing that. Do you want to provide a PR ?

[2020-09-05 10:15] bartv2 commented on #753
@mcg-web @Vincz @akomm @mavimo @murtukov I know you are all busy, but is this something to make a real implementation proposal for or isn't this worth pursuing?

[2020-09-05 11:51] mcg-web commented on #753
Yes @bartv2 sorry for late reply, since #708 rewrite almost completely the way resolvers definitions. It will better to wait until this totally push, to see how we can implement other part depending on this. I'll try to push this before next weekend.

[2020-09-10 07:11] Fivedark opened #757 "How to get parent of parent"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12.6

Is it possible to get the parent of the value inside a resolver?

Here is a minified example:

The query:
[code]
The `products` resolver loads all products. I removed args for this example to keep it small and clean.

Product

[2020-09-10 13:20] murtukov commented on #757
Hi @Fivedark,

use the `context` variable. You can think of it as a bag that every resolver has access to.
Just add any value to te context variable and retreive that value from any resolver down the path:

[code]
[code]

[2020-09-10 13:48] Fivedark commented on #757
Hey @murtukov,

thank you for your reply.

I've tested this already with context, but the context is overwritten by the last product:
That is caused by the DataLoader in the ` productDefaultView` resolver. The loader collects all `ids` to run only one single database query at the end. So the `imageUrls` will be also resolved later and the context isn't the correct one anymore.

Any other suggestio

[2020-09-14 12:23] jourdan-qe opened #758 "Understanding how to upload a file with the classic way"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12.6

Hello

I'm trying to implement a mutation to upload a file using the classic way: https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/upload-files.md

I think I don't understand exactly how it works.
There

[2020-09-28 15:35] Fivedark commented on #757
Is there really no way to get the data from parent nodes?

[2020-09-29 06:28] mcg-web commented on #757
Hi @Fivedark,

Since your are using loader you should reuse the same loader in you child resolver

[code]

You can also directly use the parent promise in $context.

[code]

[2020-09-29 10:15] Fivedark commented on #757
Hi @mcg-web,

thank you for your suggestion.

Unfortunately, I have the same problem with your idea as with @murtukov's:
The context key is always overwritten and contains the ID or the promise of the last product when the ImageUrl is resolved.

I've tried also a specific context key but couldn't found a good reference that is unique and also available in the `imageUrl` resolver.

Currently, we ar

[2020-10-04 22:04] DGCarramona commented on #508
Hello ! Any updates on this topic ?

[2020-10-21 17:13] inwaar opened #766 "Property arguments/modifiers"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | last

Hi, I didn't find it in the documentation.
E.g.:

[code]
How can I get the `size` modifier in a resolver function?
Additionally if a property is a custom scalar say:

[code]

How can I get the `format` value in the custom scala

[2020-10-21 17:36] inwaar commented on #766
Another question: how such arguments can be defined in a schema by yaml config files?

[2020-10-21 18:08] murtukov commented on #766
[code]

[2020-10-21 20:08] murtukov commented on #766
Hi @inwaar,

Arguments are available only in the corresponding resolver of the field. You defined arguments `id` and `size` separately, so the `id` arg will be accessible only in the resolver defined for the `person` field and the `size` arg will be accessible in the resolver defined for the `avatar` field.

You have 2 options: either define both arguments 'together' or create 2 resolvers.

[code]

[2020-10-23 07:14] PartosK opened #767 "Resolve input-object to PHP object"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12.7

there was a question in comment:
https://github.com/overblog/GraphQLBundle/issues/479
for me this is also relevant, we do not use annotations. I would like some detailed example of how to do this.

[2020-10-23 09:43] murtukov commented on #767
Duplicate #479

Ask your questions directly in the #479.

[2020-10-23 09:43] #767 closed

[2020-10-23 10:01] PartosK commented on #479
for me this is also relevant, we do not use annotations. I would like some detailed example of how to do this.

[2020-10-23 10:50] murtukov commented on #479
@PartosK @ruudk

It's not possible to convert your YAML input-object types into PHP-objects. The `ArgumentsTransformer` is designed to work with types defined with annotations and assumes, that each of your GraphQL types is associated with a PHP class and tries to instantiate and populate it. Obviously your yaml types are not associated with php classes and there is no way to provide this informat

[2020-10-25 21:34] inwaar commented on #766
Hi Timur, thanks for such a detailed reply!

Yes, this is what I was looking for and I really get the arguments in a resolve function.

However I'm also interested in using this with custom scalars.

For example, we have a Date scalar type. Let's say we want to allow clients formatting dates.
I would assume something like:
[code]
However this is not working as `args` is not a valid option here.

I

[2020-10-27 17:36] murtukov commented on #766
@inwaar It's not possible to pass arguments to custom scalars, because arguments are meant exclusively for resolvers. Custom scalars are just a serialization/deserealization tool (like Int, String, Float etc) and serialization happens before resolvers are called. Of course technically it would be possible to pass arguments to serialization methods, but it's just not right thing to do.

However the

[2020-11-06 04:43] murtukov opened #775 "[RFC] Refactor GlobalVariables and resolver expressions"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 1.0 (master)

Some of the proposed changes are BC-break.

### List of proposed changes

#### 1. Rename `GlobalVariables` class.

`GlobalVariables` is a service passed to every generated GraphQL type. It contains all necessary servic

[2020-11-06 13:19] akomm commented on #775
Also to note, currently injecting stuff at runtime via `globalVariable` requires you to have services set public. For constructor injection you would need to make all the generated types available as services adjusting container definitions in compiler pass. I can't quite figure out the implication doing so... But if it would be possible it would be great...

Agree on other points (*smiles* Resolv

[2020-11-07 10:50] inwaar commented on #766
@murtukov thanks! I think the issue can be closed.

[2020-11-07 10:50] #766 closed

[2020-11-07 11:03] inwaar opened #779 "Types lazy loading"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

We are considering to start using this bundle in production. So far we see one stopper - it adds around 300-400 extra ms to each request comparing to the current serializer we use for RESTful API.

It looks quite similar to ht

[2020-11-07 18:13] murtukov commented on #779
Hi @inwaar,

the PR webonyx/graphql-php#557 basically makes possible to set closures as GraphQL field types, making them lazy loadable. This feature was introduced in `webonyx/graphql-php` **v14.0.0**. The current stable version of GraphQL Bundle is **0.13.4** and it uses `webonyx/graphql-php` **v0.13.5**, which means you cannot use closures as field types.

To add this optimization into current s

[2020-11-07 18:47] mcg-web commented on #779
1.0 milestone will be postpone for some months so we can finish some major features. We will add the support of 14.0 in the next release 0.11, 0.12 and 0.13 of the bundle.

[2020-11-14 01:15] murtukov opened #784 "[RFC] Remove/rework config processors"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 1.0 (master)

Whenever you make a request to your Symfony app with GraphQL Bundle installed, it instantiates all of your GraphQL types. To reduce the performance impact, `webonyx/graphql-php` library made possible to use closures al

[2020-11-14 07:03] Kocal commented on #784
Hi,

That's would be a very nice improvments, thanks for this :+1:

Just for information, will you be able to make Blackfire traces to see perf diffs when these RFC will be implemented?

Thanks!

[2020-11-14 07:38] mcg-web commented on #784
The described behavior does not seem to reflect the actual behavior.

This is not true we only wrap the existing closure and configProcessor behavior are process on runtime ( on type load ) so the lazy behavior is keep ( [PublicFieldsFilterConfigProcessor](https://github.com/overblog/GraphQLBundle/blob/master/src/Definition/ConfigProcessor/PublicFieldsFilterConfigProcessor.php#L34-L38), [AclConfig

[2020-11-14 12:24] murtukov commented on #784
@mcg-web Yes you are right, it only wraps existing closures into another closure, so it doesn't destroy the lazy loading. My bad. All processors work like I described the `WrapArgumentConfigProcessor`. But then we still have problems:

1. All fields are wrapped in 4 closures, something like:
[code]
Additionally `AclConfigProcessor` wraps the `resolve` closure into another closure.

The order of pr

[2020-11-14 15:10] mcg-web commented on #784
I agree `ConfigProcessor` is not perfect but it was designed to permit to add some behavior for all GraphQL types not only generated types. Generating all these behaviors was already the way of doing in v0.10 ( [Access](https://github.com/overblog/GraphQLBundle/blob/0.10/Generator/TypeGenerator.php#L135-L183), [WrapArgument](https://github.com/overblog/GraphQLBundle/blob/0.10/Generator/TypeGenerat

[2020-11-20 20:59] inwaar commented on #779
Hi @mcg-web
Great to hear that!
Is there any ETA when it could be released? (We unfortunately can not use version 1.0 since it requires a newer Symfony version).

@murtukov I don't have enough samples in blackfire but it look similar of what mentioned in webonyx/graphql-php#425
Also I see thousands calls of this method
![image](https://user-images.githubusercontent.com/3331076/99847494-d8eab200-2b

[2020-11-21 18:57] inwaar opened #785 "Backtraces of exceptions thrown in resolvers"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.4

Having the following config:
[code]
there is a weird backtrace that doesn't show any traces from a resolve method which makes it almost useless...:
![image](https://user-images.githubusercontent.com/3331076/99884937-30992400

[2020-12-11 17:01] calvera opened #787 "Annotations, args builder for relay connection bug?"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.12.4

hi, should this work?
[code]
i get this error:
{"errors":[{"debugMessage":"Too few arguments to function App\\GraphQL\\Query\\OrganisationProvider::organisations(), 0 passed in \/app\/var\/cache\/dev\/overblog\/graphql-bundl

[2020-12-22 12:15] edhgoose opened #789 "OperationName is not passed to Events when using Batch query"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13 and below

We provide an operationName for most if not all of our queries, and recently added an event listener to look at what operations were being executed.

When we use the batch endpoint, the line here does not pass the op

[2020-12-22 14:28] mcg-web commented on #789
Thanks for the fix @edhgoose ! Can you please provide the patch for 0.11 branch please ? Then we can apply it to versions above.

[2020-12-22 18:55] #789 closed

[2020-12-23 21:41] KorvinSzanto opened #794 "Using enums as input doesn't seem to work when using annotations"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | v0.13.4

I have an enum defined liked this:
[code]

This works great for `@type`s that have `@field`s with this type, but it doesn't seem to work for `@input`s that need to take them as input.

My input looks like this:
[code]

If I

[2020-12-23 21:43] KorvinSzanto commented on #794
Looks like my issue was that I need a public class property on my enum class called `$value`.

[2020-12-23 21:43] #794 closed

[2020-12-24 09:51] Vincz opened #795 "What's next?"
Hey guys! There is a lot of stuff on hold (a lot of refactoring made by @murtukov).
@mcg-web You also said that you were working on a big refactoring for resolvers, etc...
And I think @bartv2 also had something in the pipe (#753)
Also, PHP8 is now out with PHP attributes (and would allow nice features).
On my side, I should have a little bit of time in the coming months for the project and wanted

[2020-12-24 10:03] mcg-web commented on #795
Hey @Vincz ! I have some more time right now too. A discord meeting could make thing easier to prepare next steps indeed.

[2020-12-24 11:51] murtukov commented on #795
Hi @Vincz

a discord call would be good, but I can do it only at the end of January, as I have study right now

[2020-12-24 12:44] Vincz commented on #795
Ok, let's plan the meeting for the end of January then.
@murtukov Let us know as soon as you're available !

[2021-01-06 14:34] ferrastas opened #802 "overblog_graphql.errors_handler.internal_error_message not taken in consideration"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13 (also master)

As described in https://github.com/overblog/GraphQLBundle/blob/0.13/docs/error-handling/index.md there is a parameter that can be used to set a default message for errors `overblog_graphql.errors_handler.internal

[2021-01-10 09:48] Vincz opened #804 "Proper documentation website"
It would be great to create a dedicated website for the documentation (with tutorials, cookbook, ..).
Maybe using Github pages? Maybe with a nice logo?

[2021-01-10 14:54] murtukov commented on #804
https://docusaurus.io/

[2021-01-10 15:40] Vincz commented on #804
Seems really nice!

[2021-01-10 15:55] Vincz commented on #804
I'll try to install it soon. Should we make a logo?

[2021-01-11 12:12] inwaar opened #805 "GraphQL specs violation by throwing UserWarning for access deny and general usage of it described in the bundle docs"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 0.13.5

The documentation https://github.com/overblog/GraphQLBundle/blob/master/docs/error-handling/index.md shows a few examples of throwing exceptions in resolvers:

Using `UserError`:
[code]

And using `UserWarning`
[code]

Ever

[2021-01-12 17:29] Vincz commented on #804
So I did install it and it is very nice. I started to integrate the current documentation in it.
Where should we host the documentation generator? The output will be store as a Github pages within this repository, but what about the generator itself?
@mcg-web would you mind to add a repository under the Overblog organisation for it?

[2021-01-12 18:21] Vincz commented on #787
Hi Calvera. Sorry for the late reply.
It will not work. The Arguments transformer can only inject arguments in the resolver when it knows them before generating the resolver function of the query. It means that they must be declared with annotations or auto-guessed.
Unfortunately, when using the the args builder, the arguments are generated after the annotations parsing.
You have two choice:
1. Re

[2021-01-12 20:11] murtukov commented on #804
@Vincz Did you install v1 or v2?

[2021-01-12 20:19] Vincz commented on #804
@murtukov v2

[2021-01-12 22:23] calvera commented on #787
thanks!

[2021-01-12 22:23] #787 closed

[2021-01-13 01:05] murtukov commented on #804
A couple of months ago I was searching for the documentation framework and stumbled upon the Docusaurus. I already planned to integrate it, but since you do it, then fine. The main reason, why I likes this framework is its support of [multi-language code blocks](https://v2.docusaurus.io/docs/markdown-features#multi-language-support-code-blocks), which means we can finally unify the code examples f

[2021-01-13 03:00] murtukov commented on #795
Here is my view of the future work:

1. **Separate modules**
    The project is undergoing a performance degradation with each subsequent release. For this reason we decided to split the bundle into separate ones. You could try to create the GraphQLAnnotationsBundle, but there is a naming problem, which we should discuss. Don't know if Annotations and Attributes should be separate bundles. I would

[2021-01-13 10:17] Vincz commented on #795
@murtukov This list is fine by me. I wanted to push the doctrine integration even more (crud builders, query builder generator based on requested fields, etc...) but not sure how it relates to builders / hydrator and console (we should discuss about it).

About the separates modules, I agree. We should then rework the parsing process. About annotations and attributes, I still don't know if we shou

[2021-01-13 10:17] ferrastas commented on #802
Sorry for bothering you @mcg-web (or please mention the correct person) but could any of you guys take a look at that? We @werkspot are using this trivial feature to customize the message and we cannot upgrade to 0.13

[2021-01-13 12:04] murtukov commented on #795
@Vincz I don't consider all these items to be implemented in the 1.0, that's too much. The first 2 entries would be enough

[2021-01-13 14:36] #802 closed

[2021-01-16 10:12] Vincz opened #809 "Documentation v1.0"
- [ ] Logo
- [ ] Global documentation design (colors, background, etc...)
- [ ] Front page highlighted features (with image)
- [ ] Documentation hierarchy (how to we organise the sidebar and the documentation)
- [ ] Convert .md to .mdx
- [ ] Rework all the page with new documentation features

[2021-01-16 10:14] Vincz commented on #804
So, I set the repository here: https://github.com/Vincz/graphql-bundle-documentation
You both (@mcg-web & @murtukov) should have access to it. I did create a new issue (https://github.com/overblog/GraphQLBundle/issues/809) to have a TODO about what we need to do.
The most urgent is to define the documentation hierarchy.

[2021-01-16 11:02] murtukov commented on #804
@Vincz why do we need 2 issues related to the documentation?

[2021-01-16 14:40] Vincz commented on #804
@murtukov The first one was to decide that we needed a second one 😺

[2021-01-19 11:23] inwaar commented on #805
Another case making the bundle not comply with the GraphQL specs:
If access is restricted  to a root query it raises the `UserWarning` and there is no `data` or `errors` in the response but only `extensions`.

![image](https://user-images.githubusercontent.com/3331076/105027775-d8737800-5a58-11eb-82e7-9291a1049e29.png)

This makes the apollo client considers such requests as successful.

I see the

[2021-01-20 06:31] murtukov commented on #707
@adri done

[2021-01-25 19:24] murtukov opened #814 "[RFC] Modules"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 1.0

Before starting to separate the bundle into modules, we need to decide naming conventions.

This discussion addresses following topics:
1) Naming on GitHub
2) Naming on Packagist (for `composer require` command)
3) Naming of th

[2021-01-25 22:51] Vincz commented on #814
I think that `overblog/profiler-bundle` doesn't really make sense. Overblog is a well known organisation (at least in France) and the term `overblog` doesn't describe at all the topic. If I had to make the call, I would move the entire project to a dedicated organisation with a name related to Symfony & GraphQL (something like `SymfoQL` or `GraphFony` for example). But otherwise, I prefer longer b

[2021-01-25 23:01] murtukov commented on #814
@Vincz @mcg-web

here you can find the Profiler Module: https://github.com/murtukov/graphql-profiler
I added you both as collaborators. Make any suggestions you think make sense. @Vincz one tests fails there, would be nice if you could fix it

[2021-01-25 23:07] murtukov commented on #814
Well the first part is reserved for the organisation name and isn't supposed to mean anything :)

[2021-01-25 23:20] Vincz commented on #814
Yes, you're right. But sometimes it does and I like it. Like `doctrine` for example or `api-plaform`.

[2021-01-26 08:44] Vincz commented on #814
Hi @murtukov! So I fixed the tests and remove the ones related to missing twig & profiler.

[2021-01-26 15:36] murtukov commented on #814
@Vincz @mcg-web

Ok, here is what I came up with, while working on the Profile module.

### Namespaces:

First part - organisation, second part - `GraphQL`, third part - descriptive name of the module. The reason why I suggest to use `CoreBundle` for the main bundle is that it avoids dublicate usage of the word `GraphQL`, e.g. `Overblog\GraphQL\GraphQLBundle\GraphQLBundle`.

Examples:
- `Overblog\

[2021-01-26 15:37] #775 closed

[2021-01-26 15:41] Vincz commented on #814
I like it. This way it's clear that everything related to GraphQL in the Overblog organisation starts with Overblog/GraphQL.
And the fact that the main bundle has the shortest name illustrate properly in my mind that other bundles are "extensions" of this one.
Thanks @murtukov!

[2021-01-27 13:01] mcg-web commented on #814
How I see that:

- Package and repository:  `overblog/gaphql`
- Bundles Paths: `src/Bundle/{ProfilerBundle,ValidationBundle,ExpressionLanguageBundle,AnnotationBundle}`
- Naming conventions: `Overblog\GraphQL\Bundle\ProfilerBundle`
- Every bundle has a dedicated readonly repository `overblog/graphql-profiler-bundle` so every bundle should be totally standalone (including tests).
- We could also inc

[2021-01-27 16:30] murtukov commented on #814
@mcg-web

Please clarify here. `overblog/graphql` is a monolith repository for all bundles like `symfony / symfony`. What do you mean with "package"?

[2021-01-27 16:35] mcg-web commented on #814
package, mean that `overblog/graphql` can also be used like a meta package, installing a full version of the "graphql-bundle".

[2021-01-27 16:52] murtukov commented on #814
@mcg-web full version like installing the bundle with all possible modules? I don't know, I don't see a situation where I would need to install the full versions. I would rather install `overblog/graphql-bundle` and then install everything i need, e.g.: `overblog/graphql-validation-bundle` and `overblog/graphql-annotations-bundle`

[2021-01-27 17:01] mcg-web commented on #814
this is just an option like symfony/website-skeleton vs symfony/skeleton. We don't all use a bundle the same way. This option will also help passing from the present bundle to the new split version easier .

[2021-01-27 17:35] murtukov commented on #814
@mcg-web yes, but `symfony/website-skeleton` is not a bundle, that's why it's allowed to omit the `bundle` suffix. `overblog/graphql` is a bundle and thus should have the suffix

[2021-01-27 17:43] mcg-web commented on #814
No it is not a bundle , it is a meta package including many bundles. Bundles will be enabled using flex recipe.

[2021-01-27 18:17] murtukov commented on #814
@mcg-web I think it will be more clear when we create it. Can you start with it? I would like to upload the Profiler module

[2021-01-27 18:29] mcg-web commented on #814
Done ! You can create bundles in `src/Bundle/`. I will work on implement the meta package after .

[2021-01-27 20:02] murtukov commented on #814
@mcg-web

such paths don't contain the word `graphql`: `src/Bundle/{ProfilerBundle,ValidationBundle,ExpressionLanguageBundle,AnnotationBundle}`

[2021-01-27 20:08] mcg-web commented on #814
Then let's go to src/GraphQL/Bundle, anyway with composer autoloader and Psr4 this will not affect namespace prefix.

[2021-01-27 20:35] murtukov commented on #814
In this case it is even longer, than paths of Symfony bundles:

`Symfony\Bundle\FrameworkBundle\` - 3 parts
`Overblog\GraphQL\Bundle\ProfilerBundle\` - 4 parts

Let's think why did they use these parts and why do we use it.

#### Symfony:
- `Symfony` - organisation, obvious
- `Bundle` - to indicate that everything under this path is a bundle, because it could also be a component, bridge or whateve

[2021-01-27 21:22] Vincz commented on #814
I prefer too without the Bundle suffix. Useless to repeat the Bundle part IMHO.

[2021-01-27 21:45] mcg-web commented on #814
Bundle prefix is to organize (vs Component) and the suffix Bundle it's the framework naming convention.

[2021-01-27 22:01] murtukov commented on #814
Yeah, you are right, here is a quote from Symfony Best Practices:

[2021-02-01 13:54] akomm commented on #757
@Fivedark the problem is the design decision. @mcg-web and @murtukov went the straight approach without rethinking the design decision, since there is a lot of info about your app they and me can only gues. But the problem behind is still causing the issue (the behavior after the proposed change is correct). Hence I propose to fix the issue in design.

I can only guess, an example what might or mi

[2021-02-01 14:05] akomm commented on #757
@Fivedark I think the problem is the design decision. @mcg-web and @murtukov (correctly) went the straight approach without rethinking the design decision, because they don't know all details about your app.

You still have issues, but the behavior after proposed change is correct. It looks like a structuring issue to me. Hence I propose to try find and fix the issue in design.

An **example** wha

[2021-02-02 10:07] akomm commented on #805
@inwaar did you expand the root node in the response you show above? Extensions should be a field under errors, which seem collapsed in your case.

[2021-02-09 15:35] FedOken opened #820 "How to define new scalar with .graphql format?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | x.y.z

Hi, how to add custom-scalar with `.graphql` format?

From
[code]
to
`scalar DateTime ...`

[2021-02-09 17:03] mcg-web commented on #820
Hi, you should define your new scalar using GSL

[code]

then in your [resolver map](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/resolver-map.md)

[code]

[2021-02-16 15:37] #820 closed

[2021-02-16 20:08] Vincz opened #821 "[Bundle Split] Configuration loading"
So, I started to work on the isolation of the configuration process.
The result will be 4 additional bundles:
- `GraphQLConfigurationXmlBundle`
- `GraphQLConfigurationYamlBundle`
- `GraphQLConfigurationGraphQLBundle`
- `GraphQLConfigurationMetadataBundle`

The configuration generation would no longer be part of the Dependency Injection / Container builder process (ie. Removal of `ConfigParserPass`

[2021-02-17 08:48] Vincz opened #822 "[RFC] Multiple repositories vs monolithic repository"
| Q                | A
| ---------------- | -----
| RFC?             | yes

Hey guys! As we move forward to a more modular approach of the bundle and the code splitting, we will have to make a choice:
1. To have one repository per package
2. To have a monolithic repository including all the packages

The advantages of a monolithic repository is as follow:
1. Only one repository (obvious right?).
2

[2021-02-17 09:16] mcg-web commented on #822
Hey Vinz, we working with a monorepos but using [splitsh/lite](https://github.com/splitsh/lite) will permit use to synchronize repository in readonly repos and keep all the benefit of composer (like Symfony). That the way we worked with [GraphQLPhpGenerator](https://github.com/overblog/GraphQLPhpGenerator) and this bundle (itself a split of an internal project) .

[2021-02-17 09:56] Vincz commented on #822
Awesome @mcg-web !
Would you mind to setup the initial repository with the different packages?

[2021-02-18 08:26] Fivedark commented on #757
Hi @akomm,

thank you for your reply.

I don't think we can solve this by changing the design, because it is based on our data structure.

We have `products` like shirts and hoodies. Each `product` has a defined set of individual views like `front`, `sleeve right`, `hood left`. One of these views is defined as default for each `product`.

If we request some `products` we want next to other product

[2021-02-18 08:45] #757 closed

[2021-03-09 09:03] ste93cry commented on #755
@mcg-web would be possible to backport this improvement from `master` branch to `0.13`? It looks backwards-compatible and it would be really great to have it as I believe there is no real ETA on the release of `1.0`

[2021-03-19 07:40] drmax24 opened #825 "json_encoding_options"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Version/Branch   | 0.13.5

Hi. We need to add json_encoding_options to graphql response. Response should be JSON_UNESCAPED_UNICODE. Because \u423 \u423 \u423 double the bandwidth compared to standard utf8 if they sent via utf8. Can you add a feature to set json_encoding_options in a graphql config

[2021-03-23 16:20] akomm commented on #825
Hi. I think its possible, but there is some ugliness in it maybe. Need to work with number or (multiple) const expressions (php = okay, yaml = meh) in your config.

The encoding is currently handled by symfony JsonResponse (HttpFoundation) returned from GraphqlController. So what you might also do is listen to symfony kernel.response event, check for JsonResponse and call setEncodingOptions on the

[2021-03-31 09:39] god1dog opened #826 "Aliases don't work in union type"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 0.13.4

When I try to send a request to receive an article, I get an error (described below), if I change the field type to optional EntityVideoYoutubeContent.description: String everything works

[code]

[code]
Fields "content" co

[2021-03-31 12:02] #826 closed

[2021-03-31 22:25] scion4581 commented on #669
Hello!
Actually, I don't understand why the graphql endpoint route can't be without a trailing slash?
@murtukov , could you explain, please?

[2021-03-31 22:33] murtukov commented on #669
Hi @scion4581

https://symfony.com/doc/4.1/routing.html#routing-trailing-slash-redirection

[2021-03-31 23:04] scion4581 commented on #669
Yeah, I saw that doc, but it explains only redirections depends on does route has a trailing slash or not
But I want a route /graphql without trailing slash, like this one below

overblog_graphql_endpoint                               ANY      ANY      ANY    /graphql
                                               overblog_graphql_batch_endpoint                    ANY      ANY      ANY    /graphql

[2021-04-01 19:14] akomm commented on #669
If you configure your routes without the trailing slash and you don't have the redirection enabled, then you need to ensure your client also requests the proper URL (without trailing slash)

[2021-04-05 17:34] scion4581 opened #827 "Translate graphql field description"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.5

Hello guys!
How to translate a graphql field description?
Especially using when using yaml config type, are there some variants that already exist?

[2021-04-07 10:40] hason opened #829 "Add support for testing for the existence of an argument with an explicit null value"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | all

The problematic code is https://github.com/overblog/GraphQLBundle/blob/master/src/Definition/Argument.php#L56 Instead of `isset`, `array_key_exists` should be used. This will make the `Argument` class compatible with [`ArrayO

[2021-04-07 10:50] murtukov commented on #829
@hason Thanks for the catch

PR: https://github.com/overblog/GraphQLBundle/pull/830

[2021-04-09 11:08] drmax24 commented on #825
https://github.com/rebing/graphql-laravel
this graphql library allows to set JSON_UNESCAPED_UNICODE in a config file

i would request this convenience as a feature...

    'json_encoding_options'  => JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES

[2021-04-09 13:21] BenMorel opened #831 "Deprecation notice on PHP 8"
Hi, the following deprecation warning is triggered on PHP 8:

Using `v0.13.5`.

[2021-04-09 15:12] BenMorel commented on #831
This was actually fixed in 2a97706a977d0c83fac62c43483cef14f05aff8a back in July 2020, but this commit is on `master` only and not part of any tag. Any reason why?

[2021-04-12 11:31] akomm commented on #831
Checking the .appveyor.yml in dev-0.13 (currently same on master) it only tests against php 7.4, however the php requirement in composer.json is "">=7.2".
Also looks like travis is not used anymore (.travis,yml has been removed), it previously checked different php versions.

The question is: is 1.3 even supposed to be php 8.0 compatible?

[2021-04-22 11:50] koekaverna opened #833 "SDL first how to prevent invisible types"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 1.0.*@dev

Had error: `Runtime Object type "ConreteGroup" is not a possible type for "GroupInterface".`
We use schema first (overblog_graphql.definitions.mappings.types[type: graphql])

I think it's related to https://github.com/web

[2021-04-22 12:20] murtukov commented on #833
Hi @koekaverna

Just add the `ConcreteGroup` type explicitly to the schema:

[code]

This problem happens, because you don't reference the type `ConcreteGroup` directly in other types and the schema builder doesn't load it.

[2021-04-22 12:27] koekaverna commented on #833
@murtukov Hi, thank you it works!

[2021-04-22 12:27] #833 closed

[2021-05-04 10:12] Ciloe opened #838 "Input-object can't use default values"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | dev-master (e42b1e5a524f324126526e73655f87492484a49c)

When I add defaultValue on input-object. I haven't default value in Argument in PHP.

config :
[code]

Query :
[code]

The generated cache file :
[code]

They are no default val

[2021-05-04 20:18] #838 closed

[2021-05-06 14:06] olsavmic opened #842 "Missing symfony/validator dependency in composer.json"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.6

The symfony/validator component is required only in dev dependencies.

In https://github.com/overblog/GraphQLBundle/issues/637#issue-552371174, it is said that the symfony/validator component is optional but that is unfortun

[2021-05-06 14:27] Vincz commented on #842
Hi @olsavmic,
I don't understand, the Constraints list is created after this line:
https://github.com/overblog/GraphQLBundle/blob/40b7eac69d9dacc897a69dc23eb9a4e144fac8e9/src/Transformer/ArgumentsTransformer.php#L143

So, it is not created if there is no validator.
Which version are you working with?

[2021-05-06 14:42] murtukov commented on #842
@olsavmic then the issue can be closed I guess

[2021-05-06 14:43] olsavmic commented on #842
@murtukov

Yes it's in the master branch but is there any reason why the fix was not merged to a release branch a year later?
We can close the issue once this is resolved.

[2021-05-07 00:14] murtukov opened #843 "Simplify TypeGenerator dependencies"
| Q                | A
| ---------------- | -----
| RFC?             | yes
| Version/Branch   | 0.14

The TypeGenerator class has a lot of dependencies and the most of them are Symfony parameters. The current service declaration lloks like this:
https://github.com/overblog/GraphQLBundle/blob/f0af7475e829b0ed196732fae84b90ed58fe68b9/src/Resources/config/services.yaml#L63-L72

and the class construc

[2021-05-07 09:28] mcg-web commented on #843
LGTM, but I would be easier if we inject directly `TypeGeneratorOptions`:
[code]

Also making it a service with readonly properties after instanciation .

[code]

[code]

[2021-05-07 17:03] murtukov commented on #843
@mcg-web agree, except read-only properties, because:

1) It disables the autocompletion on private properties, which is the reason we make it an object.
2) Some properties must be writable, because they are changed in some places.

[2021-05-07 17:52] murtukov opened #844 "Cache directories"
| Q                | A
| ---------------- | -----
| Bug report?      | maybe
| Feature request? | no
| BC Break report? | no
| Version/Branch   | 0.14

I've noticed some strange codes, when it comes to `cacheDir`/`baseCacheDir` in the `TypeGenerator`.

Check out the method `getCacheDir`:
[code]
The `$useDefault` parameter doesn't affect anything:

- If it's `true`, then the method returns `$this->

[2021-05-07 17:57] mcg-web commented on #843
Ok @murtukov, so no need to use a construct in this case. We can use an anonymous service to prevent options change after generation has already be run:

[code]

[code]

this part can be made on runtime:

[code]

[2021-05-07 21:56] mcg-web commented on #844
`cacheDir` is null by default.  We use `null` to determine that the developer has not change the `cacheDir` option to a custom value.
So the `$useDefault` parameter can affect the output of the method if `$cacheDir` is null:

[code]
`$useDefault` mean that we does not get the rawValue of `$cacheDir` but we send a default value if it value is null. `$useDefaut = !$rawValue`

This was introduce in 0

[2021-05-07 22:01] #844 closed

[2021-05-12 19:07] murtukov opened #847 "PHPStorm plugin"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | any

Create a PHPStorm plugin to help navigate through GraphQL types, similar to the [JS GraphQL](https://plugins.jetbrains.com/plugin/8097-js-graphql) plugin. It should recognize any formats, including pure webonyx php types.

Als

[2021-05-12 19:10] murtukov opened #848 "VS Code plugin"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | any
| Similar request | #847

Create a VS Code plugin to help navigate through GraphQL types, similar to the JS GraphQL plugin. It should recognize any formats, including pure webonyx php types.

Also, as advanced feature, it could

[2021-05-14 08:35] WouterCypers opened #849 "Union response type not working"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             |no
| Version/Branch   | 1.0.0

I have a mutation `ResetPassword` which should return some date OR an error response. The response is defined as a Union. I get an error when executing the mutation:

In the documentation, I only see `resolveType` or `isTypeOf

[2021-05-14 09:30] murtukov commented on #849
@WouterCypers you should use `union` types exactly like interfaces. You can check the documentation for interfaces for more details.

In your case you should define for your abstract type (`ResetPasswordResponse`) a type resolver:

[code]

And modify your `ResetPasswordMutation` class:

[code]

[2021-05-14 09:32] #849 closed

[2021-05-24 13:37] piotrkreft opened #853 "Paginator class depends on internal state"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

Class `Overblog\GraphQLBundle\Relay\Connection\Paginator` depends on internal totalCount state, if fetched already. I find this to be sort of an antipattern in several situations, especially when dealing with DI and class bei

[2021-05-28 09:14] archfz opened #854 "Support with jetbrains JS GraphQL plugin is broken"
I believe this is feature request but I am not sure.
Version/Branch: ~1.0@dev

Trying to enable support in phpstorm for `@lang GraphQL` in tests, so that proper highlight and type discovery works. The issue I found is that the schema is missing the `schema` declaration and that is why this is not working with [JS GraphQL](https://plugins.jetbrains.com/plugin/8097-js-graphql) plugin for jetbrains.

[2021-05-29 06:58] piotrkreft commented on #853
As a suggested solution I decided to go with a fully compatible approach and ready out-of-the-box cache callable.
Callable implements ResetInterface so it does grant the developer a possibility to reset cache state and also will be reused by Symfony HTTPKernel if used as service to be reset per request - desired if for an instance one would user DI service and long running process like Roadrunner

[2021-05-31 08:58] olsavmic commented on #842
@Vincz ping (Fix is already in the master branch fro months as you found out, it just has to be released)

[2021-06-02 10:02] Vincz opened #856 "Doctrine TypeGuesser"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Version/Branch   | master

The Doctrine `TypeGuesser` should handle empty `type` annotation property as it is now possible with Doctrine > 2.9.

[2021-06-02 12:25] BenMorel commented on #831
Any update here?

[2021-06-02 12:36] mcg-web commented on #831
@BenMorel  we added support to php 8.0 from 0.14-dev but we can patch existing maintained versions from 0.11 if needed. Do you want to provide this patch for 0.11 branch ? Then I will merge it in 0.12 and 0.13.

[2021-06-02 21:17] calvera opened #857 "Query Statistics?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

Hi, how can i count resolve and mutation calls for statistics? ie. calls to resolverResolver and mutationResolver, i tried to decorate them with no success... any idea?

thanks

-ks-

[2021-06-05 22:44] Chris53897 opened #858 "GraphQL Relay Link in Readme is broken"
Hi. In the first line of the readme file the GraphQL Relay Link is broken (404)

[2021-06-07 08:09] Ciloe opened #859 "Update dependencies crash GraphQL"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | dev-master#f32d17c41db369469d3d5b69030e386db882356e
| Webonyx   | dev-master#5bc702b6f24369402d91cdaf61fdf253438fbf49

This is the error :

[▼
"exception" => Error {#1188 ▼
#message: "Typed property GraphQL\Validator\Rules\Validati

[2021-06-07 13:06] mike-zukowski commented on #508
No

[2021-06-12 07:24] kix opened #861 "doctrine/annotations probably should be required"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | master

I'm not using `doctrine/orm`, so trying to use annotations in PHP8 leads to this exception:

[code]
I guess `doctrine/annotations` should be a requirement for this to work?

[2021-06-16 02:00] bravik opened #863 "Generated type definitions may have namespaces conflicts"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Version/Branch   | 0.13,0.14

I created 2 cusstom validation constraints, with following names:
[code]
I usually prefer organizing files by namepsace against naming files like `DatesAreWithinIntervalConstraint`.

And I'm using it for input validation in different files/types:
[code]
I get: an error:

Here is one of the ge

[2021-06-16 08:58] murtukov commented on #863
Hi @bravik, thanks for reporting the issue. Unfortunately I don't have much time now to investigate the bug, but could you check if it produces the same error, when you try to apply the same custom constraint but for `object` GraphQL type?

[2021-06-21 08:46] BenMorel commented on #831
@mcg-web Fixed in #865, targeting `0.12` as the `uksort()` call did not exist in `0.11`.

Looking forward to a merge+release!

[2021-06-22 13:50] calvera commented on #857
any idea please?

[2021-06-22 14:39] BenMorel opened #866 "Type-hint DebugCommand constructor against interfaces?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 0.13.6

Hi, we're decorating the `MutationResolver` and `ResolverResolver` to log, wrap some exceptions in custom responses, etc.:

[code]

[code]

This works perfectly fine, except for `bin/console` that now screams:

  Resolver\M

[2021-06-23 00:47] murilozilli commented on #344
Using relay and having the parent interfacing Node this doesnt work

[code]

I get `Unrecognized option "interfaces" under "overblog_graphql_types.Post._interface_config". Available options are "description", "fields", "name", "resolveType".`

if I try to change and use only inherit on post for node

[code]

than i get:
`Fragment cannot be spread here as objects of type "Node" can never be of type

[2021-06-23 09:32] adri commented on #857
I'm not aware of any middleware, so what I did is to wrap all resolver calls like this
[code]

[2021-06-29 17:12] inwaar commented on #805
Is there any update on this?
This problems makes it impossible to use this bundle with ApolloClient and `access` config on the query type since the request always processed as success while they are not.

[2021-07-05 11:20] olsavmic commented on #842
@mcg-web @Vincz @murtukov This issue is still open and keeps the release possibly broken even though the fix is in the master. Can we please resolve it?

[2021-08-20 11:31] Oliboy50 commented on #430
we have to wait for https://github.com/graphql/graphql-spec/pull/805

[2021-08-23 21:19] mathroc opened #874 "`isset($args[$field])` returns true when the value is `null` contrary to a native PHP array"
| Q                | A
| ---------------- | -----
| Bug report?      | not sure
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13+

[the `Argument::offsetExists()` method](https://github.com/overblog/GraphQLBundle/blob/b8a0ec7f4c2a9b952577a99ca509e2ca0855e400/src/Definition/Argument.php#L35) uses `array_key_exists` instead of `isset` on the wrapped a

[2021-09-03 05:45] victormacko commented on #831
Was there any updates on this by chance? ... currently on v0.13.6 (latest) and PHPUnit 9 is failing due to the bundle having this deprecation error :(
Any chance a patch-release could be put out with the fix?

[2021-09-03 07:25] andrii-pez opened #876 "Can't see changes in files for v0.13.6"
| Q                | A
| ---------------- | -----
| Bug report?      | yes?
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.6

Hi guys, it's not a bug I'm just wonder what I'm doing wrong.
When I download source code(zip) from this page https://github.com/overblog/GraphQLBundle/releases/tag/v0.13.6
and open, for instance, file `src/Config/Processor

[2021-09-03 07:40] #876 closed

[2021-09-22 13:40] archfz commented on #854
Up.

[2021-09-23 05:08] Vincz commented on #856
Fixed in #880

[2021-09-23 05:08] #856 closed

[2021-09-28 11:35] webketje opened #883 "Docs request: custom error handling + keeping default arguments_validation_error formatting & msgs"
Under [Error formatting](https://github.com/overblog/GraphQLBundle/blob/master/docs/events/index.md#error-formatting) title in the events docs there is a note that says:

However, in my use case (using v0.13) I needed the flexibility provided by [Custom error handling](https://github.com/overblog/GraphQLBundle/blob/master/docs/error-handling/index.md#custom-error-handling--formatting). It turned o

[2021-10-05 06:40] Vincz opened #884 "Display more information in the profiler"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no

It would be useful to display additional information about queries & mutations in the profiler. For example, the configured `access` or `public` configured on it.

[2021-10-07 08:51] murilozilli opened #885 "Throttling mechanism"
Q                | A
| ---------------- | -----
Bug report?      | no
Feature request? | yes
BC Break report? | no
RFC?             | no
Version/Branch   | 1

It would be great security wise to have something like throttling capability out of the box.

In the link below under "Throttling" there are a few good strategies that could be implemented and work great with GraphQL

https://www.howtographq

[2021-10-08 13:18] ruudk opened #886 "Remove `ExtensibleSchema::addDefaultFallBackToTypeLoader`"
While working on performance improvements for our large GraphQL application I noticed something odd.

I disabled `config_validation`, `use_classloader_listener` and `auto_compile` and noticed that for some queries `\GraphQL\Type\Schema::getTypeMap` was called. The description of that method warns that it's slow: "This operation requires full schema scan. Do not use in production environment.".

I

[2021-10-11 08:26] ruudk opened #887 "What's the status of 0.14 (DEV)? Can it be tagged?"
Is 0.14 still in development? If so, where can I find what's blocking a release? There is no [milestone](https://github.com/overblog/GraphQLBundle/milestones) for it.

I really want to upgrade to `webonyx/graphql-php` v14.

[2021-10-11 15:29] #885 closed

[2021-10-12 06:50] ruudk commented on #886
Removed in https://github.com/overblog/GraphQLBundle/pull/888

[2021-10-18 08:18] soshiroDev opened #895 "Setting default values for input object annotiation"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.6

It would be useful to be able to set default values for annotation based input objects.

     /**
     * @var int
     * @GQL\Field(type="Int")
     *
     */
    public int $offset = 0;

    /**
     * @var int
     * @GQL\

[2021-10-18 08:31] Vincz commented on #895
Hey @soshiroDev ! The problem is that `@GQL\Field` is used for both regular types and input types. Fields on regular types don't have a default value. The next version will make the distinction between fields on types and fields on input type. Something like `@GQL\Field` and `@GQL\InputField`.

[2021-10-19 07:30] benelori opened #896 "Uncaught Error: Class "Overblog\GraphQLBundle\DependencyInjection\Compiler\ResolverTaggedServiceMappingPass" not found"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| Version/Branch   | dev-master

As the title suggests, the bundle file is missing that compiler pass.

I traced it down to the PR that removed the deprecated code, and I also saw that the scrutinizer reports showed this, but the pipeline did not fail.
https://github.com/overblog/GraphQLBundle/pull/8

[2021-10-22 20:53] vnkrtv opened #898 "Broken serialization on custom ScalarType"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.6

In my project i've been added custom scalar type for DateTime
[code]
Type definition:
[code]

But when i start using it, i'm faced with the following problem - instead of the serialized value, api returned me a callable obje

[2021-10-24 13:07] #898 closed, assigned to nobody

[2021-10-26 09:59] ruudk opened #899 "[1.0-dev] `TypeGeneratorPass` should not retrieve `TypeGenerator` service from container while the container is compiling"
I noticed something weird when upgrading from 0.13 to 0.14 or 1.0-dev.

I have this service definition in my config:
[code]

It would work properly on 0.13. But as soon as I switch to 0.14/1.0-dev I get the following error:
[code]

I traced this down and saw that `TypeGeneratorPass` is instantiating the container while it's being compiled/build. It prevents the resolving of env vars to work proper

[2021-10-28 15:36] gregoryalary opened #900 "Is there any tool to transform a graphql schema to a yml schema ?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

Hello, 👋

Firstly, thanks for all the work you're putting in this package, this is awesome.

I'm working on a project which uses your package and that's based on a massive GraphQL schema written in "GraphQL language". Though, I

[2021-10-31 04:06] murtukov commented on #900
@gregoryalary AFAIK there is no such tool. Consider using PHP classes to define your types: https://github.com/overblog/GraphQLBundle/discussions/889

[2021-11-02 08:31] gregoryalary commented on #900
Thanks for you anwser ! Is there any downside from using YAML instead of PHP classes ?

[2021-11-05 14:44] piotrkreft opened #901 "Debug command depends on specific resolvers"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.x

`Overblog\GraphQLBundle\Command\DebugCommand` depends directly on final resolvers rather than on the interface they do share (`Overblog\GraphQLBundle\Resolver\FluentResolverInterface`). Changing to an interface and depending

[2021-11-14 00:39] murtukov commented on #900
@gregoryalary they aren't opposite things, therefore not comparable. YAML configs are used to generate these PHP classes which are then actually used to define your GraphQL schema. So when you are deciding towards PHP classes you are just skipping an extra step. There is nothing unique in YAML configs what you can't do in PHP classes.

[2021-11-14 00:39] #900 closed

[2021-11-20 08:26] ruudk opened #908 "Make CI stable again"
It seems that the CI is broken for a while and every job shows ❌
I created a bunch of PR's that all are ❌  and that's not very motivating.

How did it came to this? And is there somebody working on improving it?

[2021-11-22 19:52] #901 closed

[2021-11-24 14:25] mcg-web commented on #908
Thanks for the fixes :heart: :+1:

[2021-11-24 14:25] #908 closed

[2021-11-26 11:24] gregoryalary opened #930 "How to use the object value in the access authorization ?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

Hello, 👋

Let's say that we have this schema :

[code]

And this validation logic :

[code]

How can we access the value of  the `Country` is the `countryIsInUserScope` method?
How can we pass it from the expression `access: "@

[2021-11-26 12:19] mcg-web commented on #930
Hello,

`object` is the variable you looking for. It is available only in query not mutation. It value is the return value of the dedicated resolver.

[2021-11-26 12:33] gregoryalary commented on #930
Thanks for your anwser ! Is it documented anywhere ?

[2021-11-26 13:34] mcg-web commented on #930
Variables are [documented here](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/expression-language.md#registered-variables).

[2021-11-27 09:50] mcg-web commented on #859
@Ciloe are you still having this issue with last master version ?

[2021-11-27 09:50] #930 closed

[2021-11-29 09:47] Ciloe commented on #859
I will test that ASAP !

[2021-11-30 11:27] gregoryalary commented on #666
Hello @carlespibernat, have you found a clean way to achieve this ?

[2021-11-30 11:42] carlespibernat commented on #666
At the end I'm using https://github.com/webonyx/graphql-php instead of the bundle so I have more flexibility

[2021-11-30 14:28] #666 closed

[2021-11-30 21:28] BenMorel commented on #831
@mcg-web Could you please tag a release that includes this fix? Thank you!

[2021-12-03 08:33] davidPaymefy commented on #887
any update on when this is scheduled to happen?

[2021-12-06 08:22] Ciloe commented on #859
Nice, it's working ❤️

[2021-12-06 08:22] #859 closed

[2021-12-06 18:53] ruudk opened #939 "Run PHPStan on PHP 8.0"
Currently PHPStan is only executed on PHP 7.4 and therefore we mis a lot of errors.

[2021-12-11 21:52] benelori opened #965 "Allow higher versions of psr/log"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | master

The psr/log library has 2 other major versions, I propose adding the possibility to install those as well.

[2021-12-12 19:51] ruudk commented on #939
This is already fixed.

[2021-12-12 19:51] #939 closed

[2021-12-13 07:48] #965 closed

[2021-12-13 07:49] mcg-web commented on #896
fixed from 0.14

[2021-12-13 07:49] #896 closed

[2021-12-13 07:51] mcg-web commented on #887
0.14 will be release this week @davidPaymefy .

[2021-12-15 14:50] archfz commented on #854
Is noone using this with PhpStorm :(

[2021-12-17 10:26] bravik commented on #863
Tried to update to v0.14, but got same error with standard symfony validation constrints:
![image](https://user-images.githubusercontent.com/1075618/146530360-63eca468-7d97-4d03-be7a-e173a3c80cee.png)

[2021-12-17 11:34] murtukov commented on #863
Hi @bravik. I will look into that issue in the next days. It should be fixed earlier, I just didn't have much time for it.

[2021-12-17 13:29] bravik commented on #863
@murtukov I've made a fix for that:
https://github.com/overblog/GraphQLBundle/pull/968
check it out

[2021-12-17 14:37] olsavmic commented on #842
It's finally released in 0.14, thank you! (although it's missing from the release notes). Closing this issue.

[2021-12-17 14:37] #842 closed

[2021-12-18 20:11] benelori opened #970 "Add non-blocking promise support"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | I dunno :D
| Version/Branch   | master

There's not much to say other than the title, but it would be nice to be able to have the resolvers resolve asynchronously

[2021-12-20 07:45] #887 closed

[2021-12-20 07:57] ruudk commented on #887
https://github.com/overblog/GraphQLBundle/releases/tag/v0.14.0

[2021-12-21 10:09] bravik commented on #863
Fixed in #968

[2021-12-21 10:09] #863 closed

[2021-12-22 09:34] #886 closed

[2022-01-03 04:04] bravik opened #973 "Input validation broken in v0.14: "Cannot use object of type Closure as array""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 14.0.1

Getting Exception:
[code]
Here:
https://github.com/overblog/GraphQLBundle/blob/a77a31483a725963892523b02960434a0a61c924/src/Validator/InputValidator.php#L139

Here are my definitions:
[code]

Here is an input dump on the li

[2022-01-08 10:26] stevro commented on #973
Hi,
I think I encounter a similar problem after upgrading to 0.14.
The exception I encounter while running graphl:dump-schema command in TypeDecoratorListener.php line 171 is:
` Cannot use object of type GraphQL\Type\Definition\NonNull as array`

[2022-01-09 07:59] Makapashev opened #977 "How can I get list of queried fields in my attribute mapped resolver?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.14.1

Hello! In my project i'm using attribute as mapping type. How can I get list of queried fields in my resolver?

[code]

[2022-01-09 15:54] calvera commented on #977
via expression info
[code]

see https://github.com/overblog/GraphQLBundle/blob/0.14/docs/definitions/expression-language.md#registered-variables

[2022-01-09 16:53] Makapashev commented on #977
Thanks, but I got an error message `Failed to parse GraphQL metadata from file "/var/www/src/QueryType.php"`.
Do you know how to solve this?

[2022-01-09 20:45] murtukov commented on #973
@mcg-web wasn't it already fixed?

[2022-01-10 09:31] Makapashev commented on #977
My `QueryType` file contains:

[code]

[2022-01-12 16:00] adlarge opened #978 "Upload file variable not provided"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13.6

Hello, i want to upload a file but i always get the error `Variable $file of required type UploadedFile! was not provided.`, whereas the variable is available in Symfony profiler Uploaded Files section.

This what i did, def

[2022-01-14 09:42] SparkDragon commented on #973
Same errors for me after upgrading to 0.14

[2022-01-18 12:26] itmuckel commented on #467
Sorry to dig this up, but we ran into the same problem. We depend on all types being declared in the schema and currently our developers have to remember to declare types. This is a bit tricky, because we have a proxy in the middle that gets graphql requests, proxies them to the right graphql server and returns the responses. In a preprocessing step it needs to know what types to resolve at which

[2022-01-18 12:35] ruudk commented on #467
Please open a new issue referencing this one. This issue is 3 years old.

[2022-01-18 13:47] itmuckel opened #979 "Include implementing types for interface in schema"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.13

In the [docs](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/type-system/interface.md#with-yaml) it says that types implementing interfaces need to be declared explicitly via YAML if no resolvers are pr

[2022-01-21 13:13] god1dog opened #980 "Batching attacks"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 1.0

It is possible to include in the current repository **rateLimit** in the same way as in  https://github.com/teamplanes/graphql-rate-limit

[2022-01-26 16:22] cirovargas opened #981 "Errors on introspect"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.14.1

Hi!

I'm getting this errors on introspect the GraphQL Schema:

Cannot query field \"onOperation\" on type \"__Directive\".
Cannot query field \"onFragment\" on type \"__Directive\".
Cannot query field \"onField\" on type \"

[2022-01-26 17:10] #981 closed

[2022-02-10 15:37] thedustin opened #984 ""isTypeOf" missing in generated type"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.14.1

Hey folks,
I try to update `overblog/graphql-bundle` in our project from v0.13.7 to v0.14.1. So far, it worked more or less fine, but now I came across a strange issue.

The following yaml configuration

[code]

produced be

[2022-02-12 20:33] thedustin commented on #980
Symfony introduced a generic [rate limiter component](https://symfony.com/doc/current/rate_limiter.html) with v5.2. I would create an event listener for the [`kernel.request` event](https://symfony.com/doc/current/reference/events.html#kernel-request).

[2022-02-15 09:48] benjamindulau opened #987 "Support custom directives definition in SDL"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | master

Would it be a lot of work to support custom directives written in SDL?
Directives are a great tool and we'd like to leverage them on our GraphQL implementation.

This seems to be supported by webonyx (see https://github.com

[2022-02-16 08:56] god1dog commented on #980
I want ready directives
https://graphql.org/learn/queries/#directives
waiting for functionality to be added: https://github.com/overblog/GraphQLBundle/issues/987

[2022-02-18 12:07] bdunogier commented on #973
Same problem here on v0.14.1. Several of the fields that are being looped on are indeed not arrays but types.

[2022-02-21 09:59] #973 closed

[2022-02-21 10:04] mcg-web commented on #984
released in [v0.14.2](https://github.com/overblog/GraphQLBundle/releases/tag/v0.14.2)

[2022-02-21 10:04] #984 closed

[2022-02-21 10:05] mcg-web commented on #973
Fixed and released in [v0.14.2](https://github.com/overblog/GraphQLBundle/releases/tag/v0.14.2)

[2022-02-21 10:06] bdunogier commented on #973
Thank you !

[2022-02-22 14:49] Makapashev opened #990 "Add support of native php8.1 enums"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Version/Branch   | 0.14.2

[2022-03-01 09:34] Bullace commented on #508
Is Federation support planned 1.0? The backend team at my company would very much like to use Federation together with this bundle in order to move away from our monolithic mess to a microservice setup.

I don't know if it helps but I found this Federation implementation for webonyx graphql that I haven't seen posted here before: https://github.com/Skillshare/apollo-federation-php

[2022-03-04 06:49] bravik opened #991 "Input validation generates wrong Composite validators"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | 0.14.2

Validator definition:
[code]

In generated type definitions input validation for Symfony `Composite` constraints is now generated in following manner:
[code]
Which failes with `Array to string conversion`
Which in turn happ

[2022-03-04 09:48] Vincz opened #993 "Latest webonyx version not working"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Version/Branch   | dev

It seems they have removed a couple of functions from the `GraphQL\Utils` class (see https://github.com/webonyx/graphql-php/commit/914d91e717ac2b5e5dc7b4253726b00185ac745b). We are using some of them in the bundle.
The webonyx version is set to the dev-master branch in our composer, so it doesn't w

[2022-03-04 10:08] #993 closed

[2022-03-22 07:15] ace90 opened #997 "How to add entity manager in resolver"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Version/Branch   | x.y.z

[2022-04-19 19:39] hjanuschka opened #1000 "Response Headers"
| Q                | A
| ---------------- | -----
| Bug report?      |  no
| Feature request? | no
| BC Break report? |  no
| RFC?             | no
| Version/Branch   |  master

we'd like to add custom response headers to the graphql requests.
like - from the resolver, depending on the query/model

is there any way, or already a sample, on how to add headers to the $response, from within a QueryIn

[2022-04-26 15:04] mcg-web commented on #1000
Using the [kernel.response event](https://symfony.com/doc/current/reference/events.html#kernel-response) does not answer to your needs?

[2022-04-26 15:10] mcg-web commented on #997
You should declare your service as a resolver. You can see how this can be done [here](https://github.com/overblog/GraphQLBundle/blob/master/docs/definitions/resolver.md).

[2022-04-26 15:11] #991 closed

[2022-05-01 10:05] ktrzos opened #1004 "Issue inside of `InputValidator::buildValidationTree()` for simple input fields"
Hi.

After upgrading dependency to 0.14, I'm getting this error:

After analyzing the issue, I found one problem. I have this schema:

[code]

with `ResourceDataInput` looking like this:

[code]

With above, when entering with xdebug into `InputValidator::buildValidationTree()`
![image](https://user-images.githubusercontent.com/14212721/166141059-af6296c2-7f7a-4bef-a0b5-22e887537f43.png)

I'm seei

[2022-05-07 13:22] ktrzos opened #1005 "Integrating v0.14 with Symfony 6"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.14

Is there any proper reason why v0.14 stable version still cannot be integrated with Symfony 6?

[2022-05-24 12:59] mcg-web commented on #1005
see [v0.15.0](https://github.com/overblog/GraphQLBundle/releases/tag/v0.15.0)

[2022-05-24 12:59] #1005 closed

[2022-06-08 14:49] alleknalle opened #1020 "Is it possible to override serialization of EnumType?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.15.0

Hi there,

I am trying to use an Enum which in my PHP code is a Collection with Value objects. When trying to parse the Collection as Enum  I get the following error:
[code]

I'm using the graphql config where my schema is as

[2022-06-16 15:13] juangcCM commented on #520
@hblaise could you update a bit about this? I am also struggling to use xdebug here.

[2022-06-19 13:19] mathroc opened #1025 "Types configuration post processing"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes?
| BC Break report? | kinda
| RFC?             | no
| Version/Branch   | 0.14 / 0.15

Hi!

I'm upgrading from 0.13 and I'm wondering how to do something I've been doing:

The goal is to create a `Query.IsGranted` object containing one field for each existing mutation. and have the resolver of this ne

[2022-06-19 14:39] mathroc commented on #1025
found a way to override the `%overblog_graphql_types.config%` with a compiler pass :ok:

[2022-06-19 14:39] #1025 closed

[2022-06-20 19:43] juangcCM commented on #520
I managed to make it work. In my case the mapping was wrong in PHPStorm -> Settings/Servers.
I had a few folders excluded so the mapping was totally unaccurate.

[2022-06-22 10:08] benjamindulau commented on #987
Any plan on this?

[2022-07-03 09:11] ktrzos opened #1028 "`ExecutorArgumentsEvent` root value type"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | dev-master

In the `ExecutorArgumentsEvent` class the `$rootValue` constructor parameter has `mixed|null` type, but `getRootValue()` has `?array` type. Should it be like that? With it there's no way of setting up the root value as o

[2022-07-05 06:51] ruudk commented on #899
I think it's because `master` is linked to https://webonyx.github.io/graphql-php dev-master. When they release a new major, master can also be tagged.

But I'm no longer using this bundle. Instead, I directly work with webonyx now.

[2022-07-05 06:51] #899 closed

[2022-07-05 08:00] mcg-web commented on #1028
Thank you for the fix!

[2022-07-05 08:00] #1028 closed

[2022-07-05 14:02] pelex opened #1030 "Missing attribute definition in EnumValue"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.15.1

I have  `User Deprecated: The attributes "values" on annotation @GQL\Enum is deprecated as of 0.14 and will be removed in 1.0. Use the @GQL\EnumValue annotation on the class itself instead.` warning but can't use EnumValue a

[2022-07-05 14:44] Vincz commented on #1030
Hi @pelex! It is not possible to attach annotations to constants. That's why `@GQL\EnumValue` is needed to define additional attributes (`description` or `deprecation`) on constants of the enum class.

With attributes, we can use `#[GQL\Description]` or `#[GQL\Deprecated]` directly on the constants, so the attribute `#[GQL\EnumValue]` is not needed.

To better understand,

Check this file https://

[2022-07-05 15:26] mcg-web commented on #899
@loru88 0.15 came from 0.14 not 1.0-dev (master branch) , anyway the change was include in the last release v0.15.1.

[2022-07-07 10:11] vbartusevicius opened #1031 "BC break when multiple arguments passed to Mutation/Query resolvers"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Version/Branch   | v0.14.0

When the mutation resolver has multiple arguments, they are combined into a single array.

Mutation definition:
[code]

Mutation itself:
[code]
In the example above the `SomeMutation::__invoke` will NOT receive `$args` and

[2022-07-08 05:23] #1031 closed

[2022-07-09 01:22] nkamuo opened #1032 "Overblog GraphQL ObjectTypeExtensionNode definition is not supported right now"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes
| BC Break report? | yes/no
| RFC?             | yes/no
| Version/Branch   | 0.14.3

I am unable to use the graphql specification syntax;
extend type TypeName{
filedName: Type
filedName2: Type
}
is this a bug or is there a way to resolve this soon enough for my project that might require the feat

[2022-07-09 10:25] ktrzos opened #1033 "Utils::invariant issue is back on v0.15"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.15

As v0.15 has the latest webonyx now, the `GraphQL\Utils::invariant(...)` issue came back. Can you please apply the #994 onto v0.15 version of GraphQLBundle?

[2022-07-11 07:05] mcg-web commented on #1033
This change is  part of a [none released version](https://github.com/webonyx/graphql-php/blob/master/CHANGELOG.md#unreleased). v0.15 supports until last stable version [v14.11.6](https://github.com/webonyx/graphql-php/blob/master/CHANGELOG.md#14116) right now. v1.0-dev (master branch) supports this change, we are wanting for the release of webonyx/graphql-php to release it too.

[2022-07-13 05:48] martinszeltins opened #1035 "[Feature Request] Generate TypeScript types automatically"
When working with TypeScript on the frontend, it would be nice if it was possible to have TypeScript types automatically generated. Perhaps, it would be possible to add a Symfony command `generate:typescript` or something like that, which in turn would create a `graphql.ts` file with all TypeScript type definitions?

A workaround for me has been to take the generated `schema.graphql` and manually

[2022-07-13 07:09] Vincz commented on #1035
It doesn't really make sense to generate the TS files from the backend.

You can do it with the frontend from the schema.
You should check this:
https://www.graphql-code-generator.com/

There is a bunch of awesome generators for Typescript and other GQL clients.

[2022-07-19 08:04] #1035 closed

[2022-07-22 13:03] pelex commented on #1030
Hello @Vincz , thank you for the answer. Example from this file allowed me to set all attributes correctly.

[2022-07-22 13:03] #1030 closed

[2022-08-23 14:21] drmax24 commented on #669
I i think overblog requires that trailing slash in an unintuiteve way. We lost some time today on this.
Do you often see trailing slashes on the internet in the url path?

https://www.bbc.com/news/world-europe-62643274

[2022-08-26 14:13] drmax24 opened #1043 "__typename within a query"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.15.1

When writing a query resolver I'm trying to request from database only the fields that are requested within graphql. To created flexible and optimized resolver. (low input/output pressure on database as we don't query 9/10 o

[2022-08-28 16:07] drmax24 commented on #1043
Ah i queried my model with __typename that was inside $select.
Close the issue. My faule

[2022-08-28 16:07] #1043 closed

[2022-08-31 10:08] god1dog opened #1044 "Doc expression mutation"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.15.0

https://github.com/overblog/GraphQLBundle/blob/v0.15.1/docs/definitions/mutation.md
expression must be for the correct arguments to come to the mutator
`resolve: "@=mutation('create_ship', [args['input']['shipName'], args['i

[2022-08-31 11:42] mcg-web commented on #1044
Thank you! The documentation is not up-to-date. This is the right syntax since 0.14, do you want to submit this update for 0.14 branch ?

[2022-09-01 12:48] possi commented on #1044
Commit that changed the signature, and the tests, but not the documentation: https://github.com/overblog/GraphQLBundle/commit/a7f71f5a8b2cde1414f8e621d077bcca05b2c6cc

[2022-09-20 12:40] drmax24 commented on #453
I have an error:
Constraint class 'Symfony\Component\Validator\Constraints\EntityExists' doesn't exist.

When trying to do smth you proposed:

Is it possible to check if entity exists via validation?

[2022-09-20 12:56] drmax24 opened #1056 "EntityExists validation / id exists in a table"
https://github.com/overblog/GraphQLBundle/issues/453

In the following post validation EntityExists was mentioned:
[code]

I need to write a validation to check if id argument is present in a database table. Is it possible to do it right now?

If i try the above example I have an error:
Constraint class 'Symfony\Component\Validator\Constraints\EntityExists' doesn't exist.

[2022-09-22 10:16] Vincz opened #1057 "Publish new version?"
Hi @mcg-web !
Shouldn't we publish a new version with the latest updates?
It has been requested https://github.com/overblog/GraphQLBundle/discussions/1055
What do you think?

[2022-09-23 06:08] mcg-web commented on #1057
Hi @Vincz!
Main branch release required that webonyx/graphql-php release v15. We can't release a stable version base on a non stable branch. Can try to push Webonyx to release but this is out of my scope.

[2022-09-29 12:11] jonasled opened #1059 "Symfony AccessControl on Batching endpoint"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | v0.15.0

Hi, I have a symfony project with the security component and the graphQLBundle. For the single query endpoint everything is working fine, but with the batching endpoint the role check isn't working. Below is my configuratio

[2022-09-29 13:55] Vincz commented on #1059
Hi @jonasled :)
I'm not sure I really understand. Do you mean that the `access: "@=hasRole('ROLE_ADMIN')"` is ignored when using batching?
From your screenshots, I don't see any particular problem as the `- { path: ^/api/graphql/batch, roles: ROLE_USER }` kicks first if the user is not connected, then the `access` should be checked.
Do you mind yo clarify?

[2022-09-29 14:21] jonasled commented on #1059
OK, problem found it was my fault. The apollo Angular module doesn't include the session cookie

[2022-09-29 14:21] #1059 closed

[2022-10-03 10:50] zgperak opened #1060 "Cache file permissions aren't working."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Version/Branch   | 0.15.1

While creating cached files permission is not set.

[https://github.com/overblog/GraphQLBundle/blob/bf90bae01f079e02f9d2a1cf75f06ab5e602707d/src/Generator/TypeGenerator.php#L95](https://github.com/overblog/GraphQLBundle/blob

[2022-10-15 16:29] vladdnepr commented on #1057
https://github.com/webonyx/graphql-php/discussions/1231

[2022-10-17 08:47] systemasis commented on #990
This issue has been resolved on `master` for a month now. Is there anything delaying the release of a stable version including this fix ?

I would love to move to native enumerations without temporary workarounds in my projects.

[2022-11-07 19:29] #1060 closed

[2022-11-22 08:59] armetiz opened #1070 "Explain difference with webonyx"
Hi there,

I'm looking for Persisted Query, but on issue #318 @mcg-web said _"Move to this is no more in plan since the bundle has take a different way from the main lib. If you think this can still be useful feel free to continue discussion here."_.

Could you please explain what do you think about when saying: "the bundle has take a different way from the main lib" ?

Our team is heavily using O